:root {
    --gray900-color : #111827;
    --gray800-color : #1F2937;
    --gray700-color : #374151;
    --gray600-color : #4B5563;
    --gray500-color : #6b7280;
    --gray400-color : #9CA3AF;
    --gray200-color : #E5E7EB;
    --gray100-color : #F3F4F6;
    --gray50-color : #F9FAFB;

    --blue-color : #3692FF;
    --red-color : #F74747;
}