body {
  font-size: 1.5rem;
  height: 100vh;
}

input {
  padding: 12px 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 500px whitesmoke inset !important;
}

.page_background {
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.page > a > img {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.login_box {
  margin: 0;
}

.member_info {
  margin-bottom: 24px;
  & p {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.6rem;
  }
  & input {
    width: 640px;
    height: 5.6rem;
    border-radius: 12px;
    border: none;
    background-color: var(--input-background-color);
    font-size: 1.6rem;
    font-weight: 400;
  }
  & input::placeholder {
    color: var(--input-text-color);
  }
  & input:focus {
    border: var(--input-focus);
  }
}

.input_password {
  position: relative;
  & i {
    position: absolute;
    margin-top: 20px;
    align-items: center;
    right: 16px;
    height: 30px;
    font-size: 22px;
    color: var(--input-focus-eye);
  }
}

#login_btn {
  width: 640px;
  height: 56px;
  background-color: var(--btn-background-color);
  border-radius: 40px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border: none;
  margin-bottom: 24px;
}

.login_simple {
  display: flex;
  background-color: var(--login_simple-background-color);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 640px;
  height: 74px;
  padding: 0 24px;
  border-radius: 8px;
  & p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }
}

.sns_login {
  display: flex;
  gap: 16px;
  width: 100px;
  height: 42px;
  margin: 0;
  justify-content: space-between;
}

.login_signup {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.alert_overlay {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3.3rem;
  font-weight: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
}

.dialog {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 920px;
  text-align: center;
  margin: 0 auto;
}

.dialog__inner {
  background-color: #ffffff;
  width: 540px;
  height: 250px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & p {
    margin-top: 108px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
    width: 500;
  }
}

.dialog__btn__wrap {
  display: flex;
  justify-content: right;
  margin-right: 28px;
  margin-bottom: 28px;

  & button {
    width: 120px;
    height: 48px;
    background-color: #3692ff;
    border: 0px;
    border-radius: 8px;
    margin-top: 51px;
  }
}

#ok {
  color: #ffffff;
  font-size: 1.6rem;
  width: 600;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
  .page_background {
    width: 100%;
  }

  .page {
    max-width: 400px;
  }

  .page > a > img {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 198px;
    height: 66px;
  }

  .login_box {
    margin-left: 24px;
    margin-right: 24px;
  }

  .member_info {
    & p {
      font-size: 1.4rem;
      font-weight: 700;
      text-align: left;
      margin-bottom: 8px;
    }
    & input {
      width: 100%;
      height: 56px;
      font-size: 1.6rem;
    }
  }

  #login_btn {
    width: 100%;
  }

  .login_simple {
    width: 100%;
  }

  .alert_overlay {
    z-index: 99;
    height: 100%;
    width: 100%;
    font-size: 3.3rem;
    font-weight: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
  }

  .dialog {
    width: 100vw;
    height: 600px;
  }

  .dialog__inner {
    width: 327px;
    height: 220px;
  }

  .dialog__btn__wrap {
    justify-content: center;
    margin-bottom: 23px;
    margin-right: 0;
  }
}
