body {
  font-size: 1.5rem;
}

input {
  padding: 12px 20px;
}

@media screen and (max-width: 576px) {
  .page > a > img {
    width: 30%;
  }
  .login_box > input {
    width: 30%;
  }
}

.page_background {
  width: 100%;
  height: auto;
}

.page {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 0.3rem;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.page > a > img {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.login_box {
  margin: 0;
}
.member_info {
  margin-bottom: 24px;
  & p {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1.6rem;
  }
  & input {
    width: 640px;
    height: 5.6rem;
    border-radius: 12px;
    border: none;
    background-color: var(--input-background-color);
    font-size: 1.6rem;
    font-weight: 400;
  }
  & input::placeholder {
    color: var(--input-text-color);
  }
  & input:focus {
    border: var(--input-focus);
  }
}

.input_password {
  position: relative;
}

.input_password i {
  position: absolute;
  margin-top: 20px;
  align-items: center;
  right: 16px;
  height: 30px;
  font-size: 22px;
  color: var(--input-focus-eye);
}

#login_btn {
  width: 640px;
  height: 56px;
  background-color: var(--btn-background-color);
  border-radius: 40px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--white);
  border: none;
  margin-bottom: 24px;
}

.login_simple {
  display: flex;
  background-color: var(--login_simple-background-color);
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 640px;
  height: 74px;
  padding: 0 24px;
  border-radius: 8px;
}

.login_simple > p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.sns_login {
  display: flex;
  gap: 16px;
  width: 100px;
  height: 42px;
  margin: 0;
  justify-content: space-between;
}

.login_signup {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 24px;
}
