@media screen and (max-width: 1920px) {
    .header_box {
        width: 100%;
    }

    .banner_max_size {
        width: 100%;
    }
}

@media screen and (max-width : 1200px) {
    header {
        width: 100%;
        height: 70px;
        /* height: auto; */
        align-items: center;
    }

    .header_box,
    .footer_box {
        width: 100%;
        /* gap: 15px; */
        /* flex-direction: column; */
    }

    .footer_box>p {
        margin-left: 24px;
    }

    .sns_box {
        margin-right: 24px;
    }

    .logo_img {
        margin-left: 24px;
    }

    .lopgin_but {
        margin-right: 24px;
    }

    .banner {
        height: 771px;
    }

    .banner_max_size {
        width: 100%;
        align-items: normal;
        overflow: hidden;
    }

    .banner_content {
        margin-top: 94px;
        align-items: center;
    }

    .banner_content>h1>br {
        display: none;
    }


    .home_banner_img {
        width: 996px;
        right: auto;
        height: auto;
    }

    .articles_box {
        width: 100%;
        height: auto;
    }

    .article_box,
    .article_box_2nd {
        flex-direction: column;
        height: auto;
        margin: 40px 0;
        align-items: normal;
        gap :16px;
        /* padding: 0 24px; */
    }

    .article_content > p {
        font-size: 18px;
        line-height: 25.2px;
    }

    .article_content {
        padding: 0 24px;
    }

    .article_content >h1 {
        font-size: 32px;
        line-height: 44.8px;
    }

    .article_content >h1 > br {
        display: none;
    }

    .article_content >h2 {
        font-size: 18px;
    line-height: 21.6px;
    }

    .article_img {
        width: 100%;
        height: auto;
    }

    .bottom {
        margin-top: 40px;
    }
}

@media (max-width:768px) {

    .nav_bar {
        margin-left: 8px;
        gap: 8px;
    }

    .nav_content {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
        text-align: center;
        width: 70px;
    }

    .header_box,
    .footer_box {
        width: 100%;
        gap: 8px;
    }

    .footer_box {
        flex-direction: column;
        justify-content: center;
    }

    .banner {
        height: 540px;
    }

    .home_banner_max_size {
        width: 100%;
        margin: 0px 24px;
    }

    .banner_content>h1 {
        text-align: center;
    }

    .banner_content > h1 >br {
        display: block;
    }

    .home_banner_img {
        width: 700px;
        right: auto;
        height: auto;
    }

    .footer_box>P {
        margin: auto;
    }

    .sns_box {
        margin: auto;
        text-align: center;
    }

    .logo_img {
        width: 81px;
        height: 40px;
        content: url('../image/mb_logo.png');
        margin-left: 16px;
    }

    .lopgin_but {
        margin-right: 16px;
    }

    .article_box,
    .article_box_2nd {
        margin: 32px 0;
        gap :8px;
    }

    .article_content {
        padding: 0 16px;
    }

    .article_content > p {
        font-size: 16px;
        line-height: 22.4px;
    }

    .article_content >h1 {
        margin-top: 4px;
        font-size: 24px;
        line-height: 33.6px;
    }

    .article_content >h2 {
        margin-top: 8px;
        font-size: 16px;
        line-height: 19.2px;
    }

    .bottom {
        margin-top: 32px;
    }
}