@media screen and (max-width: 1920px) {
    .header_box {
        width: 100%;
    }

    .banner_max_size {
        width: 100%;
    }
}

@media screen and (max-width : 1200px) {
    header {
        width: 100%;
        height: 70px;
        /* height: auto; */
        align-items: center;
    }

    .header_box,
    .footer_box {
        width: 100%;
        /* gap: 15px; */
        /* flex-direction: column; */
    }

    .footer_box>p {
        margin-left: 24px;
    }

    .sns_box {
        margin-right: 24px;
    }

    .logo_img {
        margin-left: 24px;
    }

    .lopgin_but {
        margin-right: 24px;
    }

    .banner_max_size {
        width: 100%;
        align-items: normal;
        overflow: hidden;
    }

    .banner_content {
        margin-top: 94px;
        align-items: center;
    }

    .banner_content>h1>br {
        display: none;
    }


    .home_banner_img {
        width: 996px;
        right: auto;
        height: auto;
    }

    .articles_box {
        width: 100%;
        height: auto;
    }

    .article_box,
    .article_box_2nd {
        flex-direction: column;
        height: auto;
        margin-top: 64px;
        align-items: normal;
    }

    .article_content {
        padding: 0 24px;
    }

    .article_img {
        width: 100%;
        height: auto;
    }
}

@media (max-width:768px) {

    .nav_bar {
        margin-left: 8px;
        gap: 15px;
    }

    .nav_content {
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
        text-align: center;
    }

    .header_box,
    .footer_box {
        width: 100%;
    }

    .home_banner_max_size {
        width: 100%;
        margin: 0px 24px;
    }

    .banner_content>h1 {
        text-align: center;
    }

    .banner_content>h1>br {
        display: block;

    }

    .home_banner_img {
        width: 700px;
        right: auto;
        height: auto;
    }

    .footer_box>P {
        margin: auto;
    }

    .sns_box {
        margin: auto;
        text-align: center;
    }

    .footer_box>p {
        margin-left: 16px;
    }

    .sns_box {
        margin-right: 16px;
    }

    .logo_img {
        width: 81px;
        height: 40px;
        /* background-image: url('../image/mb_logo.png'); */
        margin-left: 16px;
    }

    .lopgin_but {
        margin-right: 16px;
    }

    .article_content {
        padding: 0 16px;
    }
}