input {
  padding: 12px 20px;
}

.signup_background {
  width: 100%;
}

.signup_page {
  display: flex;
  flex-direction: column;
  width: 640px;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}

.signup_page > a > img {
  margin-top: 50px;
  margin-bottom: 40px;
}

.signup_box {
  margin: 0;
}

.signup_info {
  margin-bottom: 24px;

  & p {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 16px;
  }

  & input {
    width: 640px;
    height: 56px;
    border-radius: 12px;
    border: none;
    background-color: var(--input-background-color);
    font-size: 16px;
    font-weight: 400;
  }

  & input::placeholder {
    color: var(--input-text-color);
  }

  & input:focus {
    border: var(--input-focus);
  }
}

.signup_nickname {
  margin-bottom: 24px;
}

.signup_password {
  position: relative;
}

.signup_password i {
  position: absolute;
  margin-top: 20px;
  align-items: center;
  right: 16px;
  height: 30px;
  font-size: 22px;
  color: var(--input-focus-eye);
}

.signup_box > button {
  width: 640px;
  height: 56px;
  background-color: var(--btn-background-color);
  border-radius: 40px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
  border: none;
  margin-bottom: 24px;
}

.signup_login {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-bottom: 20px;
  margin-top: 24px;
}

.error-text {
  color: #f74747;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  margin-left: 16px;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .signup_background {
    width: 100%;
  }

  .signup_page {
    max-width: 400px;
  }

  .signup_page > a > img {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 66px;
    width: 198px;
  }

  .signup_box {
    margin-left: 24px;
    margin-right: 24px;
  }

  .signup_info {
    margin-bottom: 16px;

    & p {
      font-size: 1.4rem;
      margin-bottom: 8px;
    }

    & input {
      width: 100%;
    }
  }

  .signup_nickname {
    margin-bottom: 8px;
  }

  .signup_box > button {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 8px;
  }

  .signup_login {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 20px;
    margin-top: 24px;
  }
}
