@import "./reset.css";
@import "./login.css";

/* body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
} */

/* .navi {
  margin-top: 60px;
} */

/* .logo img {
  width: 396px;
  height: 132px;
} */

.signupBox {
  width: 33.631VW;
  height: 72.252vh;
  margin-top: 4.244vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup {
  height: 57.018vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSignup {
  height: 48.313vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSignup div {
  height: 10.12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputSignup label {
  font-size: 1.8rem;
  font-weight: 700;
}

.inputSignup input {
  height: 2.612vh;
  border-radius: 1.305px;
  padding: 1.741vh 1.261vw;
  border: none;
  background-color: #f3f4f6;
  font-size: 1.6rem;
  font-weight: 400;
}

.inputSignup input:focus {
  outline: 1px solid #3692FF;
}

.pw_box{
  position: relative;
}

.inputSignup input.button:focus {
  outline: none;
}

.showPwbutton {
  position: absolute;
  width: 1.261vw;
  height: 2.612vh;
  top: 5.767vh;
  right: 0;
  background-image : url('../img/eye_check.png');
  background-repeat: no-repeat;
  background-size:1.261vw 2.612vh ;
  border: none;
}

.signup_btn {
  height: 6.094vh;
  border-radius: 4.352vmin;
  border: none;
  padding: 1.741vh 6.516vw;
  background-color: #9ca3af;
  color: #ffffff;
  font-size: 2.0rem;
  font-weight: 600;
}

.easyLogin {
  height: 8.052vh;
  border-radius: 0.870vmin;
  border: none;
  background-color: #e6f2ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 1.261vw;
}

.gotoEasyLogin {
  width: 5.307vw;
  height: 4.57vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.easyLogin img {
  width: 2.207vw;
  height: 4.57vh;
}

.gotoLogin {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #1f2937;
}

.gotoLogin a {
  color : #3182F6;
}

/* 모바일 */
/* 375*812 기준*/
/* 1vmin = 3.75 */
@media all and (min-width:375px) and (max-width:767px){ 
  .signupBox {
    width: 91.733vw;
    height: 72.044vh;
    margin-top: 2.956vh;
  }
  
  .signup {
    width: 91.467vw;
    height: 54.68vh;
    row-gap: 1.97vh;
  }
  
  .inputSignup {
    row-gap: 1.97vh;
  }
  
  .inputSignup div {
    height: 9.975vh;
  }
  
  .inputSignup label {
    font-size: 1.4rem;
  }
  
  .inputSignup input {
    height: 2.956vh;
    border-radius: 3.2vmin;
    padding: 1.97vh 6.400vw;
  }
  
  .showPwbutton {
    width: 6.400vw;
    height: 2.956vh;
    top: 5.049vh;
    background-size: 6.400vw 2.956vh;
  }
  
  .signup_btn {
    height: 6.897vh;
    border-radius: 10.6vmin;
    padding: 1.97vh 33.067vw;
    font-size: 1.6rem;
  }
  
  .easyLogin {
    height: 9.236vh;
    border-radius: 2.13vmin;
    padding: 0 6.4vw;
  }
  
  .gotoEasyLogin {
    width: 26.933vw;
    height: 5.172vh;
  }
  
  .easyLogin img {
    width: 11.2vw;
    height: 5.172vh;
  }
}

/* 태블릿 */
/* 744 * 1133 */
/* 768 *  1170*/
@media all and (min-width:768px) and (max-width:1199px){ 
  .signupBox {
    width: 86.022VW;
    height: 56.487vh;
    margin-top: 2.118vh;
  }
  
  .signup {
    height: 44.131vh;
    row-gap: 2.118vh;
  }
  
  .inputSignup {
    row-gap: 1.412vh;
  }
  
  .inputSignup div {
    height: 8.208vh;
  }
  
  .inputSignup input {
    height: 2.118vh;
    border-radius: 1.612vmin;
    padding: 1.412vh 3.226vw;
  }
  
  .showPwbutton {
    width: 3.226vw;
    height: 2.118vh;
    top: 4.678vh;
    background-size: 3.226vw 2.118vh;
  }
  
  .signup_btn {
    height: 4.943vh;
    border-radius: 5.376vmin;
    padding: 1.412vh 16.667vw;
  }
  
  .easyLogin {
    height: 6.531vh;
    border-radius: 1.075vmin;
    padding: 0 3.226vw;
  }
  
  .gotoEasyLogin {
    width: 13.575vw;
    height: 3.707vh;
  }
  
  .easyLogin img {
    width: 5.645vw;
    height: 3.707vh;
  }
}
