@import "./reset.css";

html {
    font-size : 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: "Pretendard";
}

*::placeholder {
    font-family: "Pretendard";
}

.root {
    display : block;
    position : relative;

    --gray800-color : #1F2937; 
    --gray400-color : #9CA3AF;
    --gray100-color : #F3F4F6;
    --blue-color : #3692FF;

    /* to name color, use
    https://chir.ag/projects/name-that-color/#6195ED */
    --solitude-color : #E6F2FF;
    --dodger-blue2-color :#3182F6;
}

#main_sec_grp_logo_input_btn {
    max-width: 64rem;
    width: 64rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 6rem; 
    margin-bottom : 4rem;
}

#btn_logo {
    width : 39.6rem;
    height : 13.2rem;
}

#main_sec_grp_input_btn_simple_signup {
    max-width : 64rem;
    width : 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap : 2.4rem;
}

.main_sec_input_email_pw {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap : 1.6rem;
    font-size : 1.8rem;
    font-weight : 700;
    line-height : 1.19333em;
    color : var(--gray800-color);
}

.login_input {
    &:focus {
        border: 0.1rem;
        border-style: solid;
        border-color: var(--blue-color);
    }
    max-width: 64rem;
    width : 100%;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--gray400-color);
    height: 5.6rem;
    border-radius: 0.75em;
    background-color: var(--gray100-color);
    border: none;
    text-indent: 2.4rem ;
}


#login_pw {
    /* naming */
}

.grp_pw_input_btn {
    width : 64rem;
    height : 5.6rem;
    display : flex;
    flex-direction : row;
    position : relative;
}

.visible_icon {
    position : absolute;
    top : 50%;
    transform: translateY(-50%);
    object-fit : cover;
    right : 2.4rem;
    width : 2.4rem;
    height : 2.4rem;
    cursor: pointer;
    top : 50%;
    border : none;
}

#btn_login {
    width : 64rem;
    height : 5.6rem;
}

#main_sec_grp_simple_login {
    width: 64rem;
    height: 7.4rem;
    font-size: 1.6rem;
    background-color: var(--solitude-color);
    border-radius: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--gray800-color);
}

#main_sec_simple_login_text {
    margin-left : 2.3rem;
}

#main_sec_grp_icon {
    width: 10rem;
    height: 4.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.3rem;
}

.icon_frame {
    width : 4.2rem;
    height: 4.2rem;
}

#main_sec_grp_signup {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.19333em;
    color: var(--gray800-color);
    align-self: center;
}

.linktext {
    color: var(--dodger-blue2-color);
}