@import "./reset.css";

html {
    font-size : 62.5%;
}

* {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-family: "Pretendard";
}

*::placeholder {
    font-family: "Pretendard";
    color : var(--gray400-color);
}

:root {
    --gray800-color : #1F2937; 
    --gray400-color : #9CA3AF;
    --gray100-color : #F3F4F6;
    --blue-color : #3692FF;
    --red-color : #F74747;

    /* to name color, use
    https://chir.ag/projects/name-that-color/#6195ED */
    --solitude-color : #E6F2FF;
    --dodger-blue2-color : #3182F6;
    --denim-color : #1967D6;
    --white-color : #FFFFFF;
}

#main_sec_grp_logo_input_btn {
    max-width: 64rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 6rem; 
    margin-bottom : 4rem;
}

#btn_logo {
    width : 39.6rem;
    height : 13.2rem;
}

#main_sec_grp_input_btn_simple_signup {
    max-width : 64rem;
    width : 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap : 2.4rem;
}

.main_sec_input_email_pw {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap : 1.6rem;
    font-size : 1.8rem;
    font-weight : 700;
    line-height : 1.16666em;
    color : var(--gray800-color);
}

.login_input {
    &:focus {
        border-color: var(--blue-color);
    };
    max-width: 63.8rem;
    width : 100%;
    font-size: 1.6rem;
    font-weight: 400;
    
    height : 5.4rem;
    border-radius: 0.75em;
    background-color: var(--gray100-color);
    border : 0.1rem;
    border-style: solid;
    border-color : var(--gray100-color);
    text-indent: 2.4rem ;
}

.red_border {
    border-color : var(--red-color);
}

.grp_pw_input_btn {
    max-width : 64rem;
    height : 5.6rem;
    display : flex;
    flex-direction : row;
    position : relative;
}

.visible_icon {
    position : absolute;
    top : 50%;
    transform: translateY(-50%);
    object-fit : cover;
    right : 2.4rem;
    width : 2.4rem;
    height : 2.4rem;
    cursor: pointer;
    top : 50%;
    border : none;
}

.btn_base {
    max-width : 64rem;
    height : 5.6rem;
    background-color : var(--gray400-color);
    border : none;
    border-radius: 4rem;
    font-family : "Pretendard";
    font-size : 2rem;
    font-weight : 600;
    line-height : 1.2em;
    color : var(--white-color);
}

.btn_active_style{
    &:hover{
        background-color : var(--denim-color);
    }
    background-color : var(--blue-color);
    cursor : pointer;
}

#main_sec_grp_simple_login {
    max-width: 64rem;
    height: 7.4rem;
    font-size: 1.6rem;
    background-color: var(--solitude-color);
    border-radius: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;

    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5em;
    color: var(--gray800-color);
}

#main_sec_simple_login_text {
    margin-left : 2.3rem;
}

#main_sec_grp_icon {
    width: 10rem;
    height: 4.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 2.3rem;
}

.icon_frame {
    width : 4.2rem;
    height: 4.2rem;
}

#main_sec_grp_signup {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.19333em;
    color: var(--gray800-color);
    align-self: center;
}

.linktext {
    color: var(--dodger-blue2-color);
}

.warning_text {
    font-size : 1.5rem;
    font-weight : 600;
    line-height : 1.19333em;
    color : var(--red-color);
    padding-left : 1.6rem;
    margin-top : 0.8rem;    
}

.hidden {
    visibility: hidden;
    height : 0rem;
}

.dialog_warn {
    width : 54rem;
    height : 25rem;
    border : none;
    border-radius: 0.5em;
    margin : auto;
}

#dialog_text {
    height : 1.9rem;
    font-weight: 500;
    color : var(--gray800-color);
    position : relative;
    top : 10.8rem;
    font-family: "Pretendard";
    font-size: 1.6rem;
}

#dialog_text.login_dialog_text {
    left : 17.4rem;
}

#dialog_text.signup_dialog_text {
    left : 19.5rem;
}

#btn_dialog {
    width : 12rem;
    height : 4.8rem;
    background : var(--blue-color);
    border : none;
    border-radius : 0.5em;

    font-weight : 600;
    color : var(--white-color);
    position : absolute;
    bottom : 2.8rem;
    right : 2.8rem;

    font-family: "Pretendard";
    font-size: 1.6rem;
}


@media only screen and (min-width: 768px) and (max-width: 1199px) {
    #main_sec_grp_logo_input_btn {
        margin-top : 4.8rem; 
    }

    #main_sec_grp_input_btn_simple_signup.signup {
        gap : 1.6rem;
    }

    #btn_signup.signup {
        margin-top : 0.8rem;
        margin-bottom : 0.8rem;
    }

    #main_sec_grp_simple_login.signup {
        margin-bottom : 0.8rem;
    }
}


@media only screen and (min-width: 375px) and (max-width: 767px) {
    #main_sec_grp_logo_input_btn {
        max-width: 34.4rem;
        margin-top : 2.4rem; 
        margin-bottom : 2.44rem;
    }

    #btn_logo {
        width : 19.8rem;
        height : 6.6rem;
    }

    .btn_base.signup {
        font-size : 1.6rem;
    }

    #main_sec_grp_input_btn_simple_signup {
        max-width : 34.4rem;
        gap : 1.6rem;
    }

    .main_sec_input_email_pw {
        gap : 0.8rem;
        font-size : 1.4rem;
    }

    #main_sec_grp_simple_login 
    {
        margin-top : 0.8rem;
        margin-bottom : 0.8rem;
    }

    #main_sec_grp_simple_login {
        height: 7.5rem;
    }
}