:root {
  --input-background-color: #f3f4f6;
  --input-text-color: #9ca3af;
  --input-forcus: 1px solid #3692ff;
  --input-forcus-eye: #4b5563;
  --btn-background-color: #9ca3af;
  --white: #ffffff;
  --login_simple-background-color: #e6f2ff;
}
