@import '/src/assets/styles/style.css';

.sellProductImg {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.sellProductContainer {
  width: 221px;
  height: 317px;
}

.heartImg {
  height: 16px;
  width: 16px;
}

.sellProductLayout {
  width: 1200px;
  height: 674px;
  justify-content: center;
  gap: 40px 24px;
  display: grid;
  margin: 24px auto 0;
  grid-template:
    repeat(2, 1fr) /
    repeat(5, 1fr);
}

.sellItemName {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
}

.sellItemPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-top: 6px;
}

.sellItemFavoriteCount {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.sellFavoriteBox {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--grey-600);
}

@media (max-width: 1199px) {
  .sellProductLayout {
    width: 711px;
    height: 674px;
    top: 179px;
    gap: 40px 24px;
    grid-template:
      repeat(2, 1fr) /
      repeat(3, 1fr);
  }
}

@media (max-width: 743px) {
  .sellProductImg {
    width: 168px;
    height: 168px;
    border-radius: 12px;
  }

  .sellProductContainer {
    width: 168px;
    height: 264px;
  }
  .sellProductLayout {
    width: 358px;
    height: 560px;
    gap: 32px 8px;
    grid-template:
      repeat(2, 1fr) /
      repeat(2, 1fr);
  }
}
