.itemContainer {
  display: flex;
  margin-top: 104px;
  gap: 24px;
  width: 100%;
  position: relative;

  .imageSlider {
    position: relative;
    display: flex;
    align-items: center;
    width: 770px;
    height: 486px;
    .prevButton,
    .nextButton {
      background: #f3f4f6;
      border-radius: 50%;
      font-size: 24px;
      width: 55px;
      height: 55px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }

    .prevButton {
      left: 10px;
    }

    .nextButton {
      right: 10px;
    }

    .itemImg {
      border-radius: 16px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
.infoContainer {
  width: 100%;
  color: #1f2937;
  position: relative;
  .infoName {
    display: flex;
    justify-content: space-between;
    .itemName {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 16px;
    }
    .kebab {
      width: 24px;
      height: 24px;
    }
  }
  .itemPrice {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .itemHr {
    border: 1px solid #e5e7eb;
    margin-bottom: 24px;
  }
  .itemDescription {
    font-size: 16px;
    font-weight: 600;
    color: #4b5563;
    margin-bottom: 16px;
  }
  .descriptionText {
    font-size: 16px;
    font-weight: 400;
    color: #4b5563;
    margin-bottom: 24px;
    white-space: break-spaces;
  }
  .itemTag {
    font-size: 16px;
    font-weight: 400;
    color: #4b5563;
    margin-bottom: 16px;
  }
  .tagsContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 62px;
    flex-wrap: wrap;
    .tagText {
      padding: 6px 16px;
      border-radius: 26px;
      background-color: #f3f4f6;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .userContainer {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    .profile {
      width: 40px;
      height: 40px;
      margin-right: 16px;
    }
    .ownerId {
      font-size: 14px;
      font-weight: 500;
      color: #4b5563;
      margin-bottom: 2px;
    }
    .createdAt {
      font-size: 14px;
      font-weight: 400;
      color: #9ca3af;
    }
    .favorite {
      margin-left: auto;
      margin-right: 0px;
      border-left: 1px solid #e5e7eb;
      padding-left: 24px;
      .favoriteInfo {
        display: flex;
        gap: 6.53px;
        padding: 8px 12px 4px 12px;
        border-radius: 35px;
        border: 1px solid #e5e7eb;
        height: 40px;
        .ic_favorite {
          width: 26px;
          height: 23px;
        }
        .favoriteCount {
          font-size: 16px;
          font-weight: 500;
          color: #6b7280;
        }
      }
    }
  }
}

.dropdown {
  position: absolute;
  right: 0;
  top: 35px;
  width: 139px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: #ffffff;
  .dropdownItem {
    color: #6b7280;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 16px 0 12px 0;
    height: 46px;
    cursor: pointer;
  }
}

@media (max-width: 1199px) {
  .itemContainer {
    .imageSlider {
      width: 670px;
      height: 340px;
      .itemImg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 743px) {
  .itemContainer {
    display: flex;
    flex-direction: column;
    margin-top: 101px;
    gap: 24px;
    width: 100%;
    .imageSlider {
      width: 100%;
      height: 100%;
      .itemImg {
        width: 100%;
        height: auto;
      }
    }
  }
}
