@mixin font($px, $weight: 400) {
  font-size: #{$px / 16}rem;
  font-weight: $weight;
}

@mixin flex-box(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: 0
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin device-size($breakpoint) {
  @if $breakpoint == tablet {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media only screen and (max-width: 743px) {
      @content;
    }
  }
}

@mixin button(
  $bg: transparent,
  $padding: 12px 23px,
  $radius: 8px,
  $font-color: #fff
) {
  color: $font-color;
  @include font(16, 600);
  background-color: $bg;
  border-radius: $radius;
  padding: $padding;
}

@mixin link($text-color: #fff) {
  color: $text-color;
  &:hover {
    color: lighten($text-color, 30%);
  }
}

@mixin line-horizontal($color: #e5e7eb) {
  width: 100%;
  border-bottom: 1px solid $color;
}

@mixin imgContainer($width, $radius: 0) {
  position: relative;
  aspect-ratio: 1/1;
  max-width: $width;
  height: $width;
  width: 100%;
  border-radius: $radius;

  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
