$primary-color: #3692ff;
$main-bg-color: #cfe5ff;
$secondary-color: #e6f2ff;
$dark-color: #111827;
$error-color: #f74747;

$grey-100: #f3f4f6;
$grey-200: #e5e7eb;
$grey-400: #9ca3af;
$grey-500: #6b7280;
$grey-600: #4b5563;
$grey-800: #1f2937;
$grey-900: #111827;
