/* 모든 요소에 box-sizing 적용 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h3,
p {
  margin: 0;
  padding: 0;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

