.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.create-title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-navy-300);
}

.input-label {
  width: 1200px;
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--color-navy-300);
  margin-top: 24px;
}

.input-container {
  margin-top: 12px;
}
