.create-article-title,
.patch-article-title,
.create-product {
  width: 1200px;
  height: 56px;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #f3f4f6;
  border: 0;
  color: var(--color-gray-100);
  font-weight: 400;
  font-size: 1rem;
}

.create-article-title:focus,
.patch-article-title:focus {
  outline: 1px solid var(--color-blue-100);
}

.create-article-content,
.patch-article-content,
.create-product-content {
  width: 1200px;
  height: 282px;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #f3f4f6;
  border: 0;
  color: var(--color-gray-100);
  font-weight: 400;
  font-size: 1rem;
  resize: none;
}

.create-article-content:focus,
.patch-article-content:focus {
  outline: 1px solid var(--color-blue-100);
}

.create-comment-content {
  width: 1200px;
  height: 104px;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #f3f4f6;
  border: 0;
  color: var(--color-gray-100);
  font-weight: 400;
  font-size: 1rem;
  resize: none;
}

.login-email,
.login-password,
.login-nickname,
.login-password-confirmation {
  width: 640px;
  height: 56px;
  border-radius: 12px;
  padding: 16px 24px 16px 24px;
  background-color: #f3f4f6;
  border: 0;
  color: var(--color-gray-100);
  font-weight: 400;
  font-size: 1rem;
}

.password-container-login-password,
.password-container-login-password-confirmation {
  position: relative;
  width: 640px;
}

.visibility-on,
.visibility-off {
  position: absolute;
  top: 16px;
  right: 24px;
  width: 24px;
  height: 24px;
}
