@import "./reset.css";

html {
	font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Pretendard;
}
label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.bigLogo {
  margin-top: 6rem;
  margin-bottom: 4rem;
}
.bigLogoImg {
  width: 39.6rem;
  height: 13.2rem;
}
.login.mainContent {
  height: 43rem;
}
.signup.mainContent {
  height: 66.4rem;
}
.mainContent {
  width: 64rem;
  color: var(--loginFontBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.4rem;
  position: relative;
}
.inputBox {
  width: 100%;
  height: 11.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.inputForm {
  height: 5.6rem;
  line-height: 100%;
  padding: 1.6rem 2.4rem;
  background-color: var(--inputBack);
  border: 1px solid var(--backWhite);
  border-radius: 1.2rem;
}
.errorMessage {
  height: 2.6rem;
  padding-top: 0.8rem;
  padding-left: 1.6rem;
  font-size: 1.5rem;
  color: var(--errorRed);
}
.inputForm:focus {
  outline: none;
  border: 1px solid var(--mainBlue);
}
.inputForm.error {
  border: 1px solid var(--errorRed);
}
.inputForm::placeholder {
  color: var(--fontGray);
  font-family: Pretendard;
  font-size: 1.6rem;
  font-weight: 400;
}
.eye {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 2.4rem;
  bottom: 4.2rem;
}
.slashed.eye {
  display: none;
}
.loginButton,
.joinButton {
  height: 5.6rem;
  background-color: var(--fontGray);
  border: 1px solid var(--backWhite);
  border-radius: 4rem;
  color: var(--backWhite);
  font-size: 2rem;
  font-weight: 600;
}
.simpleLogin {
  height: 7.4rem;
  background-color: var(--simpleLoginColor);
  display: flex;
  border-radius: 0.8rem;
  justify-content: space-between;
  align-items: center;
}
.simpleLink {
  margin-right: 2.3rem;
  >a {
    text-decoration: none;
    >img {
      width: 4.2rem;
      height: 4.2rem;
    }
  }
}
.simpleSpan {
  margin-left: 2.3rem;
  font-size: 1.6rem;
  font-weight: 500;
}
a>.google {
  margin-right: 1.6rem;
}
.askJoin, 
.askLogin {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.askJoin>.join,
.askLogin>.login {
  display: block;
  color: var(--linkBlue);
  margin-left: 0.4rem;
}
