@import "./reset.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Pretendard;
}
label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.bigLogo {
  margin-top: 60px;
  margin-bottom: 40px;
}
.bigLogoImg {
  width: 396px;
  height: 132px;
}
.login.mainContent {
  height: 430px;
}
.signup.mainContent {
  height: 664px;
}
.mainContent {
  width: 640px;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  position: relative;
}
.inputBox {
  width: 100%;
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.inputForm {
  height: 56px;
  line-height: 100%;
  padding: 16px 24px;
  background-color: #F3F4F6;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
}
.inputForm:focus {
  border: 1px solid #3692FF;
}
.inputForm::placeholder {
  color: #9CA3AF;
  font-size: 16px;
  font-weight: 400;
}
.eye {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  bottom: 16px;
}
.loginButton,
.joinButton {
  display: block;
  height: 56px;
  background-color: #9CA3AF;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
}
.simpleLogin {
  height: 74px;
  background-color: #E6F2FF;
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}
.simpleLink>a {
  text-decoration: none;
}
.simpleLink a>img {
  width: 42px;
  height: 42px;
}
.simpleSpan {
  margin-left: 23px;
  font-size: 16px;
  font-weight: 500;
}
.simpleLink {
  margin-right: 23px;
}
a>.google {
  margin-right: 16px;
}
.askJoin, 
.askLogin {
  display: flex;
  justify-content: center;
}
.askJoin>.join,
.askLogin>.login {
  display: block;
  margin-left: 4px;
}
