@import 'reset.css';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
@import url('/component/nav.css');
@import url('/component/mainCtg.css');
@import url('/component/subCtg.css');
@import url('/component/footer.css');

:root {
  --button--color: #3692ff;
  --text--color: #374151;
  --input--color: #9ca3af;
}

* {
  box-sizing: border-box;
}
