:root {
  --input-color: #F3F4F6;
  --gray400-color: #9CA3AF;
  --gray800-color: #1F2937;
  --blue-color: #3692ff;
  --blue2-color: #3182F6;
  --white-color: #ffffff;
  --red-color: #f74747;
  --background-color: #E6F2FF;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

header {
  margin: 0 auto;
  width: 640px;
}

.logo img {
  padding: 60px 0 40px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 396px;
}

.wrap {
  margin: 0 auto;
  width: 640px;
}

.email, .nickname, .password, .password-repeat {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px;
}

label {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 16px;
}

input {
  background-color: var(--input-color);
  border: none;
  border-radius: 12px;
  color: var(--gray400-color);
  font-size: 16px;
  height: 56px;
  padding: 16px 24px;
}

input:focus {
  border: 1px solid var(--blue-color);
}

.error {
  border: 1px solid var(--red-color);
}

.email-error-message, .password-error-message, .password-repeat-error-message {
  color: var(--red-color);
  display: none;
  font-size: 15px;
  margin: 8px 0 0 16px;
}

.signup-button {
  background-color: var(--gray400-color);
  border: none;
  border-radius: 40px;
  color: var(--white-color);
  cursor: not-allowed;
  font-size: 20px;
  font-weight: 600;
  height: 56px;
  width: 640px;
}

.signup-button:not(.disabled) {
  background-color: var(--blue-color);
  cursor: pointer;
}

.password, .password-repeat {
  position: relative;
}

.password-image {
  position: absolute;
  top: 52px;
  right: 24px;
  width: 24px;
}

.sns-login {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 8px;
  color: var(--gray800-color);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 74px;
  justify-content: space-between;
  margin: 24px 0;
  padding: 25px 0 25px 23px;
}

.sns {
  display: flex;
  padding: 16px 23px 16px 0;
}

.sns img {
  padding: 0 0 0 16px;
  width: 42px;
}

.login {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.login-us {
  color: var(--blue2-color);
  text-decoration: underline;
}

.bg {
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  background-color: var(--white-color);
  border-radius: 8px;
  height: 250px;
  width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal button {
  background-color: var(--blue-color);
  border: none;
  border-radius: 8px;
  color: var(--white-color);
  cursor: pointer;
  height: 48px;
  width: 120px;
  position: absolute;
  bottom: 28px;
  right: 28px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .logo img {
    padding: 48px 0 40px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  header {
    width: 344px;
  }

  .logo img {
    padding: 24px 0;
    width: 198px;
  }

  .wrap {
    max-width: 400px;
    min-width: 343px;
  }

  label {
    font-size: 14px;
    margin: 0 0 8px;
  }

  input {
    margin: 0 0 16px;
  }

  .signup-button {
    max-width: 400px;
    min-width: 343px;
  }

  .password-image {
    top: 40px;
  }

  .sns {
    padding: 16px 24px 16px 0;
  }

  .modal {
    height: 220px;
    width: 327px;
  }

  .alert {
    top: 45%;
  }

  .modal button {
    bottom: 23px;
    right: 103px;
  }
}
