html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
    color: #E5E7EB;
    cursor: pointer;
    text-decoration: none;
}

a:visited {color:white}


/* -------- header -------- */
header {
    background-color: white;
    z-index: 3;
    width: 100%;
    position: sticky;
    top : 0;
    left : 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header_box {
    height: 70px;
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img {
    margin-left: 200px;
}

.nav_bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 46px;
    margin-left:48px;
}

.nav_content {
    width: 78px;
    color: #4B5563;
    font-weight: 700;
    font-size: 18px;
    line-height: 21.48px;
}

.nav_content:hover {
    transform : scale(1.2);
}

.lopgin_but {
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    margin-right: 200px;
    width: 88px;
    height: 42px;
    padding: 12px 23px;
    background-color: #3692FF;
    border-radius: 8px;
}

.lopgin_but:hover {
    /* transform: scale(1.2); */
    background-color: #FFC45F;
}

.lopgin_but a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.09px;
}

/* -------- main -------- */
h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    /* text-align: left; */
    color:#374151;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 540px;
    background-color: #CFE5FF;
}

.banner_max_size {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1920px;
    height: 100%;
}

.banner_content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 1200px;
}

.go_items {
    
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    width :357px;
    height: 56px;
    border-radius: 40px;
    padding: 16px 124px;
    color: white;
    background-color: #3692FF;
    margin-top: 32px;
}

.go_items:hover {
    background-color: #FFC45F;
    color: #3692FF;
}

.home_banner_img {
    width:996px;
    /* width: 100%; */
    height: 446px;
    position: absolute;
    bottom:0;
    right: 223px;
    z-index: 0;
    object-fit:cover
}

.home_home_div_img {
    width:996px;
    height: 446px;
    position: absolute;
    bottom:0;
    right: 223px;
    z-index: 0;
}

/* -------- article -------- */
article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.articles_box {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 720px;
}

.article_box {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 444px;
    gap: 64px;
}

.article_box_2nd {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 444px;
    gap: 64px;
    flex-direction: row-reverse;
}

.article_box_2nd > .article_content {
    text-align: right;
}

.article_content {
    display: flex;
    flex-direction: column;
}

.article_content > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    color: #3692FF;
}

.article_content > h2 {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: #374151;
}
    
.article_img {
    width:588px;
    height: 444px;
}

/* -------- footer -------- */
.footer {
    width: 100%;
    height: 160px;
    background-color: #111827 ;
    display: flex;
    justify-content: center;
}

.footer_box {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    width: 1920px;
    height: 20px;
}

.footer_box > p {
    margin-left : 200px;
    color: #9CA3AF;
}

.footer_center_box {
    display: flex;
    /* gap: 32px; */
    margin: 0 16px;
    justify-content: center;
}

.footer_center_box > a {
    font-size: 16px;
    font-weight: 400;
    color: #E5E7EB;
    margin: 0 16px;
    /* width: 100px; */
}

.footer_center_box a:hover {
    transform: scale(1.25);
}

.sns_box {
    margin-right : 200px;
    display: flex;
    gap: 12px;
}

.sns_box > a {
    width: 20px;
    height: 20px;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon:hover {
    transform: scale(1.5);
}