@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  color: #374151;
}

header {
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.gnb {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  height: 70px;
  justify-content: space-between;
  margin: 0 200px;
}

nav {
  display: flex;
}

.logo {
  margin: 9px 32px 0 0;
}

.logo img {
  height: 51px;
  width: 153px;
}

.logo_m {
  display: none;
}

.board {
  color: #4b5563;
  line-height: 70px;
  text-align: center;
  width: 109px;
}

.login {
  background-color: #3692FF;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-weight: 600;
  height: 42px;
  line-height: 42px;
  text-align: center;
  width: 88px;
}

.visual {
  background-color: #CFE5FF;
  display: flex;
  height: 540px;
  padding: 70px 0 0 320px;
  position: relative;
}

.visual-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.visual-text .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.visual-btn {
  background-color: #3692ff;
  border-radius: 40px;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  font-weight: 600;
  height: 56px;
  line-height: 56px;
  margin: 32px 0 0 0;
  text-align: center;
  width: 357px;
}

.visual img {
  bottom: 0;
  position: absolute;
  right: 223px;
  width: 996px;
}

section {
  display: flex;
  margin: 0 auto;
  padding: 138px 0;
  width: 1200px;
}

section img  {
  width: 588px;
}

.search {
  justify-content: flex-end;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 64px;
}

.text-box .tit {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 12px 0;
}

.text-box .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}

.text-box .description {
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  padding: 24px 0 0 0;
}

.banner {
  background-color: #CFE5FF;
  display: flex;
  height: 540px;
  padding: 0 0 0 320px;
  position: relative;
}

.banner img {
  bottom: 0;
  position: absolute;
  right: 223px;
  width: 996px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  justify-content: center;
  z-index: 1;
}

footer {
  background-color: #111827;
  color: #9ca3af;
  font-size: 16px;
  height: 160px;
  padding: 32px 200px 0 200px;
}

.show {
  display: flex;
  justify-content: space-between;
}

.none {
  display: none;
}

.link {
  color: #e5e7eb;
  display: flex;
}

.link li:first-child {
  padding: 0 30px 0 0;
}

.icon {
  display: flex;
}

.icon li {
  padding: 0 0 0 12px;
}

.icon img {
  height: 20px;
  width: 20px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .gnb {
    margin: 0 24px;
  }

  .logo {
    margin: 9px 20px 0 0;
  }

  .visual {
    height: 771px;
    overflow: hidden;
    padding: 164px 0 0 0;
  }

  .visual-text {
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .visual br {
    display: none;
  }

  .visual-btn {
    margin: 24px 0 0 0;
  }

  .visual img {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }

  section {
    flex-direction: column;
    padding: 40px 0 40px 24px;
    width: 100%;
  }

  section img  {
    width: 696px;
  }

  .search {
    flex-direction: column-reverse;
    padding: 40px 24px 40px 0;
    align-items: flex-end;
  }

  .text-box {
    padding: 16px 0 0 0;
  }

  .text-box .tit {
    padding: 0 0 8px 0;
  }

  .text-box .tltle {
    font-size: 32px;
  }

  .text-box > .title br {
    display: none;
  }

  .text-box .description {
    font-size: 18px;
    line-height: 21.6px;
    padding: 16px 0 0 0;
  }

  .banner {
    height: 771px;
    overflow: hidden;
    padding: 60px 0 0 228px;
  }

  .banner img {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }

  .banner-text {
    justify-content: flex-start;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  footer {
    padding: 32px 24px 0 24px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .gnb {
    font-size: 16px;
    margin: 0 16px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .logo {
    display: none;
  }

  .logo_m {
    display: block;
    margin: 0 16px 0 0;
  }

  .logo_m img {
    height: 27px;
    width: 81px;
  }

  .board {
    line-height: 19.9px;
    padding: 0 8px 0 0;
    width: 100%;
    white-space: nowrap;
  }

  .visual {
    overflow: hidden;
    padding: 118px 0 0 0;
  }

  .visual-text {
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .visual-text .title {
    font-size: 32px;
    line-height: 44.8px;
    text-align: center;
  }

  .visual br {
    display: block;
  }

  .visual-btn {
    margin: 16px 0 0 0;
  }

  .visual img {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 626.12px;
  }

  section {
    flex-direction: column;
    padding: 32px 16px;
    width: 100%;
  }

  section img  {
    width: 343px;
  }

  .search {
    flex-direction: column-reverse;
    align-items: flex-end;
    text-align: right;
  }

  .text-box {
    padding: 16px 0 0 0;
  }

  .text-box .tit {
    font-size: 16px;
    padding: 0 0 4px 0;
  }

  .text-box .title {
    font-size: 24px;
  }

  .text-box > .title br {
    display: none;
  }

  .text-box .description {
    font-size: 16px;
    line-height: 19.2px;
    padding: 8px 0 0 0;
  }

  .banner {
    overflow: hidden;
    padding: 90px 0 0 0;
  }

  .banner img {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    width: 498.91px;
  }

  .banner-text {
    font-size: 32px;
    line-height: 44.8px;
    justify-content: flex-start;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  footer {
    padding: 32px 24px 0 24px;
  }

  .show {
    display: none;
  }

  .none {
    display: block;
  }

  .none .top {
    display: flex;
    justify-content: space-between;
    padding: 0 0 24px 0;
  }
}