html{
    margin:0;
    padding: 0;
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
header{
    height: 70px;
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.test{
    flex-shrink: 0;
    white-space: normal;
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
    

}
.main_container{
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    width: 100%;
    align-items: end;
    justify-content: center;
    background-color: #CFE5FF;
    height: 540px;
    margin: 0 auto;
    overflow: hidden;
    font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    
}
.main_text{
    display: flex;
    flex-direction: column;
    margin-left: 360px;
    margin-bottom: 170px;
}
.main_str{
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    width: 295px;
    height: 112px;
    white-space: normal;
}
#m_market{
    position: relative;
    background-color: #3692FF;
    border-color: white;
    box-shadow: none;
    color: white;
    border-radius: 40px;
    z-index: 8888;
    margin-top: 32px;
    width: 357px;
    height: 56px;
    justify-content: center;
    cursor: pointer;
    border:none;
    font-size:20px
}
.main_logo{
    width: 996px;
    height: 447px;
    margin-bottom: 0px;
    position: relative;
    left:-16px;
}

.logo{
    margin-left: 200px;
    justify-content: center;
    margin-right: 47px;
}

.s_title{
    margin-right: 39px;
    color: #4B5563;
    
}
#login{
    background-color: #3692FF;
    color: white;
    width: 88px;
    height: 42px;
    border-radius: 8px;
    border-color: white;
    box-shadow: none;
    margin-left:auto;
    margin-right: 200px;
    cursor: pointer;
    z-index: 9999;
    border:none;
    font-size:16px;
}
.main_grid{
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    overflow: hidden;
    
    
}


#img_text{
    grid-column: 2;
    display: flex;
    align-items: center;
    margin-top:138px;
    margin-bottom:138px;
    z-index: 1000;
}

#img_text2{
    grid-column: 2;
    display: flex;
    align-items: center;
    margin-top:138px;
    margin-bottom:138px;
    z-index: 1000;
}
.h_img1{
    width: 588px;
    height: 444px;
    z-index: 1000;
}
.h_str{
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    margin-left: 64px;
    margin-right: 64px;

}
#h_str_r{
    color: #3692FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.2px;
    margin-left: 64px;
    margin-right: 64px;

}

.h_str2{
    color:#374151;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    

}
.h_str3{
    color:#374151;
    font-size:24px;
    line-height: 28.8px;
    font-weight: 500;
    
}
.img_right{
    display: flex;
    justify-content:right;
    z-index: 9999;
}

.f_container{
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #CFE5FF;
    overflow: hidden;
}

.f_str {
    z-index: 100;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    white-space: nowrap;
    position: relative;
    margin-left:280px
}

.f_logo{
    width: 996px;
    height: 540px;
    margin-top: 93px;
}
.f_last{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #111827;
    height: 160px;
    justify-content: space-between;
}
#f_last_start{
    font-size: 16px;
    margin-left: 200px;
    margin-top: -32px;
    color: #9CA3AF;
    white-space: normal;
    
}
#f_last_middle{
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 400;
    color: #E5E7EB;
    margin-top: -32px;
    margin-left: auto;
    margin-right: 30px;
    white-space: normal;
    text-decoration-line: none;
    
}
#f_last_end{
    font-size: 16px;
    line-height: 19.09px;
    font-weight: 400;
    color: #E5E7EB;
    margin-top: -32px;
    margin-left:30px;
    margin-right: auto;
    text-decoration-line: none;
    
}
#f_img{
    margin-top: -32px;
    gap:13.78px;
}
#last_img{
    margin-right: 202px;
}

@media (max-width: 1199px) {
    
    .container {
        flex-direction: row;
    }

    #login {
        margin-right: 24px;
        margin-left:auto;
    }
    .f_container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #CFE5FF;
        height: 100%;
        font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        

    }
    .img_right{
        display: flex;
    }
    
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #CFE5FF;
        height: 771px;
        font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        
    }
    .main_grid{
        display: grid;
        grid-template-columns: 1fr 588px 1fr;
    }
    .main_str{
        justify-content: center;
        width: auto;
        height: auto;
    }
    
    .main_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        margin-left:0px;
        margin-right: 0px;
        margin-top:94px;
        margin-bottom: 0px;
    }
    .main_logo{
        height: 100%;
        justify-content: center;
        left:0px;
        overflow: hidden;
    }
    #m_market{
        margin-top: 24px;
    }
    
    .logo{
        margin-left: 24px;
        justify-content: center;
        margin-right: 36.41px;
    }
    .f_logo{
        height: 100%;
        overflow: hidden;
    }
    .f_last{
        flex-direction: column;
        justify-content: center;
    }
    #img_text{
        display: block;
        grid-column: 2;
        margin-top:38px;
        margin-bottom: 38px;

    }
    #img_text2{
        flex-direction: column-reverse;
    }
    
    .h_img1{
        width: 588px;
        height: 444px;
        z-index: 1000;
    }
    .h_str3{
        display: block;
        width: 228px;
        height: 44px;
        font-size:18px;
        line-height: 21.6px;
        letter-spacing: 8%;
    }
    .h_str2{
        font-size: 32px;
        font-weight: 700px;
        line-height: 44.8px;

    }
    .h_str{
        margin-left: 0px;
        margin-right: 0px;
        margin-top:14.45px;
        font-size: 18px;
        font-weight: 700px;
        line-height: 25.2px;
        
    }
    
    
    
    #h_str_r{
        display: block;
        margin-right: 0px;
        width: 100%;
        text-align: right;
    }
    
    #h_str3_r{
        display: inline-block;
        width: 228px;
        height: 44px;
        font-size:18px;
        line-height: 21.6px;
        letter-spacing: 8%;

    }
    .f_str {
        z-index: 100;
        font-size: 32px;
        line-height: 44.8px;
        font-weight: 700;
        white-space: normal;
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        margin-top:90px;
        margin-bottom: 90px;
        width: 236px;
        height: 90px;

    }
    .f_last{
        flex-direction: row;

    }
    #f_last_start{
        margin-left:24px;

    }
    #last_img{
        margin-right: 24px;
    }
    



}

@media (max-width: 761px) {
    .container {
        flex-direction: row;
    }
    .s_title{
        margin-right: 8px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.09px;
    }

    #login {
        margin-right: 16px;
        margin-left:auto;
    }
    .f_container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: center;
        justify-content: center;
        background-color: #CFE5FF;
        height: 100%;
        font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        

    }
    .img_right{
        display: flex;
    }
    
    .main_container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        align-items: end;
        justify-content: center;
        justify-items: center;
        background-color: #CFE5FF;
        height: 771px;
        font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        
    }
    .main_grid{
        display: flex;
        flex-direction: column;
    }
    .main_str{
        justify-content: center;
        width: 236px;
        height: 90px;
        font-size: 32px;
        line-height: 44.8px;
        font-weight: 700px;
    }
    
    .main_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        margin-left:0px;
        margin-right: 0px;
        margin-top:0px;
        margin-bottom: 0px;
    }
    .main_logo{
        height: 281px;
        width: 626.21px;
        
        justify-content: center;
        left:0px;
        overflow: hidden;
    }
    #m_market{
        margin-top: 24px;
    }
    
    .logo{
        margin-left: 16px;
        justify-content: center;
        margin-right: 15px;
    }
    .f_logo{
        height: 270px;
        width: 498px;
        overflow: hidden;
        margin-top: 0px;
    }
    .f_last{
        flex-direction: column;
        justify-content: center;
    }
    #img_text{
        display: block;
        grid-column: 1;
        margin-top:38px;
        margin-bottom: 38px;

    }
    #img_text2{
        flex-direction: column-reverse;
        align-items: normal;
    }
    
    .h_img1{
        width: 100%;
        height: 259px;
        z-index: 1000;
    }
    .h_str3{
        display: block;
        width: 228px;
        height: 44px;
        font-size:16px;
        line-height: 21.6px;
    }
    .h_str2{
        font-size: 24px;
        font-weight: 700px;
        line-height: 44.8px;

    }
    .h_str{
        margin-left: 0px;
        margin-right: 0px;
        margin-top:14.45px;
        font-size: 16px;
        font-weight: 700px;
        line-height: 25.2px;
    }
    
    
    
    #h_str_r{
        position: absolute;
        margin-right: 0px;
        width: 100%;
        text-align: right;
        margin-left:auto;
        font-size: 16px;
    }
    
    #h_str3_r{
        display: inline-block;
        width: 228px;
        height: 44px;
        font-size:16px;
        line-height: 21.6px;
        letter-spacing: 8%;

    }
    .f_str {
        z-index: 100;
        font-size: 32px;
        line-height: 44.8px;
        font-weight: 700;
        white-space: normal;
        text-align: center;
        margin-left:auto;
        margin-right: auto;
        margin-top:90px;
        margin-bottom: 90px;
        width: 236px;
        height: 90px;

    }
    .f_last{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-content: center;
        gap:24px

    }
    #f_last_start{
        margin-left:0px;
        order: 2;
        margin-top: 0px;
        margin-left: 16px;

    }
    #f_last_middle{
        
        margin-top: -32px;
        margin-left: 16px;
        margin-right: auto;
        white-space: normal;
        text-decoration-line: none;
        
    }
    #f_last_end{
        margin-left:30px;
        margin-right: auto;

    }
    #last_img{
        margin-right: 24px;
        margin-top:0px
    }
    
}