@import "./reset.css";

html {
	font-size: 62.5%;
}
body {
  min-width: 120rem;
  background-color: var(--backBlue);
  font-family: Pretendard;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--mainBlue);
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.6rem;
  letter-spacing: 0.02em;
  color: var(--mainFontBlack);
}

/* header */
.header.bg {
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: var(--backWhite);
  border-bottom: 1px solid var(--borderGray);
}
.headerFixed {
  height: 7rem;
  width: 100%;
  max-width: 192rem;
  display: flex;
  justify-content: space-between;
}
.headerContainer {
  display: flex;
  flex-direction: row;
}
.logoImg {
  width: 15.3rem;
  height: 5.1rem;
  margin: 1rem 3.2rem 0.9rem 20rem;
}
.navContainer {
  width: 21.8rem;
  height: 6.9rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}
.nav {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--fontDarkGray);
  width: 50%;
  text-align: center;
  line-height: 6.9rem;
}
.logInContainer {
  margin: 1.4rem 20rem 1.4rem 0;
  padding: 1.2rem 2.3rem;
  background-color: var(--mainBlue);
  border: 1px solid var(--mainBlue);
  border-radius: 0.8rem;
}
.logIn {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--backWhite);
  text-decoration: none;
}
/* title */
.title.section {
  height: 54rem;
  width: 100%;
  max-width: 192rem;
  background-color: var(--backBlue);
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.titleContainer {
  width: 120rem;
  height: 20rem;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); 
  gap: 3.2rem;
}
.titleContent {
  position: absolute;
  top: 0;
}
.titleButtonContainer {
  width: 35.7rem;
  height: 5.6rem;
  padding: 1.6rem 12.4rem;
  background-color: var(--mainBlue);
  border-radius: 4rem;
  position: absolute;
  bottom: 0;
}
.titleButton {
  font-size: 2rem;
  font-weight: 600;
  color: var(--backWhite);
  text-decoration: none;
}
.bannerImg,
.titleImg {
  width: 99.6rem;
  position: absolute;
  bottom : 0;
  left: 36%;
}
.titleImg {
  height: 44.7rem;
}
/* main */
.mainSection {
  width: 100%;
  max-width: 192rem;
  height: 229.8rem;
  background-color: var(--backWhite);
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.mainContainer {
  width: 120rem;
  height: 216rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 150;
}
/* hotItem */
.hotItem.section,
.search.section,
.register.section {
  height: 72rem;
}
.hotItemContainer,
.searchContainer,
.registerContainer {
  width: 100%;
  height: 44.4rem;
  display: flex;
  align-items: center;
  gap: 5%;
}
.hotItemImg,
.searchImg,
.registerImg {
  width: 50%;
  height: 44.4rem;
}
.hotItemContentContainer,
.searchContentContainer, 
.registerContentContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.hotItemContent,
.searchContent,
.registerContent {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}
.hotItemContentDescription,
.searchContentDescription,
.registerContentDescription {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  color: var(--mainFontBlack);
}
/* search */
.searchContainer {
  justify-content: flex-end;
}
.searchContentContainer {
  text-align: right;
}
/* banner */
.bannerSection {
  width: 100%;
  max-width: 192rem;
  height: 54rem;
  background-color: var(--backBlue);
  position: relative;
  overflow-x: hidden;
}
.bannerContainer {
  width: 100%;
  max-width: 120rem;
  height: 54rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerImg {
  height: 54rem;
}
.bannerContent {
  width: 100%;
  margin: auto 0;
}
/* footer */
.footer.section {
  width: 100%; 
  height: 16rem;
  background-color: var(--footColor);
  display: flex;
  justify-content: center;
}
.footerContainer {
  max-width: 152rem;
  width: 100%;
  margin: 3.2rem 20rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--fontGray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footerPnF {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.footerPolicy,
.footerFaq{
  color: var(--fontCoolGray);
  text-decoration: none;
}
.facebook,
.youtube,
.twitter,
.instagram {
  width: 2rem;
  height: 2rem;
}
.footerSns {
  display: flex;
  gap: 1.2rem;
}