:root {
  --subCtgTextHeader--color: #3692ff;
}

.subCtg {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 720px 720px 720px;
}

.subCtg div {
  display: flex;
  justify-content: left;
  align-items: center;
}

.subCtg div.subCtgItem {
  margin-left: 64px;
}

.subCtg div.subCtgRegister {
  margin-left: 64px;
}

.subCtg div .subCtgTextBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.subCtgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#subCtgImg {
  width: 588px;
  height: 444px;
  border-radius: 12px;
}

.subCtgTextHeader {
  width: 72px;
  height: 25px;
  font-size: 18px;
  font-family: 'Pretendard';
  color: var(--subCtgTextHeader--color);
  font-weight: 700;
}

.subCtgTextContent {
  width: 222px;
  height: 112px;
  font-family: Pretendard;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text--color);
  line-height: 56px;
}

.subCtgTextFooter {
  width: 303px;
  height: 58px;
  font-family: Pretendard;
  font-size: 23px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0.08em;
  text-align: left;
  color: var(--text--color);
}

.subCtgTextHeader.search {
  width: 317px;
  height: 25px;
  display: flex;
  justify-content: right;
}

.subCtgTextBox .search {
  display: flex;
  justify-content: right;
  margin-left: 200px;
}

.subCtgTextContent.search {
  width: 317px;
  height: 112px;
  text-align: right;
}

.subCtgTextFooter.search {
  width: 317px;
  height: 58px;
  text-align: right;
}

.subCtgTextFooter div {
  display: flex;
  justify-content: right;
}

.subCtgTextContent.register {
  width: 293px;
  height: 112px;
}

.subCtgTextFooter.register {
  width: 370px;
  height: 58px;
}

.subCtgTextBox {
  width: 317px;
  height: 231px;
}

#subCtgTextSearchMobile,
#subCtgTextRegisterMobile {
  display: none;
}

.subCtgBottom {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe5ff;
}

.subCtgBottomText {
  width: 320px;
  height: 112px;
  font-family: Pretendard;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  color: var(--text--color);
}

.subCtgBottomContainer {
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.subCtgBottomImg {
  background-image: url('/img/subCtg4.png');
  background-size: cover;
  width: 996px;
  height: 540px;
  position: absolute;
  bottom: 0px;
  left: 339px;
}

.subCtgBottomBorder {
  width: 100%;
  height: 100%;
  position: absolute;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

/* max - 1024px */

/* @media screen and (max-width: 1024px) {
  .subCtg {
    display: grid;
    grid-template-columns: 31.25vw 31.25vw;
    grid-template-rows: 37.5vw 37.5vw 37.5vw;
  }

  .subCtg div.subCtgItem {
    margin-left: 3.3vw;
  }

  .subCtg div.subCtgRegister {
    margin-left: 3.3vw;
    height: 106px;
  }

  #subCtgImg {
    width: 30.6vw;
    height: 23.125vw;
    border-radius: 12px;
    margin-left: 3.3vw;
  }

  .subCtgTextHeader {
    width: 10vw;
    height: 4vw;
    font-size: 1em;
    font-family: 'Pretendard';
    font-weight: 700;
  }

  .subCtgTextContent {
    width: 20vw;
    height: 7vw;
    font-size: 1.5em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
  }

  .subCtgTextFooter {
    width: 100%;
    height: 8vw;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.04em;
  }

  .subCtgTextHeader.search {
    width: 90%;
    height: 6vw;
    display: flex;
    justify-content: right;
  }

  .subCtgTextBox .search {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
    margin-left: 0;
  }

  .subCtgTextContent.search {
    width: 90%;
    height: 6vw;
    text-align: right;
  }

  .subCtgTextFooter.search {
    width: 90%;
    height: 6vw;
    text-align: right;
  }

  .subCtgTextContent.register {
    width: 293px;
    height: 112px;
  }

  .subCtgTextFooter.register {
    width: 293px;
    height: 58px;
  }

  .subCtgTextBox {
    width: 317px;
    height: 231px;
  }

  .subCtgBottom {
    height: 36.46vw;
  }

  .subCtgBottomText {
    width: 320px;
    height: 112px;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.5em;
    text-align: left;
  }

  .subCtgBottomContainer {
    width: 62.5vw;
    height: 36.45vw;
  }

  .subCtgBottomImg {
    background-image: url('/img/subCtg4.png');
    background-size: cover;
    width: 51.875vw;
    height: 28.125vw;
    position: absolute;
    bottom: 0px;
    left: 17.7vw;
  }
} */

@media screen and (min-width: 375px) and (max-width: 767px) {
  .subCtg {
    display: grid;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f';
    grid-template-columns: 100vw;
    grid-template-rows: 77.9vw 128px 77.9vw 128px 77.9vw 128px;
    justify-content: center;
    margin-top: 40px;
  }

  .subCtg div {
    display: grid;
    justify-content: center;
  }

  .subCtg div.subCtgItem {
    margin-left: 4.3vw;
    width: 317px;
  }

  .subCtg div.subCtgRegister {
    margin-left: 4.3vw;
    display: flex;
    justify-content: left;
  }

  .subCtg div .subCtgTextBox {
    display: grid;
    justify-content: left;
    align-items: left;
    height: 106px;
  }

  .subCtgContainer {
    display: block;
  }

  #subCtgImg {
    width: 92vw;
    height: 69.26vw;
    border-radius: 12px;
    margin: 0px 16px;
  }

  /* 이미지 그리드 */
  .subCtgImgHot {
    display: grid;
    grid-area: a;
    justify-content: center;
  }

  .subCtgImgSearch {
    display: grid;
    grid-area: c;
  }

  .subCtgImgRegister {
    display: grid;
    grid-area: e;
  }

  .subCtgTextHeader {
    width: 64px;
    height: 22px;
    font-size: 16px;
    font-family: 'Pretendard';
    color: var(--subCtgTextHeader--color);
    font-weight: 700;
  }

  div.subCtgTextContent {
    width: 300px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    justify-content: left;
  }

  div.subCtgTextFooter {
    width: 303px;
    height: 38px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--text--color);
    justify-content: left;
  }

  .subCtgTextHeader.search {
    width: 317px;
    height: 25px;
    display: flex;
    justify-content: right;
  }

  .subCtgTextBox .search {
    display: grid;
    margin-left: 0px;
  }

  .subCtgSearch.subCtgSearchBox {
    display: flex;
    justify-content: right;
    margin-right: 4.3vw;
  }

  /* 모바일,태블릿 줄바꿈 제거 */
  #subCtgTextSearchMobile {
    width: 330px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    justify-content: left;
  }

  #subCtgTextSearchMobile {
    display: flex;
    width: 330px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    justify-content: left;
  }

  #subCtgTextRegisterMobile {
    display: flex;
    width: 320px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    display: flex;
    justify-content: left;
  }

  .subCtgTextContent.search {
    display: none;
  }

  .subCtgTextContent.register {
    display: none;
  }

  /* ------------------------ */

  .subCtgTextFooter.search {
    width: 317px;
    height: 38px;
    text-align: right;
  }

  .subCtgTextFooter div {
    display: flex;
    justify-content: right;
  }

  .subCtgTextFooter.register {
    width: 330px;
    height: 38px;
  }

  .subCtgBottom {
    margin-top: 30px;
    height: 540px;
  }

  .subCtgBottomText {
    width: 320px;
    height: 112px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: 90px;
  }

  .subCtgBottomContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .subCtgBottomImg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/img/subCtg4.png');
    background-size: cover;
    background-position: 50% bottom;
    background-size: 498px;
  }

  .subCtgBottomBorder {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subCtg {
    display: grid;
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f';
    grid-template-columns: 100vw;
    grid-template-rows: 696px 128px 696px 128px 696px 128px;
    margin-top: 40px;
  }

  .subCtg div {
    display: grid;
    justify-content: center;
  }

  .subCtg div.subCtgItem {
    width: 420px;
    margin: 0px 0px;
  }

  .subCtg div.subCtgRegister {
    width: 420px;
    margin-left: 0px;
  }

  .subCtg div .subCtgTextBox {
    width: 350px;
    height: 106px;
    margin-left: 0px;
  }

  .subCtgContainer {
    display: block;
  }

  #subCtgImg {
    width: 696px;
    height: 525.55px;
    border-radius: 12px;
    margin: auto;
  }

  /* 이미지 그리드 */
  .subCtgImgHot {
    display: grid;
    grid-area: a;
    justify-content: center;
  }

  .subCtgImgSearch {
    display: grid;
    grid-area: c;
  }

  .subCtgImgRegister {
    display: grid;
    grid-area: e;
  }

  .subCtgTextHeader {
    width: 64px;
    height: 22px;
    font-size: 16px;
    font-family: 'Pretendard';
    color: var(--subCtgTextHeader--color);
    font-weight: 700;
  }

  div.subCtgTextContent {
    width: 300px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    justify-content: left;
  }

  div.subCtgTextFooter {
    width: 303px;
    height: 38px;
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    letter-spacing: 0.08em;
    text-align: left;
    color: var(--text--color);
    justify-content: left;
  }

  .subCtgTextHeader.search {
    width: 317px;
    height: 25px;
    display: flex;
    justify-content: right;
  }

  .subCtgTextBox .search {
    display: grid;
    margin-left: 0px;
  }

  .subCtgSearch.subCtgSearchBox {
    display: flex;
    justify-content: right;
  }

  /* 모바일,태블릿 줄바꿈 제거 */
  #subCtgTextSearchMobile {
    width: 330px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    justify-content: left;
  }

  #subCtgTextSearchMobile {
    display: flex;
    width: 330px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    justify-content: left;
  }

  #subCtgTextRegisterMobile {
    display: flex;
    width: 320px;
    height: 34px;
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--text--color);
    line-height: 0px;
    display: flex;
    justify-content: left;
  }

  .subCtgTextContent.search {
    display: none;
  }

  .subCtgTextContent.register {
    display: none;
  }

  /* ------------------------ */

  .subCtgTextFooter.search {
    width: 317px;
    height: 38px;
    text-align: right;
  }

  .subCtgTextFooter div {
    display: flex;
    justify-content: right;
  }

  .subCtgTextFooter.register {
    width: 330px;
    height: 38px;
  }

  .subCtgBottom {
    margin-top: 30px;
    height: 771px;
  }

  .subCtgBottomText {
    width: 320px;
    height: 112px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5em;
    text-align: center;
    position: absolute;
    top: 90px;
  }

  .subCtgBottomContainer {
    width: 100%;
    height: 771px;
    display: flex;
    justify-content: center;
  }

  .subCtgBottomImg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/img/subCtg4.png');
    background-size: cover;
    background-position: 50% bottom;
    background-size: 996px;
  }

  .subCtgBottomBorder {
    display: none;
  }
}
