@import 'reset.css';

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

#wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 138px;
}
.mobile {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header-container {
  width: 100%;
  max-width: 1920px;
  padding: 0 200px;
  display: flex;
  align-items: center;
}

.logo {
  max-width: 153px;
  min-width: 153px;
  width: 100%;
  height: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 47px;
}

nav ul {
  display: flex;
  font-weight: 700;
  font-size: var(--18px);
  justify-content: center;
  align-items: center;
  gap: 39px;
  flex-shrink: 0;
}

.login-button {
  display: flex;
  flex-shrink: 0;
  background-color: var(--primary-colour);
  font-size: var(--18px);
  font-weight: 600;
  font-size: 1rem;
  padding: 11.5px 23px;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
}

nav ul a {
  color: var(--grey-600);
}

.logo {
  width: 103px;
  height: auto;
}
/* ----------------------main */

.banner-bg {
  background-color: var(--main-bg-colour);
  width: 100%;
  min-height: 540px;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.banner-bg:nth-of-type(1) {
  margin-top: 70px;
}

.banner-top,
.banner-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  max-width: 1920px;
  position: relative;
  width: fit-content;
}

.banner-top {
  left: calc(74px - 16px);
}

.banner-bottom {
  left: 74px;
}

.banner-top img,
.banner-bottom img {
  width: 100%;
  min-width: 996px;
  max-width: 996px;
  height: auto;
  align-self: flex-end;
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 357px;
  width: 100%;
  z-index: 1;
}

.banner-top .banner-text {
  align-self: center;
  position: relative;
  left: 16px;
}

.banner-top h1,
.banner-bottom p {
  font-size: var(--40px);
  font-weight: 700;
  line-height: 1.4;
  color: var(--grey-700);
  max-width: 300px;
  width: 100%;
}

.banner-text a {
  background-color: var(--primary-colour);
  text-align: center;
  color: #ffffff;
  border-radius: 40px;
  padding: 1rem 124px;
  max-width: 360px;
  font-size: var(--20px);
  font-weight: 600;
  white-space: nowrap;
}

/* ----------------------section */

.card {
  display: flex;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
  padding: 138px 0;
}

.card img {
  max-width: 588px;
  width: 100%;
  height: auto;
}

.card-texts {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 300px;
  width: 100%;
}

.card-texts span {
  font-size: var(--18px);
  font-weight: 700;
  color: var(--primary-colour);
}

.card-texts h2 {
  font-size: var(--40px);
  font-weight: 700;
  line-height: 1.4;
  color: var(--grey-700);
  letter-spacing: 0.02em;
  padding: 12px 0 24px;
}

.card-texts p {
  font-size: var(--24px);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-700);
}

.search .card-texts {
  text-align: right;
  flex-direction: column;
  align-items: flex-end;
}

.search {
  flex-direction: row-reverse;
}

footer {
  background-color: var(--dark-colour);
  display: flex;
  justify-content: center;
  height: 160px;
  font-size: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  width: 100%;
  margin: 2rem 200px 0;
  flex-wrap: wrap;
  height: fit-content;
}

.footer-container p {
  color: var(--grey-400);
}

footer .extra-info {
  display: flex;
  gap: 30px;
}

.extra-info a {
  color: var(--grey-200);
}

footer .icons {
  display: flex;
  gap: 12px;
}

.icons img {
  width: 20px;
  height: 20px;
}

@media (max-width: 1350px) {
  .banner-top,
  .banner-bottom {
    position: static;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .banner-bg .banner-top {
    padding-top: 94px;
    gap: 80px;
  }

  .banner-top img,
  .banner-bottom img {
    align-self: auto;
  }

  .banner-top .banner-text {
    position: static;
  }

  .banner-text {
    justify-content: center;
    align-items: center;
  }

  .banner-text,
  .banner-top h1 {
    max-width: 100vw;
  }

  .banner-bottom {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  /* 주어진 figma는 744px wide */

  #wrapper {
    padding: 0 var(--24px) var(--40px);
  }
  .header-container {
    padding: 0 24px;
  }

  .banner-text {
    max-width: 550px;
  }

  .banner-bg .banner-top {
    padding-top: 94px;
    gap: 124px;
  }

  .banner-bottom {
    padding-top: 60px;
    gap: 59px;
  }

  .banner-top img {
    position: static;
  }

  .card {
    margin: 0 auto;
    gap: 1rem;
    padding: var(--40px) 0;
    flex-wrap: nowrap;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
  }

  .search.card {
    align-items: flex-end;
  }

  .card img {
    max-width: 696px;
  }
  .card-texts {
    max-width: 450px;
    width: 100%;
  }

  .card-texts span {
    font-size: var(--18px);
  }
  .card-texts h2 {
    font-size: 2rem;
    padding: 8px 0 12px;
  }
  .card-texts p {
    max-width: 240px;
    width: 100%;
    font-size: var(--18px);
  }
  .footer-container {
    margin: 2rem var(--24px);
    /* padding: 2rem var(--24px); */
  }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .desktop {
    display: none;
  }

  #wrapper {
    padding: 0 1rem 2rem;
  }

  .mobile {
    display: block;
  }
  .header-container {
    padding: 0 1rem;
  }

  nav {
    padding-left: 1rem;
  }

  .logo {
    min-width: 81px;
    width: 100%;
    height: auto;
  }

  nav ul {
    gap: 8px;
    font-size: 1rem;
  }

  .banner-top {
    padding-top: 48px;
    gap: 1rem;
    align-items: center;
  }

  .banner-bottom {
    padding-top: 94px;
    gap: 90px;
  }

  .banner-top h1,
  .banner-bottom p {
    font-size: 2rem;
    line-height: 1.4;
  }

  .banner-top img {
    min-width: 626px;
  }
  .banner-bottom img {
    min-width: 498px;
  }

  .banner-text {
    max-width: 357px;
  }

  .card {
    margin: 0 auto;
    gap: 1rem;
    padding: 2rem 0;
    flex-wrap: nowrap;
    flex-direction: column;
    width: fit-content;
    align-items: flex-start;
  }

  .search.card {
    align-items: flex-end;
  }

  .card-texts {
    max-width: 330px;
    align-items: flex-start;
  }

  .card img {
    min-width: 343px;
  }

  .card-texts span,
  .card-texts p {
    font-size: 1rem;
  }

  .card-texts p {
    max-width: 200px;
  }

  .register .card-texts p {
    max-width: 250px;
  }

  .card-texts h2 {
    font-size: var(--24px);
    padding: 4px 0 8px;
  }
  .footer-container {
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 24px;
  }

  .footer-container p {
    order: 3;
  }
}
