.Container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  align-items: center;
  align-self: center;
  gap: 24px;
}

.loginLogo {
  margin-bottom: 40px;
}

.noticeText {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-800);
}

.link {
  color: var(--blue-100);
  text-decoration: underline;
}
