.Container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 640px;
  align-items: center;
  align-self: center;
  gap: 24px;
}

.loginLogo {
  margin-top: 60px;
  margin-bottom: 40px;
}

.noticeText {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray-800);
}

.link {
  color: var(--blue-100);
  text-decoration: underline;
}

@media (max-width: 1199px) {
  .loginLogo {
    margin-top: 48px;
    margin-bottom: 40px;
  }
}

@media (max-width: 743px) {
  .loginLogo {
    width: 198px;
    height: 66px;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .Container {
    width: 100%;
    max-width: calc(100% - 32px);
    gap: 24px;
  }
}
