.best-post-favorite {
  height: 2.4rem;
}

.best-post-favorite-img {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.4rem;
  /* 임시로 static 한 이미지 사용 */
  content: url(../../public/icons/ic_heart_empty_small.svg);
}

.best-post-favorite-count {
  font-size: 1.4rem;
}

.post-preview-favorite {
  height: 2.6rem;
}

.post-preview-favorite-img {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.8rem;
  /* 임시로 static 한 이미지 사용 */
  content: url(../../public/icons/ic_heart_empty_small.svg);
}

.post-preview-favorite-count {
  font-size: 1.6rem;
}

.post-detail-favorite {
  height: 4rem;
  font-size: 1rem;
  box-sizing: border-box;
  border: 0.1rem solid;
  border-color: var(--gray200-color);
  border-radius: 3.5em;
}

.post-detail-favorite-img {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: 1.2rem;
  margin-right: 0.4rem;
  /* 임시로 static 한 이미지 사용 */
  content: url(../../public/icons/ic_heart_empty_small.svg);
}

.post-detail-favorite-count {
  font-size: 1.6rem;
  margin-right: 1.2rem;
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .post-detail-favorite {
    height: 3.2rem;
  }

  .post-detail-favorite-img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
