/* ===== header(GNB) ===== */
.header {
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;
  max-width: 192rem;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--white-color);
  border: solid;
  border-width: 1px;
  border-color: var(--alto-color);
}

/* ===== home button ===== */
.btn-home-frame {
  margin-left: 20rem;
  margin-right: 3.2rem;
  min-width: 15.3rem;
}

.img-home {
  object-fit: cover;
  width: 15.3rem;
  height: 5.1rem;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  content: url(../../public/buttons/btn_home.svg);
}

.profile-frame {
  margin-right: 20rem;
}

/* ===== login button ===== */
.btn-login-frame {
  width: 8.8rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.btn-profile {
  border-radius: 50%;
  border: none;
  width: 4rem;
  height: 4rem;
  margin-right: 20rem;
}

.img-login {
  object-fit: cover;
  width: 8.8rem;
  height: 4.2rem;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  content: url(../../public/buttons/btn_login.svg);
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  /* 판다마켓 로고 왼쪽 여백 24px */
  .btn-home-frame {
    margin-left: 2.4rem;
    margin-right: 2rem;
  }

  .profile-frame {
    margin-right: 2.4rem;
  }

  /* 로그인 버튼 오른쪽 여백 24px */
  .btn-login-frame {
  }

  .btn-profile {
    margin-right: 2.4rem;
  }

  /* main section height */
  .height_hero {
    height: 77.1rem;
  }

  .img-home {
    width: 15.3rem;
    height: 5.1rem;
    content: url(../../public/buttons/btn_home.svg);
  }

  .height_article {
    height: 75.8rem;
  }

  .height_blank {
    height: 4rem;
  }

  .img-login {
    content: url(../../public/buttons/btn_login.svg);
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  /* 판다마켓 로고 왼쪽 여백 16px */
  .btn-home-frame {
    margin-left: 1.6rem;
    margin-right: 0.8rem;
  }

  .profile-frame {
    margin-right: 1.6rem;
  }

  /* 로그인 버튼 오른쪽 여백 16px */
  .btn-login-frame {
  }

  .btn-profile {
    margin-right: 1.6rem;
  }

  .img-home {
    width: 8.1rem;
    height: 4rem;
    content: url(../../public/buttons/btn_home_small.svg);
  }

  .list {
    gap: 0.8rem;
  }

  .list-item {
    font-size: 1.6rem;
    width: 100%;
  }

  .img-login {
    content: url(../../public/buttons/btn_login.svg);
  }
}
