.writeContainer {
  padding-top: 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.writeHeadHug {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-bottom: 32px;
}

.writeHeadText {
  color: var(--gray-800);
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.writeTitleInput {
  color: var(--gray-400);
  font-weight: 400;
  background-color: var(--gray-100);
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  border: none;
  max-width: 1200px;
  width: 100%;
}

.writeContentsInput {
  color: var(--gray-400);
  font-weight: 400;
  background-color: var(--gray-100);
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  border: none;
  max-width: 1200px;
  width: 100%;
}

.inputAreaHug {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.errorInput {
  border: 1px solid var(--error-red) !important;
}

.errorMessage {
  color: var(--error-red);
  font-size: 12px;
  font-weight: 500;
  margin-top: 3.5px;
}
