.postContainer {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.postHeadHug {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--gray-200);
}

.postTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-800);
}

.postAuthor {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray-600);
}

.postDate {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray-400);
}

.postContent {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  color: var(--gray-800);
  margin-bottom: 32px;
}

.postAuthorDateHug {
  display: flex;
  gap: 8px;
}

.postProfileTextHug {
  display: flex;
  gap: 16px;
  padding-right: 32px;
  margin-right: 32px;
  border-right: 1px solid var(--gray-200);
}

.postInfoLikeHug {
  display: flex;
  align-items: center;
}

.postLikeHug {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  border-radius: 35px;
  padding: 4px 12px 4px 12px;
}

.postTitleKebabHug {
  display: flex;
  justify-content: space-between;
}

.postLikeValue {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--gray-500);
}

.postCommentsHug {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 16px;
}

.postCommentTitle {
  color: var(--gray-900);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.postCommentsInput {
  color: var(--gray-400);
  font-weight: 400;
  background-color: var(--gray-100);
  padding: 16px 24px 16px 24px;
  border-radius: 12px;
  border: none;
  max-width: 1200px;
  width: 100%;
}

.floatright {
  float: right;
}

.commentSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  margin-bottom: 64px;
}

.commentContent {
  color: var(--gray-800);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.commentItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e5e7eb;
  padding: 8px 8px 8px 8px;
  gap: 24px;
}

.commentMeta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.commentAuthor {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray-600);
}

.commentDate {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray-400);
}

.commentProfile {
  width: 32px;
  height: 32px;
}

.commentProfileTextHug {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;
}

.returnButton {
  display: flex;
  border-radius: 40px;
  background-color: var(--blue-100);
  color: var(--gray-100);
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  width: 240px;
  height: 48px;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.returnButtonHug {
  display: flex;
  gap: 8px;
}
