.logo {
    margin-left: 16px;
}

.img_logo {
    width: 81px;
    height: 40px;
    background-image: url(img/logo.png);
    background-size: cover;
}

.menu{
    margin-left: 16px;
}

.notice-board {
    width: 70px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.09px;
}

.login-box{
    margin-right: 16px;
}

.banner-text-box{
    height: 162px;
    margin-top: 48px;
    font-size: 32px;
    line-height: 44.8px;
    align-items: center;
}

.banner-text {
    width: 236px;
    height: 90px;
    text-align: center;
}

.img-banner {
    width: 626.12px;
    height: 281px;
}

.frame {
    min-width: 375px;
    min-height: 437px;
    height: auto;
}

.hot-item-box {
    min-width: 343px;
    width: 100%;
    min-height: 373px;
    height: auto;
    margin: 32px 16px;
}

.img_box {
    min-width: 343px;
    width: 100%;
    min-height: 259px;
    aspect-ratio: 1/0.755;
}

.hot-item-word-box {
    width: 245px;
    height: 106px;
    margin-top: 8px;
}

.hot-item-word {
    width: 245px;
    height: 34px;
}

.word1 {
    line-height: 22.4px;
}

.word2 {
    margin-top: 4px;
    font-size: 24px;
    line-height: 33.6px;
}

.word3 {
    margin-top: 8px;
    font-size: 16px;
    line-height: 19.2px;
}

.search-box {
    min-width: 343px;
    width: 100%;
    min-height: 373px;
    height: auto;
    margin: 32px 16px;
}

.search-word-box {
    width: 315px;
    height: 106px;
    margin-top: 8px;
}

.search-word {
    width: 315px;
    height: 34px;
    gap: 5.532px;
}

.register-box {
    min-width: 343px;
    width: 100%;
    min-height: 372px;
    height: auto;
    margin: 32px 16px;
}



.register-word-box {
    width: 315px;
    height: 106px;
    margin-top: 8px;
}

.register-word {
    width: 315px;
    height: 34px;
    gap: 5.532px;
}

.footer-frame{
    margin-top: 32px;
}

.footer-word {
    width: 236px;
    height: 90px;
    margin-top: 90px;
    font-size: 32px;
    line-height: 44.8px;
}

.Img_home_bottom {
    width: 498px;
    height: 270px;
}

.bottom-box {
    height: 63px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column-reverse;
}
