.logo {
    margin-left: 200px;
}

.menu{
    margin-left: 32px; 
}

.login-box{
    margin-right: 200px;
}

.banner{
    flex-direction: row;
    justify-content: center;
}

.banner-text-box{
    height: 200px;
    position: relative;
    left: 92.5px;
}

.banner-text {
    width: 295px;
    height: 112px;
}

.img-banner {
    position: relative;
    top: 46.5px;
    left: 76.5px;
}

.frame {
    height: 720px;
}

.hot-item-box {
    width: 955px;
    height: 444px;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 122.5px;
}

.img_box {
    width: 588px;
    height: 444px;
}

.hot-item-word-box{
    width: 303px;
    height: 231px;
}

.hot-item-word {
    width: 212px;
    height: 112px;
}

.word2 {
    margin-top: 12px;
    font-size: 40px;
    line-height: 56px;
}

.word3 {
    margin-top: 24px;
    font-size: 24px;
    line-height: 28.8px;
}

.search-box {
    width: 969px;
    height: 444px;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 115.5px;
}

.search-word-box {
    width: 317px;
    height: 231px;
}

.search-word {
    width: 317px;
    height: 112px;
    display: block;
}

.register-box {
    width: 1022px;
    height: 444px;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 89px;
}

.register-word-box {
    width: 370px;
    height: 231px;
}

.register-word {
    width: 293px;
    height: 112px;
    display: block;
}

.footer-frame{
    margin-top: 138px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-word {
    width: 341px;
    text-align: left;
    position: relative;
    left: 68.5px;
    flex-shrink: 0;
}

.Img_home_bottom {
    position: relative;
    left: 68.5px;
}

.bottom-box {
    padding-left: 200px;
    padding-right: 200px;
}

.mobile {
    flex-grow: 1;
}

.link_box {
    flex-grow: 1;
}
