.logo {
    margin-left: 24px;
}

.menu{
    margin-left: 20px;
}


.login-box{
    margin-right: 24px;
}


.banner{
    height: 771px;
}

.banner-text-box{
    width: 521px;
    height: 136px;
    margin-top: 94px;
}

.banner-text {
    width: 521px;
    height: 56px;
}

.banner-buten {
    margin-left: 82px;
}

.frame {
    height: 758px;
}

.hot-item-box {
    width: 696px;
    height: 678px;
}

.img_box {
    width: 696px;
    height: 524px;
}

.hot-item-word-box {
    width: 335px;
    height: 138px;
    margin-top: 16px;
}

.hot-item-word {
    width: 335px;
    height: 45px;
}

.word2 {
    margin-top: 8px;
    font-size: 32px;
    line-height: 44.8px;
}

.word3 {
    margin-top: 16px;
    font-size: 18px;
    line-height: 21.6px;
}

.search-box {
    width: 696px;
    height: 678px;
}

.search-word-box {
    width: 420px;
    height: 138px;
    margin-top: 16px;
}

.search-word {
    width: 420px;
    height: 45px;
    gap: 7.37px;
}

.register-box {
    width: 696px;
    height: 678px;
}

.register-word-box {
    width: 420px;
    height: 138px;
    margin-top: 16px;
}

.register-word {
    width: 420px;
    height: 45px;
    gap: 7.37px;
}

.footer-frame{
    height: 771px;
    margin-top: 40px;
}

.footer-word {
    width: 286px;
    margin-top: 60px;
}

.bottom-box {
    padding-left: 24px;
    padding-right: 24px;
}

.mobile {
    flex-grow: 1;
}

.link_box {
    flex-grow: 1;
}
