.headerContainer {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  z-index: 1;
}

.mobileLogo {
  display: none;
}

.logo {
  width: 153px;
  height: 51px;
  margin-top: 10px;
  margin-left: 200px;
  cursor: pointer;
}

.moves {
  margin-left: 32px;
  display: flex;
}

.moves p {
  font-size: 18px;
  font-weight: 700;
  color: #4b5563;
  margin: 22px 39px 0 0;
}

.moves p.active {
  color: #3692ff;
}

.login_btn {
  width: 88px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin: 14px 200px 14px auto;
  cursor: pointer;
}

.userInfo {
  display: flex;
  align-items: center;
  margin: 15px 200px 14px auto;
  gap: 6px;
  .userProfile {
    width: 40px;
    height: 40px;
  }
  .userNickname {
    font-size: 16px;
    font-weight: 400;
    color: #4b5563;
  }
}

@media (max-width: 1199px) {
  .logo {
    margin-left: 24px;
  }

  .login_btn {
    margin: 14px 24px 14px auto;
  }

  .userInfo {
    margin: 14px 24px 14px auto;
  }
}

@media (max-width: 743px) {
  .logo {
    display: none;
  }

  .mobileLogo {
    display: block;
    margin-left: 16px;
    margin-top: 15px;
    width: 81px;
    height: 40px;
  }

  .login_btn {
    margin: 14px 16px 14px auto;
  }

  .userInfo {
    margin: 14px 16px 14px auto;
    .userNickname {
      display: none;
    }
  }

  .moves {
    margin-left: 16px;
    display: flex;
  }

  .moves p {
    font-size: 16px;
    font-weight: 700;
    color: #4b5563;
    margin: 22px 8px 0 0;
  }
}
