@use "@/styles/globals/shared" as g;

.Main {
  max-width: 1200px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 150px;
  margin: 0 auto;
  @include g.device-size(tablet) {
    padding: 24px;
  }
  @include g.device-size(mobile) {
    padding: 16px;
  }
}
