.searchContainer {
  position: relative;
  display: flex;
}

.inputSearch {
  width: 1054px;
  height: 42px;
  border-radius: 12px;
  padding: 9px 40px;
  background-color: #f3f4f6;
  margin-right: 16px;
  background-image: url("../../images/ic_search.png");
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: 24px;
}

.customDropdown {
  display: inline-block;
  width: 130px;
  height: 42px;
}

.customDropdown__selected {
  background-color: white;
  border: 1px solid #e5e7eb;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-image: url("../../images/ic_arrow_down.png");
  background-repeat: no-repeat;
  background-position: 86px;
}

.customDropdown__options {
  z-index: 1000;
  display: block;
  position: relative;
  margin-top: 8px;
}

.customDropdown__options :first-child {
  border-radius: 12px 12px 0 0;
}

.customDropdown__options :last-child {
  border-radius: 0 0 12px 12px;
}

.option {
  width: 130px;
  height: 42px;
  text-align: center;
  padding-top: 9px;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
}
