.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  max-width: 1200px;
  padding: 26px 24px;
  gap: 40px 0px
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 18px 20px;
  }
}

@media (max-width: 744px) {
  .mainContainer {
    padding: 24px 16px;
  }
}