.best {
  grid-row: 1;
  grid-column: 2;
}

.bestProduct {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.bestProductList {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

@media (max-width: 1199px) {
  .bestProduct {
    width: 343px;
    height: 343px;
    border-radius: 19px;
  }

  .bestProductList {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .bestProductItem {
    justify-self: center;
  }
}

@media (max-width: 743px) {
  .bestProduct {
    width: 100%;
    height: auto;
  }

  .bestProductList {
    grid-template-columns: 1fr;
  }
  .bestProductItem {
    width: 100%;
    height: 100%;
  }
}
