@import '/src/assets/styles/style.css';

.productImg {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.productContainer {
  width: 282px;
  height: 378px;
}

.heartImg {
  height: 16px;
  width: 16px;
}

.bestProductContainer {
  width: 1200px;
  margin: 0 auto;
}

.bestProduct {
  align-items: center;
  margin-top: 94px;
  font-size: 20px;
  line-height: 42px;
  font-weight: 700;
  color: var(#111827);
  height: 32px;
  width: 92px;
}

.productLayout {
  gap: 24px;
  display: flex;
  margin-top: 16px;
}

.itemDescription {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
}

.itemPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  margin-top: 6px;
}

.itemFavoriteCount {
  display: inline;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.favoriteBox {
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--grey-600);
}

@media (max-width: 1199px) {
  .bestProductContainer {
    width: 710px;
    margin: 0 auto;
  }
  .productImg {
    width: 343px;
    height: 343px;
    border-radius: 19.46px;
  }

  .productContainer {
    width: 343px;
    height: 434px;
  }
}

@media (max-width: 743px) {
  .bestProductContainer {
    width: 343px;
    margin: 0 auto;
  }
}
