.best-product-title {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  color: var(--gray900);
}
.best-products {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
  margin-bottom: 8rem;
}
