.best-product-title {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  color: var(--gray900);
}
.best-products {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 8rem;
}
@media (max-width: 743px) {
  .best-products {
    justify-content: center;
  }
}
