.body {
  margin-top: 2.4rem;
  padding-left: 36rem;
  padding-right: 36rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray800);
}
.postButton {
  width: 7.4rem;
  height: 4.2rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--gray400);
  color: var(--gray100) !important;
}
.active {
  background-color: var(--primary100);
  &:hover {
    cursor: pointer;
  }
}
.formGroup {
  color: var(--gray800);
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}
.input {
  margin-top: 1.2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--gray100);
  &::placeholder {
    font-family: "Pretendard", sans-serif;
    color: var(--gray400);
  }
}
.textarea {
  margin-top: 1.2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;
  border: none;
  background-color: var(--gray100);
  height: 28.2rem;
  &::placeholder {
    font-family: "Pretendard", sans-serif;
    color: var(--gray400);
  }
}
