.footer {
  background-color: var(--footColor);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footerContainer {
  height: 16rem;
  padding: 3.2rem 20rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray400);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerPnf {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.footerPolicy,
.footerFaq {
  color: var(--gray200);
  text-decoration: none;
}

.footerSns {
  display: flex;
  gap: 1.2rem;
}

@media (max-width: 1199px) {
  .footerContainer {
    padding: 3.2rem 2.4rem;
  }
}

@media (max-width: 743px) {
  .footerContainer {
    padding: 3.2rem 1.6rem;
    flex-wrap: wrap;
  }
  .footerCorp:nth-child(1) {
    order: 3;
    flex-basis: 50%;
  }
  .footerPnf:nth-child(2) {
    order: 1;
    flex-basis: 50%;
  }
  .footerSns:nth-child(3) {
    order: 2;
    flex-basis: 50%;
    display: flex;
    justify-content: end;
  }
}
