.footer {
  display: flex;
  justify-content: center;
}
.page-button {
  width: 4rem;
  height: 4rem;
  margin: 0 0.4rem;
  font-family: "Pretendard", sans-serif;
  border: 1px solid var(--gray200);
  border-radius: 4rem;
  background-color: var(--white);
}
