.nav-bar {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  border-bottom: 1px solid var(--borderGray);
}
.nav-left {
  display: flex;
}
.logo {
  width: 15.3rem;
  height: 5.1rem;
  &:hover {
    cursor: pointer;
  }
}
.menu {
  margin-left: 3.2rem;
  display: flex;
  align-items: center;
}
.menu-content {
  padding: 0 1.5rem;
  color: var(--gray600);
  &:hover {
    cursor: pointer;
  }
}
.icon {
  width: 4rem;
  height: 4rem;
  &:hover {
    cursor: pointer;
  }
}
@media (max-width: 1199px) {
  .nav-bar {
    padding: 0 2.4rem;
  }
  .menu {
    margin-left: 2rem;
  }
}
@media (max-width: 743px) {
  .nav-bar {
    padding: 0 1.6rem;
  }
}
