.navBar {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20rem;
  border-bottom: 1px solid var(--borderGray);
}
.navLeft {
  display: flex;
}
.logo {
  width: 15.3rem;
  height: 5.1rem;
  &:hover {
    cursor: pointer;
  }
}
.smallLogo {
  display: none;
}
.menu {
  margin-left: 3.2rem;
  display: flex;
  align-items: center;
}
.menuContent {
  padding: 0 1.5rem;
  color: var(--gray600);
  white-space: nowrap;
}
.menuContent:hover {
  cursor: pointer;
}
.menuContent a {
  color: var(--gray600);
  text-decoration: none;
}
.menuContent a:visited {
  color: var(--gray600);
}
.menuContent a.active {
  color: var(--primary100);
  text-decoration: none;
}
.icon {
  width: 4rem;
  height: 4rem;
  &:hover {
    cursor: pointer;
  }
}
@media (max-width: 1199px) {
  .navBar {
    padding: 0 2.4rem;
  }
  .menu {
    margin-left: 2rem;
  }
}
@media (max-width: 743px) {
  .navBar {
    padding: 0 1.6rem;
  }
  .logo {
    display: none;
  }
  .smallLogo {
    display: block;
    width: 8.1rem;
    height: 2.7rem;
  }
}
