.registrationForm {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formHeader h2 {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: #1f2937;
}

.submitButton {
  width: 74px;
  height: 42px;
  padding: 12px 23px;
  background-color: #3692ff;
  border: none;
  border-radius: 8px;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  color: #f3f4f6;
  cursor: pointer;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.formGroup label {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.09px;
  color: #1f2937;
}

.formGroup input,
.formGroup textarea {
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f3f4f6;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
  color: #1f2937;
}

.formGroup input::placeholder,
.formGroup textarea::placeholder {
  padding-left: 3px;
}

.formGroup input.error,
.formGroup textarea.error {
  border-color: #f74747;
}

.errorMessage {
  color: #f74747;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.32px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #e5e7eb;
  border-radius: 26px;
  padding: 6px 16px;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1f2937;
  position: relative;
}

.tag span {
  margin-right: 10px;
}

.tag button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0;
}

.tag button .roundIcon {
  display: block;
  margin: auto;
}

.tag button .deleteIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formGroup input#name,
.formGroup input#price,
.formGroup input#tag,
.formGroup textarea#description {
  width: 100%;
}

.formGroup input#name,
.formGroup input#price,
.formGroup input#tag {
  height: 40px;
}

.formGroup textarea#description {
  height: 270px;
}

