.registration-form {
  color: var(--gray800);
}
.register-title-container {
  display: flex;
  justify-content: space-between;
}
.input {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  background-color: var(--gray100);
  border: none;
  border-radius: 1.2rem;
  text-indent: 2.4rem;
}
input {
  height: 5.6rem;
}
textarea {
  height: 28.2rem;
}
