.sale-product-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}
.nav-options {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1.2rem;
}
.sale-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.sale-product {
  margin-bottom: 4rem;
}
.sale-product-footer {
  margin: 0 auto;
  height: 11.2rem;
}
.search-product {
  width: 32.5rem;
  height: 4.2rem;
  background-color: var(--gray100);
  border: none;
  border-radius: 1.2rem;
  text-indent: 4.4rem;
}
.search-product::placeholder {
  font-family: Pretendard;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}
.search-icon {
  width: 2.4rem;
  height: 2.5rem;
  position: absolute;
  left: 1.6rem;
}
