.sale-product-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2.4rem;
}
.nav-options {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.sale-products {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
.sale-product {
  margin-bottom: 4rem;
}
.sale-product-footer {
  margin: 0 auto;
  height: 11.2rem;
}
