#section-top-bottom {
    background-color: #CFE5FF;
    height: 540px;
}

#section-main {
    height: 720px;
}

.banner-box-set {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottom-bg-img {
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 80px;
    object-fit: scale-down;    
}

#top-bg-img {
    height: 100%;
    display: flex;
    align-items: flex-end;
    object-fit: none;    
}

.fixed-banner-size {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.top-bottom-string-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: visible;
    position: relative;
    left: 15px;
}

.banner-string-box {
    padding: 0px 50px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;

}

.right-align {
    text-align: right;
}

.banner-header-string {
    font-size: 18px;
    color: #3692FF;
}

.key-sring {
    font-size: 40px;
    line-height: 56px;
    display: flex;
    flex-direction: column;

}

.description-sring {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#goto-lookin-item {
    width: 360px;
    height: 60px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    background-color: #3692ff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
