* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: fill;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard", sans-serif;
    font-size: 1rem;
    color: #374151;
    word-break: keep-all;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    overflow: auto;
}



main {
    padding-top: 70px;
}

footer {
    height: 160px;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

a {
    text-decoration: none;
    color: #4B5563;
    cursor: pointer;
}
