* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard", sans-serif;
    font-size: 1rem;
    color: #374151;
    word-break: keep-all;
    white-space: nowrap;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header {
    width: 100%;
    height: 70px;
    padding: 0px 200px;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

main {
    padding-top: 70px;
}

footer {
    height: 160px;
    background-color: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #4B5563;
    cursor: pointer;
}
