header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 200px;
    justify-content: space-between;
    word-break: keep-all;
    white-space: nowrap;

}

#left-logo-box {
    min-width: 182px;
}

#board-list-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-board {
    width: 106px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: keep-all;

}

#right-button-box {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    word-break: keep-all;
    white-space: nowrap;
}

.top-etc-button {
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 12px 23px;
    background-color: #3692ff;
    color: #ffffff;

}