.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 4px;
}

.pageButton {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: var(--white);
  color: var(--gray-500);
  cursor: pointer;
}

.pageButton:hover {
  background-color: #f0f0f0;
}

.pageButton.active {
  background-color: var(--blue-100);
  color: var(--white);
  border: none;
}

.pageButton:disabled {
  color: #ccc;
  cursor: not-allowed;
}
