.button {
  display: flex;
  background-color: var(--blue-100);
  color: var(--white);
  padding: 12px 23px 12px 23px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}

.disabled {
  display: flex;
  background-color: var(--gray-400);
  color: var(--gray-100);
  padding: 12px 23px 12px 23px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  cursor: auto;
}
