.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.product-container {
  display: flex;
}

.product-content-container {
  width: 690px;
  height: 496px;
  margin-left: 24px;
}

.product-image {
  width: 486px;
  height: 486px;
  border: 0;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

.product-name {
  width: 1200px;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-description {
  width: 690px;
  height: 104px;
  margin-bottom: 24px;
}

.product-tags-title {
  font-weight: 600;
}

.tags-container {
  width: 690px;
  display: flex;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 62px;
}

.tag {
  padding: 6px 16px 6px 16px;
  background-color: #f3f4f6;
  font-size: 1rem;
  font-weight: 400;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}

.product-info {
  width: 690px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-user {
  font-weight: 600;
}

.horizontal-line {
  height: 0px;
  width: 690px;
  border: 1px solid var(--color-cool-gray-200);
  margin-top: 16px;
  margin-bottom: 24px;
}

.product-description-title {
  margin-bottom: 16px;
  font-weight: 600;
}

.vertical-line {
  height: 40px;
  width: 0px;
  border: 1px solid var(--color-cool-gray-200);
  margin-left: 32px;
  margin-right: 32px;
}

.favorite-count {
  width: 87px;
  height: 40px;
  padding: 4px 12px 4px 12px;
  border: 1px solid var(--color-cool-gray-200);
  border-radius: 35px;
  font-size: 1rem;
  color: var(--color-gray-200);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite-image {
  width: 24px;
  height: 24px;
  position: relative;
}

.article-updated {
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--color-gray-100);
}
