.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 104px;
}

@media (max-width: 1199px) {
  .container {
    width: 696px;
  }
}

@media (max-width: 743px) {
  .container {
    width: 100%;
    margin-left: 16px;
    padding-right: 16px;
  }
}
