.not-found-comment-image {
  position: relative;
  width: 140px;
  height: 140px;
  margin-top: 40px;
}

.not-found-content {
  margin-top: 16px;
  font-size: 1rem;
  line-height: 26px;
  text-align: center;
  color: var(--color-gray-100);
}

.comment-list-container {
  margin-bottom: 64px;
}
