.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 1200px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-right: auto;
}

.bestArticleContainer {
  display: flex;
  gap: 24px;
}

.background{
  display: flex;
  justify-content: center;

  border-radius: 8px;
  padding: 0 24px 16px 24px;
  background-color: #F9FAFB;
}

.bestArticle {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 336px;
}

.bestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 102px;
  height: 30px;
  border-radius: 0 0 16px 16px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #3692FF;
}

.bestArticleHeader {
  display: flex;
  gap: 8px;
}

.articleTitle {
  width: 256px;
  font-weight: 600;
  font-size: 20px;
  color: #1f2937;
}

.bestArticleInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bestArticleInfo {
  display: flex;
  gap: 8px;
}

.user {
  font-size: 14px;
  line-height: 20px;
  color: #4b5563;
}

.date {
  font-size: 14px;
  color: #9ca3af;
}

.favorite {
  font-size: 14px;
  color: #6b7280;
}
