.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey-100);
  background-color: var(--blue);
}
