.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  width: 298px;
  height: 202px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.modalText {
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* 중앙 정렬로 변경 */
  width: 100%;
  gap: 8px; /* 버튼 사이의 간격을 8px로 설정 */
}

.cancelButton,
.confirmButton {
  width: 88px;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.cancelButton {
  background-color: #f0f0f0;
  color: #333;
}

.confirmButton {
  background-color: #ff5a5f;
  color: white;
}
