.dropDownContainer {
  position: relative;

}

.dropDownButton {
  display: flex;
  gap: 24px;
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  background-color: #ffffff;
  text-wrap: nowrap;
}

.mobileDropDown {
  display: none;
}

.dropDown {
  position: absolute;
  top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.dropDown a {
  padding: 10px 0;
}

.dropDown a:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
  width: 100%;
  text-align: center;
}