/* components/Footer.module.css */

.footer {
  background-color: #111827;
  color: #9ca3af;
  width: 100%; /* Fixed */
  height: 160px; /* Fixed */
  padding: 32px 200px;
  font-size: 16px;
  position: absolute;
  top: 1628px;
}

.footerContent {
  width: 1520px; /* Fill */
  height: 20px; /* Hug */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footerMenu {
  display: flex;
  gap: 10px;
  color: white;
}

.footerMenu a {
  text-decoration: none;
  color: white;
}

.socialMedia {
  display: flex;
  gap: 10px;
}
