.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.passwordToggle {
  position: relative;
  bottom: 55px;
  width: 0px;
  height: 0px;
  left: 95%;
}
.error {
  color: #f74747;
  font-size: 14px;
  font-weight: 600;
  margin-left: 16px;
  width: 100%;
  margin-bottom: 16px;
}
.label {
  font-size: 18px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 16px;
}
.input {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  padding: 16px 24px 16px 24px;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
  box-sizing: border-box;
  margin-bottom: 16px;
}
.button {
  width: 100%;
  height: 56px;
  border: none;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3692ff;
  color: #f3f4f6;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
