/* components/Nav.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarLeftContainer {
  
  display: flex; 
  align-items: center; 
  gap: 40px; 
}

.navbarLogo {
  
  display: flex; 
  align-items: center; 
}

.navbarLinks {
  
  list-style: none; 
  display: flex; 
  gap: 20px; 
  margin: 0; 
  padding: 0; 
}

.navbarLinks li {
  margin: 0; /
}

.navbarLinks a {
  text-decoration: none; 
  color: #000000; 
  font-size: 18px; 
}

.navbarAuth {
  
  display: flex; 
  align-items: center; /
}

.loginBtn {
  
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 11.5px 23px; 
  cursor: pointer;
  border-radius: 5px; 
  font-size: 19px; 
  transition: background-color 0.3s; 
}

.loginBtn:hover {
  background-color: #0056b3; 
}
