.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 26px;
  width: 1200px;
  margin-bottom: 16px;
}

.best-product-container {
  width: 1200px;
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
