
#main-enter-box {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enter-box {
    height: 95px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#easy-social-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 23px;
    border-radius: 8px;
    background-color: var(--keycolor-bright-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#social-icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#social-icon > a {
    display: flex;
    align-items: center;
}



input {
    width: 100%;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--keycolor-white-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

input::placeholder {
    color: var(--keycolor-gray);
}

input:focus {
    outline-color: var(#3692FF;);
}