* {
    font-family: "Pretendard", sans-serif;
}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    padding: 0px 640px;
}

header {
    padding-top: 60px;
    box-sizing: border-box;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

main {
    width: 100%;
}

.middle_img {
    display: flex;
    align-items: center;
}

footer {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    padding: 24px 0px;
    justify-content: space-between;
}

#main-enter-box {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enter-box {
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;

}

.input-string {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F3F4F6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9CA3AF;
    display: flex;
}


#login-button {
    margin: 24px 0px;
    padding: 16px 0px;
    border-radius: 40px;
    background-color:#9CA3AF;
    text-align: center;
}

#login-string {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
}

#easy-social-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 23px;
    border-radius: 8px;
    background-color: #E6F2FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}


#social-icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}







/* #id {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9CA3AF;
} */


/* .input-string {
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #9CA3AF;
    background-color: #F3F4F6;
} */