* {
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
}

:root {
    --keycolor-blue : #3692FF;
    --keycolor-gray : #9CA3AF;
    --keycolor-white-gray : #F3F4F6;
    --keycolor-bright-blue : #E6F2FF;
    --keycolor-red : #F74747;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

header {
    padding-top: 60px;

}

main {
    width: 100%;
    max-width: 640px;
}

footer {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    padding: 24px 0px;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 16px 24px;
    border-radius: 12px;
    background-color: var(--keycolor-white-gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid;
    border-color: #ffffff;
}

input::placeholder {
    color: var(--keycolor-gray);
}

input:focus {
    outline-color: var(--keycolor-blue);
}

.password-box {
    position: relative;
    display: flex;
    align-items: center;
}

.eye-img {
    position: absolute;
    right: 15px;
}

.password-box > input {
    padding-right: 50px;
}

.enter-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 0px;
}
.toggle-erorr-message {
    padding: 5px 25px;
    padding-left: 25px;
    padding-top: 5px;
    color: var(--keycolor-red);
    /* display: none; */
}