* {
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
}

:root {
    --keycolor-blue : #3692FF;
    --keycolor-gray : #9CA3AF;
    --keycolor-white-gray : #F3F4F6;
    --keycolor-bright-blue : #E6F2FF;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

header {
    padding-top: 60px;

}

main {
    width: 100%;
    max-width: 640px;
}

footer {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    padding: 24px 0px;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

button {
    width: 100%;
    margin: 24px 0px;
    padding: 16px 124px; 
    border-radius: 40px;
    background-color: var(--keycolor-gray);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    border: none;
}

.password-box {
    position: relative;
    display: flex;
    align-items: center;
}

.eye-img {
    position: absolute;
    right: 15px;
}


input::placeholder {
    color: var(--keycolor-gray);
}

input:focus {
    outline-color: var(--keycolor-blue);
}

.password-box > input {
    padding-right: 50px;
}