* {
    font-family: "Pretendard", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

header {
    padding-top: 60px;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 640px;
}

footer {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    padding: 24px 0px;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

input {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F3F4F6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}
input::placeholder {
    color: #9CA3AF;
}

input:focus {
    outline-color: #3692FF;
}

button {
    width: 100%;
    margin: 24px 0px;
    padding: 16px 124px; 
    border-radius: 40px;
    background-color:#9CA3AF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
}

