
#main-enter-box {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enter-box {
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#login-button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#easy-social-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 23px;
    border-radius: 8px;
    background-color: #E6F2FF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#social-icon {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#social-icon > a {
    display: flex;
    align-items: center;
}


/* #login-string {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
} */


/* .input-string {
    padding: 16px 24px;
    border-radius: 12px;
    background-color: #F3F4F6;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9CA3AF;
    display: flex;
} */




/* #id {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #9CA3AF;
} */


/* .input-string {
    font-size: 16px;
    padding: 16px 24px;
    border-radius: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #9CA3AF;
    background-color: #F3F4F6;
} */