.Wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  margin: 0 24px;
  padding-top: 56px;
  gap: 40px;
}

@media only screen and (max-width: 743px) {
  .Wrapper {
    padding-top: 17px;
    gap: 24px;
  }
}
