.marketContainer {
  padding-top: 70px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.itemImg {
  width: 486px;
  height: 486px;
}
.marketProductContainer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 536px;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
  gap: 16px;
  margin-top: 40px;
  border-bottom: 1px solid #e5e7eb;
}
.marketProductTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.marketTitle {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}
.marketPrice {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e7eb;
}
.marketContentName {
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
}
.marketContent {
  font-size: 16px;
  font-weight: 400;
  width: 690px;
  height: 104px;
  margin-bottom: 24px;
}
.marketTagName {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.marketTag {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  margin-bottom: 62px;
}
.marketProfile {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.marketProfileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.marketArticle {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}
.marketArticleTitle {
  font-size: 16px;
  font-weight: 600;
}
.marketArticleTextarea {
  width: 100%;
  height: 104;
  margin-top: 9px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  padding: 16px 24px 16px 24px;
  border: none;
  background-color: #f3f4f6;
  border-radius: 12px;
  box-sizing: border-box;
}

.marketArticleBtn {
  width: 74px;
  height: 42px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #f3f4f6;
  background-color: #9ca3af;
  position: relative;
  left: 94%;
  cursor: pointer;
  margin-bottom: 24px;
}
.marketArticleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 24px;
  border-bottom: 1px solid #e5e7eb;
}
.marketArticleContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.marketArticleContentTitle {
  font-size: 14px;
  font-weight: 400;
}

.marketProfileName {
  font-size: 12px;
  font-weight: 400;
}
.marketArticleProfileName {
  font-size: 12px;
  font-weight: 400;
}

.marketProfileDate {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  border-bottom: 1px solid #e5e7eb;
}
.marketArticleProfileDate {
  font-size: 12px;
  font-weight: 400;
}

.marketProfileInfo {
  display: flex;
  flex-direction: column;
}
.marketArticleProfileInfo {
  display: flex;
  flex-direction: column;
}
.marketArticleProfileContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}
.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: auto;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 16px 6px 16px;
  border-radius: 26px;
  background-color: #f3f4f6;
  color: #1f2937;
}
.favorite {
  border-radius: 35px;
  border-color: #e5e7eb;
  border: none;
  width: 87px;
  height: 40px;
}
.marketArticleFooter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.marketArticleFooterBtn {
  width: 240px;
  height: 48px;
  border-radius: 40px;
  background-color: #3692ff;
  color: #f3f4f6;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
.menu {
  position: absolute;
  right: 0;
  width: 130px;
  height: 42px;
  background-color: #ffffff;
  border-color: #e5e7eb;
  box-sizing: border-box;
  top: 24px;
  z-index: 33;
}
.menu li {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  background-color: #ffffff;
}
.menuBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;

  box-sizing: border-box;
}
.menu {
  position: absolute;
  right: 0;
  width: 130px;
  height: 42px;
  background-color: #ffffff;
  border-color: #e5e7eb;
  box-sizing: border-box;
  top: 24px;
  z-index: 33;
}
.menu li {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  background-color: #ffffff;
}
.menuBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;

  box-sizing: border-box;
}
/* .menuBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: absolute;
  left: 90%;
  right: inherit;
  box-sizing: border-box;
} */
/* .menu {
  position: relative;
  top: 42px;
  width: 130px;
  height: 42px;
  background-color: #ffffff;
  border-color: #e5e7eb;
  box-sizing: border-box;
  z-index: 33;
}
.menu li {
  display: flex;
  width: 130px;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  background-color: #ffffff;
} */
