@use "@/styles/globals/shared" as g;

.button-primary {
  @include g.button(g.$primary-color);

  &:hover {
    background-color: darken(g.$primary-color, 10%);
  }

  &:disabled {
    background-color: g.$grey-400;
    cursor: not-allowed;
  }
}

.button-icon {
  background-color: transparent;
}
