@use "@/styles/globals/shared" as g;

.button-primary {
  @include g.button(g.$primary-color);
  color: #fff;

  &:hover {
    background-color: darken(g.$primary-color, 10%);
  }

  &:disabled {
    background-color: g.$grey-400;
    cursor: not-allowed;
  }
}

.button-icon {
  background-color: transparent;
}

.button-cancel {
  @include g.button(transparent);
  color: g.$grey-500;
  &:hover {
    background-color: g.$error-red;
    color: #fff;
  }
}

.small {
  padding: 8px 23px;
}

.button-auth {
  @include g.button(
    $bg: g.$primary-color,
    $padding: 16px 23px,
    $radius: 40px,
    $font-color: #fff
  );
  width: 100%;

  &:hover {
    background-color: darken(g.$primary-color, 10%);
  }
  &:disabled {
    background-color: g.$grey-400;
    cursor: not-allowed;
  }
}
