@use "@/styles/globals/shared" as g;

.container {
  @include g.imgContainer(
    $width: var(--width),
    $height: var(--height),
    $radius: var(--radius),
    $borderColor: var(--borderColor)
  );
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
