@use "@/styles/globals/shared" as g;

.Pagination {
  @include g.flex-box(row, center, center, 4px);
  margin-top: 43px;
  margin-bottom: 54px;

  .btn {
    @include g.flex-box(row, center, center);
    @include g.font(16, 600);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid g.$grey-200;
    color: g.$grey-500;

    &:hover {
      border: 2px solid g.$primary-current;
    }

    &-prev:disabled,
    &-next:disabled {
      opacity: 0.4;
    }

    &-current {
      background-color: g.$primary-current;
      color: #fff;
    }
  }
}
