@use "@/styles/globals/shared" as g;

.Pagination {
  @include g.flex-box(row, center, center, 4px);
  margin-top: 43px;
  margin-bottom: 54px;

  .btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid g.$grey-200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: g.$grey-500;
    padding-top: 2px;
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      border: 2px solid g.$primary-color;
    }

    &-prev:disabled,
    &-next:disabled {
      background-color: g.$grey-200;
      border: none;
    }

    &-current {
      background-color: g.$primary-color;
      color: #fff;
    }
  }
}
