@use "@/styles/globals/shared" as g;

.ReturnToListBtn {
  @include g.button(g.$primary-color, 11px 40px, 40px);
  @include g.flex-box(row, center, center, 8px);
  &:hover {
    background-color: darken(g.$primary-color, 10%);
  }

  &:disabled {
    background-color: lighten(g.$primary-color, 20%);
    cursor: not-allowed;
  }
}
