@use "@/styles/globals/shared" as g;

.social-login {
  width: 100%;
  @include g.flex-box(row, space-between, center);
  @include g.font(16, 500);
  padding: 16px 23px;
  background-color: g.$secondary-color;
  border-radius: 8px;

  ul {
    @include g.flex-box(row, space-between, center, 16px);
  }
}
