.productForm {
  display: flex;
  flex-direction: column;
}

.labelText {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
}

.inputStyle {
  margin-bottom: 24px;
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  border: none;
  background-color: #f3f4f6;
  font-size: 16px;
  border-radius: 12px;
  color: #1f2937;
}

.inputStyle::placeholder {
  color: #9ca3af;
}

.textareaStyle {
  height: 200px;
  resize: none;
}

.inputCheck {
  font-size: 15px;
  font-weight: 600;
  color: #f74747;
  margin-top: -16px;
  margin-bottom: 24px;
  margin-left: 16px;
  display: none;
}
