.registrationPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  padding: 24px 24px;
  flex-basis: 1000px;
  gap: 32px 0px
}

.inputSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px 0px;
}


.registrationHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px 0px;
}

.headerText {
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  .inputSection {
    gap: 12px 0px;
  }
}


@media (max-width: 744px) {
  .mainContainer {
    padding: 16px 15px;
    gap: 24px 0px;
  }


  
}