.App {
  text-align: center;
}

/* main 태그 */
.bestPostsContainer {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* h1 문구 */
.freeBoardH1 {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

/* 게시글과 글쓰기 버튼 */
.postsContainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.freeSearchInput {
  background-color: #f3f4f6;
  border-style: none;
  width: 1054px;
  border-radius: 12px;
  height: 100%;
  padding: 0 10px 0 35px;
  gap: 1rem;
  background-repeat: no-repeat;
  background-position: 10px center; /* 이미지 위치 조정 */
  background-size: 20px 20px; /* 이미지 크기 조정 */
}

.freeSearchInput::placeholder {
  padding-left: 4px;
  color: #999;
  font-size: 16px;
}

.inputBtDrop {
  height: 100%;
}

.inputBtDrop input,
.inputBtDrop button,
.inputBtDrop select {
  font-family: "Pretendard", sans-serif !important;
}

/* 드롭다운 */
.sortDropDown {
  width: 130px;
  padding: 12px 20px;
  border-radius: 12px;
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #e5e7eb;
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M7 10l5 5 5-5z" fill="%23333"/%3E%3C/svg%3E'); /* 삼각형 이모티콘 SVG */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 30px;
}

/* 버튼 */
.postBtn {
  font-size: 16px;
  font-weight: 600;
  width: 88px;
  height: 42px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background-color: #3692ff;
  margin: 10px;
  cursor: pointer;
}

/* 검색바와 드롭다운 */
.inputDrop {
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchResults {
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.searchResults h3 {
  margin-bottom: 10px;
}

.searchResults ul {
  list-style-type: none;
  padding: 0;
  color: #1249e2;
}

.searchResults li {
  padding: 10px 0;
}

.searchResults li:last-child {
  border-bottom: none;
}
