img {
  object-fit: cover;
}

li {
  list-style: none;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap :24px
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productSectionSet {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px
}

.productRenderHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.sellingProductSection,
.bestProductSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px
}