img {
  object-fit: cover;
}

li {
  list-style: none;
}

.bodySet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px
}

.bestProductNav {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
  line-height: 32px;
  margin: 24px 0px 16px 0px;
}

.sellingProductNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
  line-height: 32px;
  margin: 40px 0px 16px 0px;
}

.sellingProductList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px
}