img {
  object-fit: cover;
}

li {
  list-style: none;
}

.marketpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap :24px
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productSectionSet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (min-width: 769px){
  .productSectionSet {
    max-width: 1200px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .productSectionSet {
    max-width: 768px;
  }
}

@media (max-width: 375px) {
  .productSectionSet {
    max-width: 375px;
  }
}


.productRenderHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.sellingProductSection,
.bestProductSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px
}