h2 {
  font-size: var(--20px);
  font-weight: 700;
  margin-left: 0;
}

.recent-products-top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  position: relative;
  /* height: 42px; */
}
.search-container input {
  background-color: var(--grey-100);
  padding: 12px 20px 12px 44px;
  border-radius: 12px;
  height: 100%;
  width: 325px;
}
.search-container input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-400);
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.search-container input:focus {
  outline: 1px solid var(--primary-colour);
}

.search-button {
  background-color: var(--primary-colour);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  width: 133px;
  height: 42px;
  margin-left: 12px;
  margin-right: 12px;
}
