/* 전체 페이지 스타일 */
.RegistrationPage {
  text-align: center;
}

.main {
  display: grid;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* 상품 등록 폼 스타일 */
.productForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 24px;
  gap: 16px;
  max-width: 1200px;
  margin-bottom: 379px;
}

/* 폼 상단 스타일 */
.FormTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.h2 {
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

/* 등록 버튼 */
.FormTop button {
  width: 74px;
  height: 42px;
  border: none;
  border-radius: 8px;
  background: #3692ff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-family: Pretendard;
  font-weight: 700;
}

/* 라벨 스타일 */
.Label {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #1f2937;
  font-family: Pretendard;
  margin-bottom: 8px;
}
/* 상품 이미지 등록 컨테이너 */
.imageRegist {
  display: flex;
  gap: 24px;
}

/* 미리보기 이미지 컨테이너 */
.imageContainer {
  position: relative; /* 부모 요소를 relative로 설정 */
  display: inline-block;
}

/* 미리보기 이미지 */
.imagePreviewImage {
  margin: 44px 20px 20px 0;
  width: 282px;
  height: 282px;
  border: 1px solid #ddd;
}

/* 미리보기 이미지 삭제 X 버튼 */
.removeImage {
  position: absolute; /* 절대 위치 설정 */
  top: 60px;
  right: 30px;
  color: #ffffff;
  background: #9ca3af;
  border-style: none;
  border-radius: 50%;
  cursor: pointer; /* 커서 포인터로 변경 */
  z-index: 10; /* 다른 요소들보다 위에 오도록 설정 */
}

/* 상품 이미지 등록 */
.imageUpload {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 282px;
  background: #f3f4f6;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
}

/* 입력 필드 스타일 */
.RegistrationInput {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 12px;
  font-size: 1rem;
  margin: 12px 0 24px 0;
  height: 56px;
}

/* 상품 소개 스타일 */
textarea.RegistrationInput {
  resize: vertical;
  min-height: 218px;
  background: #f3f4f6;
  padding-top: 20px;
  font-family: Pretendard;
}

/* 폼 테두리 */
#Input1,
#Input2,
#Input3,
#Input4 {
  border-radius: 12px;
}

/* 포커스 시 테두리 색상 변경 */
.RegistrationInput:focus,
textarea.RegistrationInput:focus {
  border-color: #3692ff;
  border-width: 4px;
  outline: none;
}

/* placeholder */
.RegistrationInput::placeholder,
textarea.RegistrationInput::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #9ca3af;
  font-family: Pretendard;
}

/* 태그 컨테이너 스타일 */
.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* 태그 간격 */
  margin-bottom: 16px; /* 태그 영역 하단 여백 */
}

/* 태그 스타일 */
.tagItem {
  display: flex;
  align-items: center;
  background-color: #e5e7eb; /* 태그 배경색 */
  border: 1px solid #d1d5db; /* 태그 테두리 */
  border-radius: 12px; /* 둥근 테두리 */
  padding: 6px 12px;
}

/* 태그 텍스트 스타일 */
.tagText {
  font-size: 16px;
  color: #111827;
  margin-right: 8px;
}

/* 태그 삭제 버튼 스타일 */
.removeTag {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #9ca3af;
  color: #ffffff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 버튼 hover 시 스타일 */
.removeTag:hover {
  background-color: #084bd1; /* 호버 시 배경색 */
}

/* 오류 메시지 스타일 */
.errorMessage {
  color: #ff0000;
  font-size: 0.875rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

/* 오류가 있는 필드의 테두리 색상 */
.error {
  border-color: #ff0000;
  border-width: 2px;
}

/* 등록 버튼 비활성화*/
.FormTop button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
