.label-style {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.48px;
  color: #1f2937;
}
.input-style {
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
}
.reg-flex {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}






.reg-container {
  padding: 24px 360px;
}





.reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reg p{
  font-weight: 700;
  font-size: 20px;
  line-height: 23.87px;
  color: #1f2937;
}
.reg button {
  padding: 12px 23px;
  border: none;
  border-radius: 8px;
  background-color: #9ca3af;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.09px;
  color: #ffffff;
}




.reg-intro {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#intro {
  padding-top: 16px;
  padding-left: 24px;
  height: 282px;
  resize: none;
  border: none;
  border-radius: 12px;
  background-color: #F3F4F6;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-right: 12px;
  padding: 6px 12px;
  border-radius: 26px;
  background-color: #F3F4F6;
}
.remove-tag {
  cursor: pointer;
}