.marketpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap :24px;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.productInputsectionSet {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (min-width: 769px){
  .productSectionSet {
    max-width: 1200px;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .productSectionSet {
    max-width: 768px;
  }
}

@media (max-width: 375px) {
  .productSectionSet {
    max-width: 375px;
  }
}

.productRenderHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 56px;
  padding-top: 56px
}

.ProductInputSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px
}