.easyLogin {
  width: 100%;
  background-color: #e6f2ff;
  border-radius: 8px;
  padding: 16px 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  .easyLoginText {
    font-size: 16px;
    font-weight: 500;
    color: #1f2937;
  }
  .easyLoginImg {
    display: flex;
    flex-direction: row;
    gap: 16px;
    .img {
      width: 42px;
      height: 42px;
    }
  }
}

.signinContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  .signinText {
    font-size: 14px;
    font-weight: 500;
    color: #1f2937;
  }
  .signinLink {
    color: #3692ff;
    text-decoration-line: underline;
  }
}
