@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard', sans-serif;
  display: block;
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 9999;
}

nav {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #4b5563;
  text-decoration: none;
}

main {
  width: 100%;
  height: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* pc */
@media screen and (min-width: 1200px) {
  nav {
    margin-left: 32px;
    margin-right: 200px;
  }
}

/* tablit */
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  nav {
    margin-left: 20px;
    margin-right: 24px;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767.9px) {
  nav {
    margin-left: 16px;
    margin-right: 16px;
  }
}
