.dropDownContainer {
  position: relative;
}

.kebab {
  cursor: pointer;
}

.dropDown {
  position: absolute;
  right: 0;
  display: flex;
  width: 139px;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.dropDown a {
  padding: 10px 0;
}

.dropDown a:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
  width: 100%;
  text-align: center;
}
