.SearchBar {
  position: relative;
}
.SearchBar input {
  background-color: var(--grey-100);
  padding: 12px 20px 12px 44px;
  border-radius: 12px;
  height: 100%;
  min-width: 325px;
  max-width: 325px;
  width: 100%;
}
.SearchBar input::placeholder {
  font-size: 1rem;
  font-weight: 400;
  color: var(--grey-400);
}

.SearchBar .search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1199px) {
  .SearchBar input {
    min-width: 242px;
  }
}
