.allProductsContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}

.section-title {
  text-align: left;
  margin-bottom: 10px;
}

.allProductsContents {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 데스크탑에서 5열 */
  gap: 16px;
  width: 100%;
}

.allProducts {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.productImg {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 10px;
}

.productTitle {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.productPrice {
  font-weight: 700;
  font-size: 16px;
  text-align: left;
}

.like {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 500;
  font-size: 12px;
}

.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.section-title {
  flex-grow: 1;
  text-align: left;
}

.register-button,
.product-search-bar,
.sort-options-container {
  flex-shrink: 0;
  margin-right: 10px;
}

.product-search-bar {
  flex-grow: 1;
}

/* 태블릿 */
@media (min-width: 744px) and (max-width: 1199px) {
  .allProductsContainer {
    max-width: 696px;
  }

  .allProductsContents {
    grid-template-columns: repeat(3, 1fr); /* 태블릿에서 3열 */
    width: 100%;
  }

  .headerMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-title {
    flex-grow: 1;
  }
}

/* 모바일 */
@media (max-width: 743px) {
  .allProductsContainer {
    padding: 0 16px;
  }

  .allProductsContents {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서 2열 */
    width: 100%;
  }

  .headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
  }

  .searchFormWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3px;
  }

  .product-search-bar {
    flex-grow: 1;
    padding-left: 10px;
    margin-left: 30px;
  }
}

