.listContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px 16px;
  overflow: auto;
}

.listContainer::-webkit-scrollbar {
  height: 10px;
}

.listContainer::-webkit-scrollbar-track {
  margin-top: 12px;
  background: #cfcfcf;
  border-radius: 10px;
}

.listContainer::-webkit-scrollbar-thumb {
  min-width: 101px;
  background-color: #aaaaaa;
  border-radius: 10px;
  border: 2px solid #b3b3b3;

}

.listContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
