.DropDown button {
  display: flex;
  border: 1px solid var(--grey-200);
  gap: 24px;
  padding: 10px 20px;
  border-radius: 12px;
  color: var(--grey-800);
  align-items: center;
}

.DropDown ul {
  position: absolute;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid var(--grey-200);
  justify-content: center;
  align-items: center;
  background-color: #ffff;
}

.DropDown ul li {
  padding: 10px 44px;
}

.DropDown ul li:first-child {
  border-bottom: 1px solid var(--grey-200);
}
