/* 댓글 전체 컨테이너 */
.commentContainer {
  position: relative;
  height: 100px;
  background: #fcfcfc;
  border-bottom: 1px solid #e5e7eb;
}

/* 댓글 내용과 : 버튼 */
.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 24px;
}

/* 수정/삭제를 위한 : 버튼 */
.moreMenuButton {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  color: #9ca3af;
}

/* 댓글 내용 */
.content {
  font-size: 14px;
  font-weight: 400;
  color: #1f2937;
}

/* 작성자 */
.author {
  font-size: 12px;
  font-weight: 400;
  color: #4b5563;
}

/* 작성한 시간 */
.date {
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
}

/* 이미지와 작성자, 작성한 시간 */
.imageAuthorDate {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
/* 작성자와 작성 시간*/
.authorDate {
  display: flex;
  flex-direction: column;
}

/* 댓글 수정 모드 */
.editMode {
  display: flex;
  flex-direction: column;
}

/* 댓글 수정 input창 */
.editTextarea {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 8px;
  width: 1200px;
  height: 32px;
  background: #f3f4f6;
  padding: 8px; /* 텍스트 영역의 패딩 */
  border: 1px solid #f3f4f6; /* 테두리 스타일 */
}

/* 댓글 수정 후 저장버튼 */
.saveButton {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px 0;
  border-radius: 8px;
  background: #3692ff;
  width: 74px;
  height: 42px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  align-self: flex-end;
}

/* 버튼 호버 시 배경색 변경 */
.saveButton:hover {
  background-color: #005bb5;
}
