.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.Header .header-container {
  width: 100%;
  max-width: 1920px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: row;
}

.Header .profile-icon {
  margin-left: auto;
}

.header-container .logo {
  width: 153px;
  height: 51px;
}

@media only screen and (max-width: 1199px) {
  .Header .header-container {
    padding: 0 24px;
  }
}

@media only screen and (max-width: 743px) {
  .Header .header-container {
    padding: 0 24px;
  }

  .header-container .logo {
    width: 81px;
  }
}
