.navContain {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px
}

.navSubject {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
}

.searchBox {
  display: flex;
  background-color: #F3F4F6;  ;
  align-items: center;
  justify-content: flex-start;
  border-radius: 12px;
  padding: 9px 16px;
}

.searchBox > input { 
  border: none;
  background-color: #F3F4F6;
  width: 265px;
  height: 24px;
  padding-left: 16px;
  font-size: 1rem;
  text-align: left;
}

.searchBox > input:focus {
  outline: none;
}

.registerBtn {
  background-color: #3692FF;
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
}

.registerBtn > span {
  color: #F3F4F6;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.sortByBtn {
  border: 1px solid #E5E7EB;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.sortByBtn > span {
  color: #1F2937;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.dropDownList {
  position: absolute;
  margin-top: 8px;
  background-color: #FFFFFF;
  width: 130px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
}

.dropDownList li {
  padding: 6px 5px;
  color: #1F2937;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.dropDownList li:not(:last-child) {
  border-bottom: 1px solid #E5E7EB;
}

