.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    background-color: #FFFFFF;
    height: 60px;
    border-bottom: 1px solid #DFDFDF;
}

.panda {
    height: 40px;
    margin-left: 0;
    margin-right: 50px;
}

.profile {
    height: 40px;
    margin-left: auto;
    margin-right: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-top: 5px;
}

.nav-links a {
    text-decoration: none;
    line-height: 26px;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Pretendard', sans-serif;
    color: #4B5563;
}

.board-link {
    margin-right: 25px;
}

/* 태블릿 버전 */
@media (min-width: 744px) and (max-width: 1199px) {
    .navbar {
        padding: 0 40px; /* 패딩 조정 */
    }

    .panda {
        margin-left: 0; /* 왼쪽으로 더 붙이기 */
        margin-right: 20px; /* 오른쪽 간격 조정 */
    }

    .nav-links {
        justify-content: flex-start; /* 왼쪽 정렬 */
        padding-top: 5px;
    }

    .nav-links a {
        margin-right: 20px; /* 링크 간격 조정 */
    }

    .profile {
        margin-left: auto;
        margin-right: 0; /* 오른쪽으로 확 붙이기 */
    }
}

@media (min-width: 375px) and (max-width: 743px) {
    .navbar {
        width: 376px;
        padding: 0 40px; /* 패딩 조정 */
    }

    .panda {
        position: relative;
        left: -20px; /* 왼쪽으로 더 붙이기 */
        margin-right: 20px; /* 오른쪽 간격 조정 */
    }

    .nav-links {
        justify-content: flex-start; /* 왼쪽 정렬 */
        padding-top: 5px;
        font-size: 16px;
    }

    .nav-links a {
        margin-right: 20px; /* 링크 간격 조정 */
    }

    .profile {
        margin-left: auto;
        margin-right: 0; /* 오른쪽으로 확 붙이기 */
    }
}

