/* 댓글 없을때 이미지 */
.noComments {
  display: flex;
  flex-direction: column;
  align-items: center; /* 수평 중앙 정렬 */
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* 중고마켓 상세페이지 아직 문의가 없어요 문구 */
.pNoComments {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #9ca3af;
}
