.outlineContain {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #DFDFDF;
}

.pageNavSection {
  min-width: 376px;
  max-width: 1520px;
  width: 100%;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoBox {
  max-width: 153px;
  margin-right: 47px;
}

.logoBox > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.59px;
}

.boardList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 34px;
  font-size: inherit;
}

.boardList li {
  font-size: 1.125rem;
  font-weight: 700;
  color: #4B5563;
}

.boardActive {
  color: #3692FF;
  font-weight: 700;
}


.profileBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 6px;
}

.profileName {
  font-size: 1.125rem;
  font-weight: 400;
  color: #4B5563;
}

@media (max-width: 1200px) {
  .logoBox {
    margin-right: 35px;
  }
}


@media (max-width: 744px) {
  .logoText {
    width: 81px;
  }

  .logoBox {
    margin-right: 16px;
  }
  .pageNavBox {
    padding: 0px 16px;
  }
}

@media (max-width: 500px) {
  .logoImg {
    display: none;
  }
  .boardList {
    gap: 0px 8px;
  }

  .boardList li {
    font-size: 1rem;
  }

  .profileName {
    display: none;
  }
}