.container {
  position: relative; /* 부모 요소를 기준으로 자식 메뉴의 위치를 설정 */
}

.kebabIcon {
  cursor: pointer;
}

.kebabMenu {
  width: 139px;
  height: 92px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  right: 0;
  top: calc(100% + 3px); /* 아이콘 바로 아래 3px에 메뉴가 위치하도록 설정 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuItem {
  height: 42px;
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
}

.menuItem:hover {
  background-color: #f3f4f6;
}

