/* 댓글 전체 컨테이너 */
.commentContainer {
  position: relative;
  background: #fcfcfc;
  border-bottom: 1px solid #e5e7eb;
  margin: 220px 0 20px 0;
  padding: 12px; /* 안쪽 여백 조정 */
}

/* 댓글 내용과 : 버튼 */
.commentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto; /* 높이를 자동으로 조정 */
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 24px;
}

/* 수정/삭제를 위한 : 버튼 */
.moreMenuButton {
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  color: #9ca3af;
}

/* 댓글 내용 */
.content {
  font-size: 14px;
  font-weight: 400;
  color: #1f2937;
}

/* 작성자 */
.author {
  font-size: 12px;
  font-weight: 400;
  color: #4b5563;
}

/* 작성한 시간 */
.date {
  font-size: 12px;
  font-weight: 400;
  color: #9ca3af;
}

/* 이미지와 작성자, 작성한 시간 */
.imageAuthorDate {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* 작성자와 작성 시간 */
.authorDate {
  display: flex;
  flex-direction: column;
}

/* 댓글 수정 input창 */
.editTextarea {
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%; /* 너비를 100%로 조정 */
  height: 60px; /* 높이 조정 */
  background: #f3f4f6;
  padding: 8px; /* 텍스트 영역의 패딩 */
  border: 1px solid #f3f4f6; /* 테두리 스타일 */
  margin-bottom: 8px; /* 아래 여백 조정 */
  margin-right: 10px;
}

/* 댓글 수정 후 저장버튼 */
.saveButton {
  padding: 12px 0;
  border-radius: 8px;
  background: #3692ff;
  width: 74px;
  height: 42px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}

/* 버튼 호버 시 배경색 변경 */
.saveButton:hover {
  background-color: #005bb5;
}

/*-------------------반응형 디자인 ---------------------------*/
/* Tablet */
@media only screen and (min-width: 744px) and (max-width: 1199px) {
  .commentContainer {
    padding: 12px; /* 안쪽 여백 조정 */
  }

  .commentHeader {
    font-size: 18px; /* 폰트 크기 조정 */
    margin-bottom: 20px; /* 아래 여백 조정 */
  }

  .moreMenuButton {
    font-size: 18px; /* 폰트 크기 조정 */
  }

  .editTextarea {
    height: 80px; /* 높이 조정 */
  }

  .saveButton {
    width: 100px; /* 너비 조정 */
    height: 40px; /* 높이 조정 */
    font-size: 0.875rem; /* 폰트 크기 조정 */
  }
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 743px) {
  .commentContainer {
    padding: 12px; /* 안쪽 여백 조정 */
  }

  .commentHeader {
    font-size: 16px; /* 폰트 크기 조정 */
    margin-bottom: 16px; /* 아래 여백 조정 */
  }

  .moreMenuButton {
    font-size: 16px; /* 폰트 크기 조정 */
  }

  .editTextarea {
    height: 60px; /* 높이 조정 */
  }

  .saveButton {
    width: 100px; /* 너비 조정 */
    height: 40px; /* 높이 조정 */
    font-size: 0.75rem; /* 폰트 크기 조정 */
  }
}
