.saleProducts {
  margin: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.productList {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개씩 배치 */
  gap: 40px;
  padding-inline-start: 0;
}
