.ProductDataRegistBtn {
  background-color: #9CA3AF;
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
  color: #F3F4F6;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.ProductDataRegistBtnActive {
  background-color: #3692FF;
  border: none;
  border-radius: 8px;
  padding: 12px 23px;
  color: #F3F4F6;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
