.product-list {
    padding: 20px;
    max-width: 1260px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    margin-left: 20px;
    color: #111827;
    margin-bottom: 0px;
    text-align: left;
}

.best-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.product-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* 판매 중인 상품 글자 위치 */
.product-controls-container h2.section-title {
    margin-left: 10px;
}

.product-controls {
    display: flex;
    align-items: center;
}

.search-bar {
    position: relative;
    width: 325px;
    margin-right: 80px;
}

.search-icon {
    position: absolute;
    left: 23px; /* 아이콘을 오른쪽으로 이동 */
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.search-bar input {
    width: 100%;
    padding: 9px 30px 9px 50px;
    border: none;
    border-radius: 12px;
    background-color: #F3F4F6;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #9CA3AF;
}

.register-button {
    width: 133px;
    height: 42px;
    padding: 12px 23px;
    background-color: #3692FF;
    border: none;
    border-radius: 8px;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    line-height: 26px;
    color: #F3F4F6;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-options {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sort-options select {
    width: 130px;
    height: 42px;
    padding: 12px 20px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    background-color: #FFFFFF;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #1F2937;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dropdown-icon {
    position: absolute;
    right: 20px;
    width: 16px;
    height: 16px;
    pointer-events: none;
}

.all-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 12.5px;
}

.pagination-item {
    width: 40px;
    height: 40px;
    padding: 12.5px;
    border-radius: 50%;
    border: 1px solid #E5E7EB;
    background-color: #FFFFFF;
    color: #6B7280;
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pagination-item.active {
    background-color: #2F80ED;
    color: #F9FAFB;
}

.pagination-item img {
    width: 16px;
    height: 16px;
}

@media (min-width: 744px) and (max-width: 1199px) {
    .best-products {
        grid-template-columns: repeat(2, 1fr);
        gap: 33px;
    }

    .all-products {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-bar {
        width: 242px;
    }

    .product-controls-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .section-title {
        font-size: 18px;
        line-height: 30px;
    }

    .product-controls-container h2.section-title {
        font-size: 18px;
        line-height: 30px;
        align-self: center;
    }

    .product-controls {
        display: flex;
        align-items: center;
        transform: translateX(-12px);
    }

    .product-controls .search-bar {
        width: 230px;
        height: 42px;
    }

    .product-controls .register-button {
        width: 128px;
        margin-bottom: 0;
    }

    .product-controls .sort-options select {
        width: 128px;
        margin-bottom: 0;
    }

    .product-controls .register-button {
        margin-bottom: 0;
    }

    .product-controls .sort-options {
        margin-bottom: 0;
    }
}

@media (min-width: 375px) and (max-width: 743px) {
    .best-products {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .all-products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-controls-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .search-bar {
        width: 288px;
        margin-bottom: 10px;
    }

    .product-controls {
        justify-content: space-between;
        width: 100%;
    }

    .product-controls .search-bar {
        margin-bottom: 10px;
    }

    .product-controls .register-button {
        margin-bottom: 10px;
    }
}

