.product-list {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.section-title {
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  color: #111827;
  margin-bottom: 0px;
  text-align: left;
}

.best-product-card {
  max-width: 282px;
  max-height: 378px;
}

/* "베스트 상품" 글자 위치 조정 */
.product-list .section-title {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 700;
}

/* "판매 중인 상품" 글자 위치 조정 */
.product-controls-container .section-title {
  width: calc(100% - 80px);
  padding-bottom: 10px;
  font-weight: 700;
}

.product-card p.price {
  font-family: "Pretendard", sans-serif;
  color: #1f2937;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}

.best-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-bottom: 40px;
}

.product-controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.product-controls {
  display: flex;
  align-items: center;
  justify-content: end;
}

.search-bar {
  position: relative;
  width: 325px;
  margin-right: 80px;
}

.search-icon {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.search-bar input {
  width: 100%;
  padding: 9px 30px 9px 50px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9ca3af;
}

.register-button {
  width: 133px;
  height: 42px;
  padding: 12px 23px;
  background-color: #3692ff;
  border: none;
  border-radius: 8px;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  line-height: 26px;
  color: #f3f4f6;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sort-options select {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  background-color: #ffffff;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #1f2937;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-icon {
  position: absolute;
  right: 20px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.all-products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 12.5px;
}

.pagination-item {
  width: 40px;
  height: 40px;
  padding: 12.5px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  color: #6b7280;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-item.active {
  background-color: #2f80ed;
  color: #f9fafb;
}

.pagination-item img {
  width: 16px;
  height: 16px;
}

/* 태블릿 버전 */
@media (min-width: 744px) and (max-width: 1199px) {
  .product-list {
    width: calc(100% - 40px); /* Navbar의 패딩을 제외한 너비 */
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  .best-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 베스트 상품은 2개의 카드로 구성 */
    gap: 60px;
  }

  .product-card p.price {
    font-family: "Pretendard", sans-serif;
    color: #1f2937;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
  }

  .all-products {
    grid-template-columns: repeat(
      auto-fill,
      minmax(260px, 1fr)
    );
    gap: 16px;
  }

  .search-bar {
    width: 242px;
  }

  .product-controls-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .section-title {
    font-size: 18px;
    line-height: 30px;
  }

  .product-controls-container h2.section-title {
    font-size: 18px;
    line-height: 30px;
    align-self: center;
  }

  .product-controls {
    display: flex;
    align-items: center;
    transform: translateX(-12px);
  }

  .product-controls .search-bar {
    width: 220px;
    height: 42px;
  }

  .product-controls .register-button {
    width: 128px;
    margin-bottom: 0;
  }

  .product-controls .sort-options select {
    width: 128px;
    margin-bottom: 0;
  }

  .product-controls .register-button {
    margin-bottom: 0;
  }

  .product-controls .sort-options {
    margin-bottom: 0;
  }

  /* "베스트 상품" 글자 위치 조정 */
  .product-list .section-title {
    margin-left: 20px;
  }

  /* "판매 중인 상품" 글자 위치 조정 */
  .product-controls-container .section-title {
    padding-left: 0px;
    padding-bottom: 10px;
  }
}

/* 모바일 버전 */
@media (min-width: 375px) and (max-width: 743px) {
  .product-list {
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 35px; /* 오른쪽 패딩 추가 */
    margin: 0 auto;
  }

  .best-products {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .product-card p.price {
    font-family: "Pretendard", sans-serif;
    color: #1f2937;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
  }

  .all-products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title-register-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
  }

  .search-sort-row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .search-bar {
    width: 260px;
    height: 40px;
    transform: translateX(-50px);
    margin-bottom: 20px;
  }

  .search-bar input {
    width: 90%;
    height: 42px;
  }

  .search-icon {
    top: 68%;
    transform: translateY(-50%);
  }

  .btn-sort {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
    transform: translateX(-60px);
  }

  .btn-sort img {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 12px;
  }

  .sort-options {
    display: none;
  }

  .sort-options.active {
    display: block;
  }

  .product-list {
    min-width: 343px;
    width: 100%;
    margin: 0 auto;
  }

  /* "판매 중인 상품" 글자 위치 조정 */
  .product-controls-container h2.section-title.all-products-title {
    position: relative;
    top: 5px;
    transform: translateX(14px);
  }

  /* "베스트 상품" 글자 위치 조정 */
  .section-title.best-products-title {
    transform: translateX(24px);
  }

  .register-button {
    margin-top: 4px;
    transform: translateX(10px);
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    gap: 10px;
  }

  .pagination-item {
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    color: #6b7280;
    font-family: "Pretendard", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .pagination-item.active {
    background-color: #2f80ed;
    color: #f9fafb;
  }

  .pagination-item img {
    width: 14px;
    height: 14px;
  }
}

