.top-bar {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 12px;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
}

.ProductCard {
  display: flex;
  flex-direction: column;
}
.best-products .ProductCard .card-image {
  min-width: 282px;
  height: auto;
}

.ProductCard .card-text {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ProductCard h3 {
  font-size: var(--14px);
  font-weight: 500px;
}

.ProductCard p {
  font-size: 1rem;
  font-weight: 700;
}

.ProductCard .favorite-container {
  display: flex;
  flex-direction: wrap;
  font-size: var(--12px);
  font-weight: 500;
  color: var(--grey-600);
  gap: 4px;
}

.recent-products .ProductCard .card-image {
  min-width: 221px;
  height: auto;
}

.best-products,
.recent-products {
  margin-top: 24px;
}

.best-products {
  margin-bottom: 40px;
}

.recent-products {
  margin-bottom: 43px;
}
