.showProductList {
  min-width: 344px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px 0px;
  overflow: auto;
}

.noProduct {
  max-width: 1200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
  line-height: 32px;
  margin: 40px 0px 16px 0px;
}

@media (max-width: 744px) {
 .showProductList {
  gap: 32px 0px;
 }
}