.headerContaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 28px;
}

.textBox {
  flex-basis: 100%;
  min-width: 345px;
  max-width: 588px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerText {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 1.25rem;
}

.functionBox {
  min-width: 529px;
  max-width: 612px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}


.headerContaierForMobile {
  display: flex;
  /* flex-direction: column; */
}