.headerContaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 28px;
}

.headerText {
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 1.25rem;
}

.functionBox {
  /* min-width: 529px; */
  max-width: 612px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.twoLineContainer {
  display: flex;
  flex-direction: column;
  gap: 8px 0px;
}

.perRowBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

@media (max-width: 744px) {
  .headerText {
    width: 100%;
  }
}