.headerContaier {
  min-width: 344px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.headrSubject {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: 700;
  color: #111827;
}



.headerContaierForMobile {
  display: flex;
  /* flex-direction: column; */
}