/* public */
.bestProductContaner {
  margin-top: 24px;
}

.bestProductFont {
  margin-bottom: 16px;
}

/* pc */
@media screen and (min-width: 1200px) {
  .bestProductContaner {
    width: 1200px;
    height: 426px;
  }
}

/* tablit */
@media screen and (min-width: 768px) and (max-width: 1199.9px) {
  .bestProductContaner {
    width: 696px;
    height: 482px;
  }
}

/* mobile */
@media screen and (min-width: 375px) and (max-width: 767.9px) {
  /* bestProduct.js의 css */
  .bestProductContaner {
    width: 100%;
    height: auto;
    margin: 17px 16px 0;
  }
}
