@media screen and (min-width: 375px) and (max-width: 767.9px) {
    /* header */
    header{
        width: 100%;
        height: 70px;
        border-bottom: 1px solid #DFDFDF;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .Logo{
        width: 81px;
        height: 40px;
        margin-left: 16px;
    }

    nav{
        width: 100%;
        height: 70px;
        margin-left: 8px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .listContaner{
        width: 135px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .listFont{
        height: 70px;
        margin: 0;
        font-family: Pretendard, sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: #4B5563;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .freeFont{
        width: 70px;
    }
    
    .usedFont{
        width: 56px;
    }
      
    .userIcon{
        width: 40px;
        height: 40px;
    }

    /* main */
    main{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* [  ]product.js의 css  */
    .productFont{
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        color: #111827;
    }
    
    .ProductMobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* bestProduct.js의 css */
    .bestProductContaner{
        width: 100%;
        height: auto;
        margin: 17px 16px 0;
    }

    .bestProductFont {
        margin-bottom: 16px;
    }


    /* SaleProduct.js의 css */
    .saleProductContaner{
        width: 100%;
        height: auto;
        margin: 24px 16px 0;
    }

    .saleProductParts{
        width: 100%;
        height: 92px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .saleProductFont{
        width: 113px;
        height: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .productFont_Registration{
        width: 100%;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .usuallyRegistration{
        display: none;
    }

    .saleProductFrom{
        width: 100%;
        height: 42px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .searchFromPositin{
        width: 100%;
        margin-right: 14px;
        position: relative;
    }

    .readingGlasses{
        width: 24px;
        height: 24px;
        position: absolute;
        top: 9px;
        left: 16px;
    }

    /* SearchFrom.js의 css */
    .searchProduct{
        max-width: 712px;
        width: 100%;
        height: 42px;
        border-radius: 12px;
        border: none;
        padding: 9px 0 9px 44px;
        background-color: #F3F4F6;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #9CA3AF;
    }

    /* Registration.js의 css */
    .registration{
        width: 133px;
        height: 42px;
        border-radius: 8px;
        padding: 8px 23px;
        background-color: #3692FF;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        color: #F3F4F6;
        cursor: pointer;
    }

    /* OrderChange.js의 css */
    .orderChange{
        width: 42px;
        height: 42px;
        border-radius: 12px;
        border: 1px solid #E5E7EB;
        background-color: #FFFFFF;
        position: relative;
        cursor: pointer;
    }

    .mobileOrderChange{
        display: none;
    }

    .orderArrow{
        width: 24px;
        height: 24px;
        position: absolute;
        top: 9px;
        right: 9px;
    }

    .orderBoxNone{
        display: none;
    }

    .orderBox{
        width: 130px;
        height: 84px;
        border-radius: 12px;
        border: 1px solid #E5E7EB;
        background-color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        position: absolute;
        top: 50px;
        right: 0;
    }

    .orderRecent{
        width: 130px;
        height: 41.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .orderLine{
        width: 130px;
        height: 1px;
        background-color: #E5E7EB;
    }

    .orderFavorite{
        width: 130px;
        height: 41.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }


    /* Pagination의 css */
    .pagination{
        height: 115px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        padding: 40px 0 35px;
    }

    .pagination li{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        border: 1px solid #E5E7EB;
        margin: 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
    }

    .pagination li:first-child{ 
        display: none;
        }
    
    .pagination li:last-child{ 
        display: none;
    }

    .pagination li a{
        text-decoration: none;
        color: #6B7280;
    }

    .pagination li.active a {
        color: #FFFFFF; 
    }

    .pagination li.active {
        background-color: #2F80ED;
    }

    /* ProductCard.js의 css */
    .productName{
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
    }

    .bestProductName {
        width: 100%;
        height: 24px;
        margin-top: 10px;
    }

    .saleProductName{
        width: 100%;
        height: 24px;
        margin-top: 16px;
    }

    .productPrice{
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        margin-top: 6px;
    }

    .productColor{
        color: #1F2937;
    }

    .productFavoriteContaner{
        width: 100%;
        height: 19px;
        margin-top: 6px;
        display: flex;
        flex-direction: row;
    }

    .heartIcon{
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }

    .productFavoriteCount{
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        color: #4B5563;
    }

    /* variant이 bestProduct일 때 */
    .bestProductImg {
        width: 100%;
        aspect-ratio: 1/ 1;
        border-radius: 19.46px;
    }

    .bestProductCardContaner{
        width: 100%;
        min-height: 434px;
        height: auto;
    }

    .bestProductCard{
        width: 100%;
        min-height: 434px;
        height: auto;
        background-color: #FCFCFC;
    }


    /* variant이 saleProduct일 때 */
    .saleProductImg {
        width: 100%;
        aspect-ratio: 1/ 1;
        border-radius: 12px;
    }

    .saleProductCardContaner{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 8px;
    }

    .saleProductCard{
        background-color: #FCFCFC;
    }
}