@media screen and (min-width: 1200px) {
  /* header */
  .Logo {
    margin-left: 200px;
  }

  nav {
    margin-left: 32px;
    margin-right: 200px;
  }

  /* bestProduct.js의 css */
  .bestProductContaner {
    width: 1200px;
    height: 426px;
  }

  /* SaleProduct.js의 css */
  .saleProductContaner {
    width: 1201px;
  }

  .saleProductParts {
    width: 1200px;
    flex-direction: row;
    align-items: center;
  }

  .saleProductFrom {
    width: 612px;
  }

  /* ProductCard.js의 css */
  .bestProductName {
    width: 282px;
    margin-top: 16px;
  }

  .saleProductName {
    width: 217px;
  }

  /* variant이 best일 때 */
  .bestProductImg {
    width: 282px;
    height: 282px;
    border-radius: 16px;
  }

  .bestProductCardContaner {
    width: 1200px;
    height: 378px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bestProductCard {
    width: 282px;
    height: 378px;
  }

  /* variant이 sale일 때 */
  .saleProductCardContaner {
    width: 1201px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 40px 24px;
    flex-wrap: wrap;
  }

  .saleProductCard {
    width: 221px;
    height: 317px;
  }

  /* SearchFrom.js의 css */
  .searchProduct {
    width: 325px;
  }

  /* Pagination의 css */
  .pagination {
    height: 141px;
    padding: 43px 0 58px;
  }

  /* footer */
  .bottom-box {
    padding-left: 200px;
    padding-right: 200px;
  }

  .mobile {
    flex-grow: 1;
  }

  .link_box {
    flex-grow: 1;
  }
}
