.registration {
  width: 133px;
  height: 42px;
  border-radius: 8px;
  padding: 8px 23px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
  cursor: pointer;
}
