@use "@/styles/globals/shared" as g;

.AuthPage {
  @include g.flex-box(column, center, center, 24px);
  margin: 0 auto;
  width: 640px;

  .social-login {
    width: 100%;
    @include g.flex-box(row, space-between, center);
    @include g.font(16, 500);
    padding: 16px 23px;
    background-color: g.$secondary-color;
    border-radius: 8px;

    ul {
      @include g.flex-box(row, space-between, center, 16px);
    }
  }

  .text {
    @include g.font(15, 500);

    .link {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: #3182f6;
    }
  }
}
