.comment-list {
  width: 120rem;
  gap: 2.4rem;
}

.empty-list {
  width: 120rem;
  height: 20.8rem;
}

.empty-list-mark-text-set {
  width: 15.1rem;
  height: 20.8rem;
  margin: 0 auto;
}

.empty-list-mark {
  width: 14rem;
  height: 14rem;
  background-image: url(../../../public/images/Img_reply_empty.svg);
}

.empty-list-text {
  width: 15.1rem;
  height: 5.2rem;
  font-size: 1.6rem;
  line-height: 1.625em;
  color: var(--gray400-color);
  text-align: center;
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .comment-list {
    width: 69.6rem;
    gap: 2.4rem;
  }

  .empty-list {
    width: 69.6rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .comment-list {
    width: 34.3rem;
    gap: 1.6rem;
  }

  .empty-list {
    width: 34.3rem;
  }
}
