.commentList {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.commentTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 댓글 간 20px 간격 유지 */
}

.noCommentsText {
  margin-bottom: 30px; /* 댓글이 "아직 댓글이 없어요" 메시지 밑에서 30px 간격으로 시작 */
  font-size: 16px;
  color: #4b5563;
}

.commentFormContainer {
  margin-bottom: 24px;
}

