.commentItem {
    background-color: #fcfcfc;
    border-bottom: 1px solid #e5e7eb;
    padding: 16px;
    max-width: 1170px;
    width: 100%;
    height: 100px; /* 댓글은 높이가 더 낮음 */
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; /* content와 kebab 모두 상단 정렬 */
    margin: auto;
    transition: transform 0.3s ease; 
}

.commentContent {
    font-size: 16px;
    font-weight: 400;
    color: #1f2937;
    margin: 0;
}

.commentDetails {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.profileIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.author {
    font-size: 14px;
    font-weight: 400;
    color: #4b5563;
    margin-right: 15px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    color: #9ca3af;
    margin-left: 15px; /* author에서 15px 오른쪽에 위치 */
}

.kebabIcon {
    display: flex;
    align-items: flex-start; /* 아이콘을 상단에 맞추기 */
    justify-content: flex-end;
}

.kebabIcon img {
    width: 24px;
    height: 24px;
}

