.commentForm {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.formGroup label {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1f2937;
}

.formGroup textarea {
  padding: 12px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #f3f4f6;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1f2937;
}

.submitButton {
  width: 74px;
  height: 42px;
  padding: 12px 23px;
  background-color: #9ca3af;
  border: none;
  border-radius: 8px;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #f3f4f6;
  cursor: pointer;
  align-self: flex-end;
}

.submitButton:enabled {
  background-color: #3692ff;
  color: white;
}

.submitButton:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
