.container {
  position: relative;
}

.kebabIcon {
  cursor: pointer;
}

.kebabMenu {
  width: 139px;
  height: 92px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  right: 0;
  top: 3px; /* kebab.svg로부터 3px 아래에 위치 */
}

.menuItem {
  height: 42px;
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #f3f4f6;
}

