.postItem {
    background-color: #fcfcfc;
    border-bottom: 1px solid #e5e7eb;
    padding: 16px;
    max-width: 1170px;
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    transition: transform 0.3s ease; 
}

.postItem.moveDown {
    transform: translateY(300px);
}

.postTitle {
    font-size: 20px;
    font-weight: 600;
    color: #1f2937;
    margin: 0;
    transform: translateY(10px);
}

.postDetails {
    display: flex;
    align-items: center;
    margin-top: 85px;
}

.profileIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.author {
    font-size: 14px;
    font-weight: 400;
    color: #4b5563;
    margin-right: 15px;
}

.date {
    font-size: 14px;
    font-weight: 400;
    color: #9ca3af;
    margin-right: 15px;
}

.postImageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.postImage {
    width: 72px;
    height: 72px;
    margin-bottom: 8px;
}

.postLikes {
    display: flex;
    align-items: center;
}

.postLikes img {
    margin-right: 5px;
}

