.searchBar {
  position: relative;
  width: 325px;
  height: 42px;
  margin-right: 80px;
}

.searchIcon {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.searchInput {
  width: 100%;
  padding: 9px 30px 9px 50px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9ca3af;
}

/* 태블릿 버전 */
@media (min-width: 744px) and (max-width: 1199px) {
  .searchBar {
    width: 190px;
    height: 42px;
  }
}

/* 모바일 버전 */
@media (max-width: 743px) {
  .searchBar {
    width: 100%;
    height: 40px;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .searchIcon {
    top: 70%;
  }

  .searchInput {
    padding: 9px 30px 9px 50px;
  }
}

