@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

.App {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

header {
  margin: auto;
  background-color: white;
  z-index: 3;
  width: 1920px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  margin: auto;
  width: 1200px;
  min-width: 376px;
}

.products_container {
  margin-top: 24px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

button {
  border: none;
}

@media screen and (max-width: 1920px) {
  header {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  main {
    width: auto;
    margin: 0 24px;
  }
}
