.paging_box {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 42px;
  margin-bottom: 42px;
}

.paging_box > button {
  width: 40px;
  height: 40px;
  padding: 12.5px;
  border-radius: 40px;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
}

#on_btn {
  background-color: #2f80ed;
  color: #f9fafb;
}

#mid_btn:hover {
  background-color: #2f80ed;
  color: #f9fafb;
}

button > img {
  width: 16px;
  height: 16px;
}
