.flex_column {
  display: flex;
  flex-direction: column;
}

.CommentList_no_comment {
  width: 151px;
  height: 208px;
  margin: 40px 0 48px;
  justify-content: space-between;
  align-items: center;
}

.CommentList_no_comment_text {
  width: 151px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
  text-align: center;
}

.CommentList_ul {
  width: 1200px;
  height: 348px;
  margin: 40px 0 64px 0;
  padding: 0;
  gap: 24px;
  list-style-type: none;
  overflow: scroll;
}

.CommentList_ul::-webkit-scrollbar {
  display: none;
}

.CommentList_li {
  width: 1200px;
  height: 100px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fcfcfc;
}

.CommentList_button {
  width: 240px;
  height: 48px;
  border-radius: 40px;
  padding: 11px 0 11px 39.5px;
  background-color: #3692ff;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
  position: relative;
}

.yes_list_button {
  margin-bottom: 193px;
}

.no_list_button {
  margin-bottom: 481px;
}

.CommentList_arrow_img {
  position: absolute;
  top: 12px;
  right: 39.5px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .CommentList_no_comment {
    margin: 32px 0 56px;
  }
  
  .CommentList_ul {
    width: 696px;
    height: 339px;
    margin: 32px 0 47px 0;
  }
  
  .CommentList_li {
    width: 696px;
  }
  
  .yes_list_button {
    margin-bottom: 291px;
  }
  
  .no_list_button {
    margin-bottom: 561px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .CommentList_no_comment {
    width: 151px;
    height: 208px;
    margin: 24px 0 40px;
  }
  
  .CommentList_ul {
    width: 343px;
    height: 320px;
    margin: 24px 0 40px ;
    gap: 16px;
  }
  
  .CommentList_li {
    width: 343px;
    height: 96px;
  }
  
  .yes_list_button {
    margin-bottom: 139px;
  }
  
  .no_list_button {
    margin-bottom: 234px;
  }
}