.contaner{
    width: 1200px;
    height: auto;
    margin: 26px 0 40px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.infoBox{
    width: 690px;
    height: auto;
}

.underline{
    width: 1190px;
    height: 0;
    border: 1px solid #E5E7EB;
    margin-bottom: 40px;
}