.font16 {
  font-size: 16px;
  line-height: 26px;
}

.PostForm_form {
  width: 1200px;
  height: 512px;
  margin: 24px 0 794px;
  display: flex;
  flex-direction: column;
}

.PostForm_subject {
  width: 1200px;
  height: 42px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.PostForm_title {
  width: 92px;
  height: 42px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostForm_button {
  width: 74px;
  height: 42px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #f3f4f6;
}

.button_off {
  background-color: #9ca3af;
}

.button_on {
  background-color: #3692ff;
}

.PostForm_label {
  width: 1200px;
  height: 26px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #1f2937;
}

.PostForm_input {
  width: 1200px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  font-weight: 400;
  color: #9ca3af;
}

.input_title {
  height: 56px;
  padding: 16px 0 14px 24px;
  margin-bottom: 24px;
}

.input_contents {
  height: 282px;
  padding: 16px 24px 240px 24px;
  resize: none;
}

.input_contents::-webkit-scrollbar {
  display: none;
}

.PostForm_input:focus {
  outline: none;
  border: 1px solid #3692ff;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .PostForm_form {
    width: 696px;
    margin: 16px 0 879px;
  }

  .PostForm_subject {
    width: 696px;
  }

  .PostForm_title {
    line-height: 23.87px;
  }

  .PostForm_button {
    line-height: 19.09px;
  }

  .PostForm_label {
    width: 696px;
  }

  .PostForm_input {
    width: 696px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .PostForm_form {
    width: 345px;
    height: 410px;
    margin: 16px 0 965px;
  }

  .PostForm_subject {
    width: 345px;
    margin-bottom: 24px;
  }

  .PostForm_title {
    line-height: 23.87px;
  }

  .PostForm_button {
    line-height: 19.09px;
  }

  .PostForm_label {
    width: 345px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
  }

  .PostForm_input {
    width: 345px;
  }

  .input_title {
    margin-bottom: 16px;
  }

  .input_contents {
    height: 200px;
    padding: 16px 24px 158px 24px;
  }
}
