
.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.inputHeader {
  color: #1F2937;
  font-size: 1.125rem;
  font-weight: 700;
}

.defaultBox {
  width: 100%;
  display: flex;
  background-color: #F3F4F6;
  padding: 16px 24px;
  border-radius: 12px;
}

.inputBox {
  width: 100%;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  text-align: left;
}

.inputError {
  width: 100%;
  display: flex;
  border: 1px solid #F74747;
  background-color: #F3F4F6;
  padding: 16px 24px;
  border-radius: 12px;
}

.inputBox:focus{
  outline: none;
}

.errorText {
  color: #F74747;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-left: 16px;
}

@media (max-width: 744px) {
  .inputHeader {
    font-size: 0.875rem;
  }
}