
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.inputHeader {
  color: #1F2937;
  font-size: 1.125rem;
  font-weight: 700;
}

.defaultBox {
  border: none;
  background-color: #F3F4F6;
  width: 100%;
  padding: 16px 24px;
  font-size: 1rem;
  text-align: left;
  border-radius: 12px;
}

.inputError {
  border: 1px solid #F74747;
  background-color: #F3F4F6;
  width: 100%;
  padding: 16px 24px;
  font-size: 1rem;
  text-align: left;
  border-radius: 12px;
}

.inputContainer > input:focus{
  outline: none;
}

.errorText {
  color: #F74747;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-left: 16px;
}