.productContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 24px ;
}

.ProductBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.imgSizeControl {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  aspect-ratio: 1;
  overflow: hidden;
}

.imgSizeControl > img {
  display: flex;
  width: 105%;
  height: 105%;
  object-fit: cover;

}

.ProductDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.ProductDescription {
  gap: 6px;
}

.ProductDescription > h1 {
  font-size: 1rem;
  font-weight: 700;
  color: #1F2937;
  line-height: 26px;
}

.ProductDescription > span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1F2937;
  line-height: 24px;
}

.ProductLike {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.25px;
}

.ProductLike > span {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 18px;
}
