.btnBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  border: 1px solid #E5E7EB;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 10px 20px;
}

.forMobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #E5E7EB;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 9px;
}

.sortByBtn > span {
  color: #1F2937;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.dropDownList {
  position: absolute;
  margin-top: 8px;
  background-color: #FFFFFF;
  width: 130px;
  border-radius: 12px;
  border: 1px solid #E5E7EB;
}

.dropDownList li {
  padding: 6px 5px;
  color: #1F2937;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  padding: 12px
}

.dropDownList li:not(:last-child) {
  border-bottom: 1px solid #E5E7EB;
}
