.postContainer {
  width: 100%;
  height: 138px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 24px;
}

.postContainer:not(:last-child) {
  border-bottom: 1px solid #E5E7EB;
}

.postMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 600;
}

.postTitle {
  display: flex;
  align-items: center;
  text-align: left;
  max-width: 1120px;
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.imgSizeControl {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  aspect-ratio: 1;
  overflow: hidden;
  padding: 12px;
  width: 72px;
  height: 72px;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
}

.imgSizeControl > img {
  display: flex;
  width: 105%;
  height: 105%;
  object-fit: cover;
}

.boardInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 8px;
  font-weight: 400;
  color: #4B5563;
}

.profile > img {
  width: 24px;
}

.date {
  color: #9CA3AF;
}

.ProductLike {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 8px;
  font-size: 1rem;
  color: #6B7280;
}

.ProductLike > img{
  width: 24px;
}

@media (max-width: 744px) {
  .postMain {
    font-size: 1.125rem;
  }
}