@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

.best-items-containor {
  margin-top: 24px;
}

.title {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  color: #111827;
}

.item-img {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.best-items-containor > .grid-box {
  width: 1200px;
  height: 378px;
  display: flex;
  overflow: hidden;
  margin-top: 16px;
  gap: 24px;
}

.item-box {
  width: 282px;
  height: 378px;
}

.item-name {
  width: 282px;
  height: 24px;
  margin-top: 16px;
  font-size: 16px;
}

.item-price {
  width: 282px;
  height: 26px;
  margin-top: 6px;
}

.item-favorite-count {
  width: 282px;
  height: 18px;
  margin-top: 6px;
}

/* -------베스트 아이템------------*/

.for-sale-items-containor {
  margin-top: 40px;
}

.for-sale-items-textBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.for-sale-items-containor > .grid-box > .item-box > .item-img {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

.for-sale-items-containor > .grid-box {
  width: 1200px;
  height: 674px;
  display: grid;
  grid-template-columns: repeat(5, 221px);
  grid-template-rows: repeat(2, 317px);
  row-gap: 40px;
  column-gap: 24px;
  overflow: hidden;
  margin-top: 24px;
}

.for-sale-items-containor > .item-box {
  width: 221px;
  height: 378px;
}

.item-name {
  width: 282px;
  height: 24px;
  margin-top: 16px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
  display: flex;
  align-items: center;
}

.item-price {
  width: 282px;
  height: 26px;
  margin-top: 6px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #1f2937;
}

/* 판매중인 상품 */

.item-favorite-count {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 282px;
  height: 18px;
  margin-top: 6px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}

.favorite {
  background-image: url('../img/favorite.png');
  background-size: cover;
  width: 13.4px;
  height: 11.65px;
}

/* 좋아요 카운트 */

.options {
  display: flex;
  gap: 12px;
}

.search-box {
  display: flex;
  align-items: center;
  width: 325px;
  height: 42px;
  border-radius: 12px;
  padding: 9px 20px 9px 16px;
  border: none;
  background-color: #f3f4f6;
}

.search {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  color: #9ca3af;
  border: none;
  background-color: #f3f4f6;
}

.search:focus {
  outline: none;
}

.search-btn {
  background-image: url('../img/search.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border: none;
}

.add-item-btn {
  background-color: #3692ff;
  width: 133px;
  height: 42px;
  padding: 12px 23px 12px 23px;
  border-radius: 8px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
  border: none;
  display: flex;
  align-items: center;
}

/* 검색 인풋, 상품등록 버튼 */

.drop-arrow {
  background-image: url('../img/drop-down.png');
  background-size: cover;
  color: #1f2937;
  width: 14.7px;
  height: 7.42px;
}

.drop-down-text-box {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.recent-btn {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-radius: 12px 12px 0px 0px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
}

.favorite-btn {
  width: 130px;
  height: 42px;
  padding: 12px 20px;
  border: 1px solid #e5e7eb;
  border-top: none;
  border-radius: 0px 0px 12px 12px;
  font-family: pretendard;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
}

.drop-down-box {
  position: absolute;
  top: 50px;
}

.drop-down-containor {
  position: relative;
}

/* 드롭다운 */

.page-num-box {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 43px;
}

.page-num-box > button {
  width: 40px;
  height: 40px;
  gap: 0px;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  color: #4b5563;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-num-box > button:hover {
  background-color: #2f80ed;
  color: white;
}

.before-page-btn {
  background-image: url('../img/before-page-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.5px;
  height: 7px;
}

.next-page-btn {
  background-image: url('../img/next-page-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 3.5px;
  height: 7px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .best-items-containor {
    margin-top: 24px;
  }

  .best-items-containor > .grid-box {
    width: 695px;
    height: 432px;
    margin-top: 16px;
    gap: 10px;
  }

  .best-items-containor > .grid-box > .item-box > .item-img {
    width: 343px;
    height: 343px;
  }

  .best-items-containor > .grid-box > .item-box {
    width: 343px;
    height: 434px;
  }

  .best-items-containor > .grid-box > .item-box > .item-name {
    width: 282px;
    height: 24px;
    margin-top: 10px;
    font-size: 14px;
  }

  .for-sale-items-containor > .grid-box {
    width: 695px;
    height: 674px;
    display: grid;
    grid-template-columns: repeat(3, 221px);
    grid-template-rows: repeat(2, 317px);
    row-gap: 40px;
    column-gap: 16px;
    margin-top: 24px;
  }

  .for-sale-items-containor > .grid-box > .item-box {
    width: 221px;
    height: 317 px;
    border-radius: 16px;
  }

  .for-sale-items-textBox {
    width: 695px;
  }

  .search-box {
    width: 242px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .best-items-containor {
    margin-top: 17px;
    width: 343px;
    height: 482px;
  }

  .best-items-containor > .grid-box > .item-box > .item-img {
    width: 343px;
    height: 343px;
  }

  .best-items-containor > .grid-box {
    width: 343px;
    height: 482px;
    display: flex;
    margin-top: 16px;
  }

  .for-sale-items-containor {
    margin-top: 24px;
    width: 344px;
    height: 668px;
  }

  .for-sale-items-textBox {
    display: block;
  }

  .options-box-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .options-box-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  .for-sale-items-containor > .grid-box > .item-box > .item-img {
    width: 168px;
    height: 168px;
    border-radius: 12px;
  }

  .for-sale-items-containor > .grid-box {
    width: 344px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(2, 168px);
    grid-template-rows: repeat(2, 264px);
    row-gap: 32px;
    column-gap: 8px;
    margin-top: 24px;
  }

  .for-sale-items-containor > .item-box {
    width: 221px;
    height: 378px;
  }

  .search-box {
    width: 288px;
    height: 42px;
  }

  .drop-arrow {
    background-image: url('../img/drop-down-mobile.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: #1f2937;
    width: 15px;
    height: 15px;
  }

  .drop-down-text-box {
    width: 42px;
    height: 42px;
    padding: 0px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drop-down-box {
    position: absolute;
    top: 50px;
    right: 0px;
  }
}
