.Nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  height: 70px;
  border-bottom: 1px solid #dfdfdf;
}

.Nav-logo {
  width: 153px;
  height: 51px;
  margin-top: 10px;
  margin-right: 32px;
  margin-left: 200px;
}

.Nav-text {
  font-size: 18px;
  font-weight: 700;
  padding: 21px 15px;
  line-height: 26px;
}

.Nav-user {
  width: 40px;
  height: 40px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: 200px;
}
