@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

.registration-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 42px;
  margin-top: 24px;
}

.registration-text {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
}

.registration-submit {
  width: 74px;
  height: 42px;
  border-radius: 8px;
  background-color: #9ca3af;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1100px;
}

label {
  margin-top: 24px;
  width: 1200px;
  text-align: left;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
}

#name,
#price,
#tags {
  padding: 24px 15.45px 24px 17.38px;
  margin-top: 12px;
  width: 1200px;
  height: 56px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

input::placeholder {
  color: #9ca3af;
}

#description {
  padding: 24px 16px;
  margin-top: 12px;
  width: 1200px;
  height: 282px;
  border-radius: 12px;
  border: none;
  background-color: #f3f4f6;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  resize: none;
}
textarea::placeholder {
  color: #9ca3af;
}

.err-text {
  margin-top: 8px;
  margin-left: 16px;
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 600;
  color: #f74747;
  width: 1200px;
  text-align: left;
  display: none;
}

input:focus {
  outline: 1px solid #3692ff;
}

textarea:focus {
  outline: 1px solid #3692ff;
}
