.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.bestProductGrid,
.normalProductGrid {
  display: grid;
  gap: 20px;
  width: 100%;
}

.bestProductsSection {
  margin-bottom: 40px;
}

.productGrid {
  width: 100%;
  display: grid;
  gap: 20px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.loadMoreButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #0051bb;
}

/* Mobile */
@media (max-width: 767px) {
  .bestProductGrid {
    grid-template-columns: 1fr;
  }

  .productGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .bestProductGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .productGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .bestProductGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .normalProductGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
