.article-preview {
  width: 120rem;
  height: 13.8rem;
  background-color: var(--alabaster-color);
  border-bottom: 0.1rem solid var(--gray200-color);
}

.top-bar {
  width: 120rem;
  height: 7.2rem;
  gap: 0.8rem;
}

.title {
  font-size: 2rem;
  line-height: 1.6em;
  color: var(--gray800-color);
}

.bottom-bar {
  width: 120rem;
  height: 2.6rem;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

.bottom-bar-owner-date {
  gap: 0.8rem;
}

.bottom-bar-owner {
  gap: 0.8rem;
}

.owner-name {
  font-size: 1.4rem;
  color: var(--gray600-color);
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .article-preview {
    width: 69.6rem;
  }

  .top-bar {
    width: 69.6rem;
  }

  .bottom-bar {
    width: 69.6rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .article-preview {
    width: 34.3rem;
  }

  .top-bar {
    width: 34.3rem;
  }

  .bottom-bar {
    width: 34.3rem;
    height: 2.4rem;
  }
}
