.bestboard {
  width: 120rem;
  height: 21.7rem;
}

.label {
  height: 2.4rem;
  font-size: 2rem;
}

.list {
  width: 120rem;
  height: 16.9rem;
  overflow: hidden;
  margin-top: 2.4rem;
  gap: 2.4rem;
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .bestboard {
    width: 69.6rem;
    height: 24.6rem;
  }

  .list {
    width: 69.6rem;
    height: 19.8rem;
    gap: 1.6rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .bestboard {
    width: 34.4rem;
    height: 24rem;
  }

  .label {
    height: 2.6rem;
    font-size: 1.8rem;
    line-height: 1.44444em;
  }

  .list {
    width: 34.3rem;
    height: 19.8rem;
    margin-top: 1.6rem;
  }
}
