.board {
  width: 120rem;
  margin-top: 4rem;
  margin-bottom: 29.3rem;
}

.top-bar {
  width: 120rem;
  height: 4.2rem;
}

.top-bar-name {
  font-size: 2rem;
  line-height: 1.6em;
  color: var(--gray800-color);
}

.top-bar-btn-write-post {
  width: 8.8rem;
  height: 4.2rem;
  background-image: url(../../public/buttons/btn_small_write_post.svg);
}

.middle-bar {
  width: 120rem;
  height: 4.2rem;
  margin-top: 2.4rem;
}

.list {
  width: 120rem;
  margin-top: 2.4rem;
  gap: 2.4rem;
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .board {
    width: 69.6rem;
    margin-bottom: 1.9rem;
  }

  .top-bar {
    width: 69.6rem;
  }

  .middle-bar {
    width: 69.6rem;
    margin-top: 4.8rem;
  }

  .list {
    width: 69.6rem;
    margin-top: 4rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .board {
    width: 34.3rem;
    margin-bottom: 9.1rem;
  }

  .top-bar {
    width: 34.3rem;
  }

  .middle-bar {
    width: 34.3rem;
    margin-top: 1.6rem;
  }

  .list {
    width: 34.3rem;
    margin-top: 1.6rem;
  }
}
