.main {
  width: 120rem;
  margin: 0 auto;
  margin-top: var(--header-height);
  padding-top: 2.4rem;
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .main {
    width: 69.6rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .main {
    width: 34.4rem;
    padding-top: 1.6rem;
  }
}
