.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Article_contaner {
  width: 1200px;
  height: 756px;
  margin-top: 40px;
  margin-bottom: 293px;
}

.Article_subject_button {
  width: 1200px;
  height: 42px;
  align-items: center;
}

.Article_subject {
  width: 52px;
  height: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1f2937;
}

.Article_button {
  width: 88px;
  height: 42px;
  border-radius: 8px;
  padding: 12px 23px;
  background-color: #3692ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: #ffffff;
}

.Article_search_form {
  width: 1200px;
  height: 42px;
  margin-top: 24px;
  position: relative;
}

.search_form_font {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.Article_search_img {
  position: absolute;
  top: 9px;
  left: 16px;
}

.Article_search_input {
  width: 1054px;
  height: 42px;
  padding: 9px 0 9px 44px;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
  color: #9ca3af;
}

.Article_search_input:focus {
  outline: none;
  border: 1px solid #3692ff;
}

.Article_drop_down {
  width: 130px;
  height: 42px;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 9px 0 7px 20px;
  color: #1f2937;
  position: relative;
}

.Article_drop_down_arrow {
  position: absolute;
  top: 9px;
  right: 20px;
}

.Article_ul {
  width: 1200px;
  height: 624px;
  margin: 24px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: scroll;
}

.Article_ul::-webkit-scrollbar{
  display: none;
}

.Article_li {
  width: 1200px;
  height: 138px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fcfcfc;
}

@media (min-width: 744px) and (max-width: 1199px) {

}

@media (min-width: 375px) and (max-width: 743px) {

}