.flex_row {
  display: flex;
  flex-direction: row;
}

.ArticleBody_subject {
  width: 1200px;
  height: 72px;
  justify-content: space-between;
}

.ArticleBody_title {
  width: 1120px;
  height: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #1f2937;
}

.ArticleBody_product_img {
  border: 1px solid #f3f4f6;
  border-radius: 8px;
}

.ArticleBody_additional_information {
  width: 1200px;
  height: 26px;
  margin: 16px 0 24px;
  justify-content: space-between;
}

.ArticleBody_box {
  width: auto;
  height: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.ArticleBody_user_img {
  border-radius: 50%;
  background-color: #d1d5db;
  margin: 1px 0;
}

.ArticleBody_user {
  width: auto;
  height: 26px;
  margin-left: 8px;
  color: #4b5563;
}

.ArticleBody_date {
  width: auto;
  height: 26px;
  margin-left: 8px;
  color: #9ca3af;
}

.ArticleBody_favorite {
  width: auto;
  height: 26px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #6b7280;
  align-items: center;
  gap: 8px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .ArticleBody_subject {
    width: 696px;
  }

  .ArticleBody_title {
    width: 616px;
  }

  .ArticleBody_additional_information {
    width: 696px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .ArticleBody_subject {
    width: 343px;
  }

  .ArticleBody_title {
    width: 283px;
    height: 72px;
    font-size: 18px;
    line-height: 26px;
  }

  .ArticleBody_additional_information {
    width: 343px;
    height: 24px;
  }

  .ArticleBody_box {
    height: 24px;
  }

  .ArticleBody_user_img {
    margin: 0;
  }

  .ArticleBody_user {
    height: 24px;
  }

  .ArticleBody_date {
    height: 24px;
  }

  .ArticleBody_favorite {
    height: 24px;
  }
}
