.flex_row {
  display: flex;
  flex-direction: row;
}

.BestArticleBody_key_information {
  width: 336px;
  height: 72px;
  margin-top: 14px;
  justify-content: space-between;
}

.BestArticleBody_title {
  width: 256px;
  height: 64px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  color: #1f2937;
}

.BestArticleBody_default_img {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.BestArticleBody_additional_information {
  width: 336px;
  height: 24px;
  margin-top: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  justify-content: space-between;
}

.BestArticleBody_box {
  width: auto;
  height: 24px;
  color: #6b7280;
}

.BestArticleBody_user {
  width: auto;
  height: 24px;
  color: #4b5563;
}

.BestArticleBody_favorite {
  width: auto;
  height: 24px;
  margin-left: 8px;
  align-items: center;
  gap: 4px;
}

.BestArticleBody_date {
  width: auto;
  height: 24px;
  color: #9ca3af;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .BestArticleBody_key_information {
    width: 292px;
  }
  
  .BestArticleBody_title {
    width: 180px;
    height: 72px;
    font-size: 18px;
    line-height: 26px;
  }
  
  .BestArticleBody_additional_information {
    width: 292px;
    margin-top: 40px;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .BestArticleBody_key_information {
    width: 295px;
  }
  
  .BestArticleBody_title {
    width: 183px;
    height: 72px;
    font-size: 18px;
    line-height: 26px;
  }
  
  .BestArticleBody_additional_information {
    width: 292px;
    margin-top: 40px;
  }
}
