@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Pretendard', sans-serif;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  font-size: 16px;
  color: #4B5563;
}

a {
  text-decoration: none;
}