main {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: auto;
  align-items: start;
}

.fontStyle {
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

.itemName {
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
}

.itemPrice {
  font-size: 16px;
  font-weight: 700;
  color: #1f2937;
}

.itemFavoriteCnt {
  font-size: 12px;
  font-weight: 500;
  color: #4b5563;
}

@media (max-width: 1199px) {
  main {
    grid-template-columns: 1fr 696px 1fr;
  }
}

@media (max-width: 743px) {
  main {
    grid-template-columns: 16px 1fr 16px;
  }
}
