* #header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 70px;
}
#headerLogoImg {
  margin-left: 200px;
}
#linkStr {
  text-decoration: none;
}

#headerStr {
  display: flex;
  margin-left: 48.41px;
  margin-right: auto;
  gap: 30px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@media (max-width: 1199px) {
  #headerLogoImg {
    margin-left: 20px;
  }
}
