@import url('./reset.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

* {
  box-sizing: border-box;
}

main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
