button {
  border: none;
  cursor: pointer;
}

.favoriteButton {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../images/ic_heart_empty_small.svg) no-repeat center;
}

.registrationButton {
  width: 13.3rem;
  height: 4.2rem;
  background: url(../images/btn_registration.svg) no-repeat center;
}

.btn-registration-74-decative {
  width: 7.4rem;
  height: 4.21rem;
  background: url(../images/btn_registration_74_deactive.svg) no-repeat center;
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .main__tools-button {
    grid-area: b1;
  }
}
