.dropdownToggle {
  width: 13rem;
  height: 4.2rem;
  position: relative;
  border: solid 1px;
  border-radius: 0.75em;
  border-color: var(--gray200-color);
  text-align: start;
  padding: 0.1rem 2rem;
  background-color: var(--white-color);
  background: 8.6rem url(../images/arrow_down.svg) no-repeat;
  cursor: pointer;
}

.dropdownMenue {
  box-sizing: border-box;
  width: 13rem;
  position: relative;
  top: 0.8rem;
  z-index: 8;
  border: solid 1px;
  border-radius: 0.75em;
  border-color: var(--gray200-color);
  text-align: center;
  background-color: var(--white-color);
  justify-content: space-between;
}

.mobileMenu {
  left: -8.8rem;
}

.dropdownItem {
  box-sizing: content-box;
  overflow: hidden;
  cursor: pointer;
  height: 4.2rem;
  place-content: center;
  border-bottom: solid 1px;
  border-color: var(--gray200-color);
}

.lastItem {
  border-bottom: none;
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .main__tools-dropdown {
    grid-area: d1;
  }

  .dropdownToggle {
    width: 4.2rem;
    background: url(../images/btn_sort_small.svg) no-repeat;
  }
}
