.dropdown-product-sort {
  width: 13rem;
  height: 4.2rem;
  border: solid 1px;
  border-radius: 1.2em;
  /* padding : 12px, 20px, 12px, 20px; */
  /* padding : 1.2em 2em 1.2em 2em; */
  border-color: var(--gray200-color);
}

.dropdown-product-sort-item {
  position: relative;
  width: 13rem;
  height: 4.2rem;
  border: solid 1px;
  border-color: var(--gray200-color);
  text-align: center;
  text-anchor: center;
  background-color: var(--white-color);
  z-index: 99;
}

.firstDropItem {
  margin-top: 2rem;
  border-radius: 1.2em 1.2em 0em 0em;
}

.lastDropItem {
  border-radius: 0em 0em 1.2em 1.2em;
}
