/* ===== header(GNB) ===== */
header {
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7rem;
  max-width: 192rem;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--white-color);
  border: solid;
  border-width: 1px;
  border-color: var(--alto-color);
}

/* ===== home button ===== */
.header__btn-home-frame {
  margin-left: 20rem;
  margin-right: 3.2rem;
}

.header__img-home {
  object-fit: cover;
  width: 15.3rem;
  height: 5.1rem;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  content: url(../images/btn_home.svg);
}

/* ===== menu in headerr =====*/
.header__navi {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 6.9rem;
  width: 100%;
}

.header__list {
  display: flex;
  flex-direction: row;
}

.header__list-item {
  display: flex;
  flex-direction: row;
  width: 10.9rem;
  height: 6.9rem;
  /* line-height : 21.48px; */
  line-height: 1.19333em;
  color: var(--gray600-color);
  text-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ===== login button ===== */
.header__btn-login-frame {
  width: 8.8rem;
  height: 4.2rem;
  display: flex;
  margin-right: 20rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.header__img-login {
  object-fit: cover;
  width: 8.8rem;
  height: 4.2rem;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  content: url(../images/btn_login.svg);
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  /* 판다마켓 로고 왼쪽 여백 24px */
  .header__btn-home-frame {
    margin-left: 2.4rem;
    margin-right: 2rem;
  }

  /* 로그인 버튼 오른쪽 여백 24px */
  .header__btn-login-frame {
    margin-right: 2.4rem;
  }

  /* main section height */
  .height_hero {
    height: 77.1rem;
  }

  .header__img-home {
    width: 15.3rem;
    height: 5.1rem;
    content: url(../images/btn_home.svg);
  }

  .height_article {
    height: 75.8rem;
  }

  .height_blank {
    height: 4rem;
  }

  .header__img-login {
    content: url(../images/btn_login.svg);
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  /* 판다마켓 로고 왼쪽 여백 16px */
  .header__btn-home-frame {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
  }

  /* 로그인 버튼 오른쪽 여백 16px */
  .header__btn-login-frame {
    margin-right: 1.6rem;
  }

  .header__img-home {
    width: 8.1rem;
    height: 4rem;
    content: url(../images/btn_home_small.svg);
  }

  .header__list {
    gap: 0.8rem;
  }

  .header__list-item {
    font-size: 1.6rem;
    width: 100%;
  }

  .header__img-login {
    content: url(../images/btn_login.svg);
  }
}
