.loading-top {
  position: fixed;
  top: 35rem;
  width: 120rem;
  z-index: 999;
}

.loading-spinner {
  display: block;
  margin: 0 auto;
  width: 12rem;
  height: 6rem;
  content: url(../images/loading_infinite_spinner.svg);
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .loading-top {
    width: 69.6rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .loading-top {
    width: 33.4rem;
  }
}
