:root {
  background-color: var(--white-color);
}

.main-frame {
  width: 120rem;
  height: 144.1rem;
  margin: 0 auto;
}

.best-product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.6em;
}

.product-best__img-frame {
  width: 28.2rem;
  height: 28.2rem;
  overflow: hidden;
  position: relative;
}

.product__img-frame {
  width: 22.1rem;
  height: 22.1rem;
  overflow: hidden;
  position: relative;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1.6em;
}

.product__text {
  width: 100%;
  height: 8rem;
}

.main__section-best-products {
  margin-top: 9.4rem;
}

.main__section-products {
  margin-top: 4rem;
}

.main__products-tools {
  height: 4.2rem;
  display: grid;
  grid-template-columns: 57.8rem 32.5rem 13.3rem 13rem;
  gap: 1.2rem;
}

.main__best-products-frame {
  width: 100%;
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(4, 28.2rem);
  grid-column-gap: 2.4rem;
}

.main__products-frame {
  width: 100%;
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(5, 22.1rem);
  grid-column-gap: 2.4rem;
  grid-row-gap: 4rem;
}

.main__best-product-article {
  width: 28.2rem;
  height: 37.8rem;
}

.main__product-article {
  width: 22.1rem;
  height: 31.7rem;
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .main-frame {
    width: 69.6rem;
    height: 150.8rem;
    margin: 0 auto;
  }

  .product-best__img-frame {
    width: 34.3rem;
    height: 34.3rem;
  }

  .main__best-products-frame {
    grid-template-columns: repeat(2, 34.3rem);
    grid-column-gap: 1rem;
  }

  .main__products-tools {
    display: grid;
    grid-template-columns: 15.4rem 24.2rem 13.3rem 13rem;
    gap: 1.2rem;
  }

  .main__products-frame {
    grid-template-columns: repeat(3, 22.1rem);
    grid-column-gap: 1.6rem;
    grid-row-gap: 4rem;
  }

  .main__best-product-article {
    width: 34.3rem;
    height: 43.4rem;
  }

  .main__product-article {
    width: 22.1rem;
    height: 31.7rem;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .main-frame {
    width: 34.3rem;
    height: 134.6rem;
    margin: 0 auto;
  }

  .product-best__img-frame {
    width: 34.3rem;
    height: 34.3rem;
  }

  .product__img-frame {
    width: 16.8rem;
    height: 16.8rem;
  }

  .main__products-tools {
    width: 34.4rem;
    height: 9.2rem;
    display: grid;
    grid-template-columns: 11.3rem 7rem 7.7rem 4.2rem;
    gap: 0.8rem 1.4rem;
    grid-template-areas:
      "a1 . b1 b1"
      "s1 s1 s1 d1";
  }

  .main__best-products-frame {
    grid-template-columns: repeat(1, 34.3rem);
    grid-column-gap: 0rem;
  }

  .main__products-frame {
    margin-top: 1.6rem;
    grid-template-columns: repeat(2, 16.8rem);
    grid-column-gap: 0.8rem;
    grid-row-gap: 3.2rem;
  }

  .main__best-product-article {
    width: 34.3rem;
    height: 43.4rem;
  }

  .main__product-article {
    width: 16.8rem;
    height: 26.4rem;
  }
}
