.Container {
  border-bottom: 1px solid #e5e7eb;
  background-color: #f9fafb;
}
.PostviewContainer {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}
.PostviewImg {
  width: 72px;
  height: 72px;
  border-radius: 8px;
  border: 1px solid #f3f4f6;
  margin-bottom: 16px;
}
.PostviewInfo {
  display: flex;
  justify-content: space-between;
}

.Posttitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.MyName {
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
}
.MyDate {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}
