* {
    font-family: Pretendard;
    box-sizing: border-box;
}

:root {
    --input_box_bg: #F3F4F6;
    --input_box_ft-signup_box_bg: #9CA3AF;
    --input_box_focus: #3692FF;
    --signup_box_ft: #ffffff;
    --simple_login_bg: #E6F2FF;
    --simple_login-login_ft: #1F2937;
    --login_a_ft: #3182F6;
}

html {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body {
    max-width: 400px;
    min-width: 344px;
    width: 100%;
    height: auto;
    margin: 24px 16px;
}

.header_contaner {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img_logo {
    width: 198px;
    height: 66px;
    background-image: url(img/logo.png);
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    max-width: 400px;
    min-width: 343px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.label_font {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    color: var(--simple_login-login_ft);
}

#email_ft {
    margin-top: 0;
}

.input_box {
    width: 100%;
    height: 56px;
    border: 0;
    border-radius: 12px;
    padding: 16px 24px;
    margin-top: 8px;
    background-color: var(--input_box_bg);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--input_box_ft-signup_box_bg);
}

.input_box:focus {
    outline: none;
    border: 1px solid var(--input_box_focus);
}

/* js */
.input_less {
    outline: none;
    border: 1px solid #F74747;
}
/* js */
.add_ms {
    margin: 8px 16px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 17.9px;
    color: #F74747;
}

.icon_box {
    position: relative;
}

.icon_box_check {
    position: relative;
}

.icon {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 24px;
    cursor: pointer;
}

.signup_box {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 40px;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--signup_box_ft);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_box_no_activate {
    background-color: var(--input_box_ft-signup_box_bg);
} 

.signup_box:focus {
    outline: none;
}

/* js */
.signup_box_activate {
    background-color: #3692FF;
    cursor: pointer;
}

.simple_login {
    width: 100%;
    height: 74px;
    border-radius: 8px;
    padding: 0 24px;
    margin-bottom: 24px;
    background-color: var(--simple_login_bg);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--simple_login-login_ft);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.simple_login_box {
    width: 100px;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.google {
    width: 42px;
    height: 42px;
}

.kakao {
    width: 42px;
    height: 42px;
}

.login {
    width: 100%;
    height: 18px;
    font-size: 15px;
    font-weight: 500;
    line-height: 17.9px;
    color: var(--simple_login-login_ft);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login a {
    color: var(--login_a_ft);
}

/* js */
.modal {
    width: 100%;
    height: 100%;
    background-color: #000000B2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.modal_none {
    display: none;
}

.modal_body {
    max-width: 400px;
    min-width: 327px;
    width: 100%;
    height: 220px;
    border-radius: 8px;
    margin: 0 24px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal_massage {
    margin-top: 81px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.09px;
    color: #1F2937;
}

.modal_button {
    width: 120px;
    height: 48px;
    border-radius: 8px;
    border: 0;
    margin-bottom: 23px;
    background-color: #3692FF;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.09px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal_button:focus {
    outline: none;
}