:root {
    --input_box_bg: #F3F4F6;
    --input_box_ft-signup_box_bg: #9CA3AF;
    --input_box_focus: #3692FF;
    --signup_box_ft: #ffffff;
    --simple_login_bg: #E6F2FF;
    --simple_login-login_ft: #1F2937;
    --login_a_ft: #3182F6;
}

.header_contaner {
    height: 192px;
    align-items: end;
}

.img_logo {
    width: 396px;
    height: 132px;
}

.main {
    margin-top: 40px;
}

.label_font {
    margin-top: 24px;
    font-size: 18px;
    line-height: 21.48px;
}

.input_box {
    width: 640px;
    margin-top: 16px;
}

.signup_box {
    width: 640px;
    padding: 16px 124px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 20px;
}

.simple_login {
    width: 640px;
    padding: 0 23px;
}

.modal_body {
    width: 540px;
    height: 250px;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.modal_massage {
    margin-top: 108px;
}

.modal_button {
    position: absolute;
    bottom: 28px;
    right: 28px;
}