.showline {
  border: 1px solid skyblue;
}



.ProductList {
  width: 100%;
  padding: 24px 360px 141px 360px;
}



.BestProduct-container {
  max-width: 1920px;
  margin: auto;
}
.BestProduct-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #111827;
}
.BestProduct-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.BestProduct-item img { 
  width: 100%;
  display: block;
}
.BestProduct-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}





.OnSaleProduct-container {
  max-width: 1920px;
  margin: 40px auto 43px auto;
}
.OnSaleProduct-nav {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.OnSaleProduct-search {
  height: 100%;
  display: flex;
  justify-content: right;
  flex-grow: 1;
  margin-right: 12px;
  gap: 12px;
}
.OnSaleProduct-search input {
  width: 325px;
}
.OnSaleProduct-search button {
  padding: 8px 23px;
}

