.showline {
  border: 1px solid skyblue;
}



.ProductList {
  width: 100%;
  padding: 24px 360px 141px 360px;
}



.BestProduct-container {
  max-width: 1920px;
  margin: auto;
}
.BestProduct-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #111827;
}
.BestProduct-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.BestProduct-item img { 
  width: 100%;
  display: block;
}
.BestProduct-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.BestProduct-content .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1F2937;
}
.BestProduct-content .price {
  font-weight: 700px;
  font-size: 16px;
  line-height: 26px;
}
.BestProduct-content .favoriteCount {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: 18px;
}





.OnSaleProduct-container {
  max-width: 1920px;
  margin: 40px auto 43px auto;
}
.OnSaleProduct-nav {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}
.OnSaleProduct-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #111827;
}
.OnSaleProduct-search-upload {
  height: 100%;
  display: flex;
  justify-content: right;
  flex-grow: 1;
  margin-right: 12px;
  gap: 12px;
}
.OnSaleProduct-search {
  width: 325px;
  padding: 9px 0 9px 16px;
  background-color: #F3F4F6;
  border: none;
  border-radius: 12px;
}
.OnSaleProduct-search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9CA3AF;
}
.OnSaleProduct-upload {
  padding: 8px 23px;
  border: none;
  border-radius: 8px;
  background-color: #3692FF;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #F3F4F6;
}
.OnSaleProduct-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
}
.OnSaleProduct-item img { 
  width: 100%;
  display: block;
}
.OnSaleProduct-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.OnSaleProduct-content .description {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1F2937;
}
.OnSaleProduct-content .price {
  font-weight: 700px;
  font-size: 16px;
  line-height: 26px;
}
.OnSaleProduct-content .favoriteCount {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: 18px;
}