.postLayout {
  max-width: 1200px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 1200px;
}

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #1f2937;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
}

.titleInput {
  width: 100%;
  border: none;
  height: 56px;
  background-color: #f3f4f6;
  padding: 16px 24px;
  border-radius: 12px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.contentInput {
  width: 100%;
  border: none;
  height: 282px;
  background-color: #f3f4f6;
  padding: 16px 24px;
  box-sizing: border-box;
  resize: none;
  border-radius: 12px;
  margin-bottom: 300px;
}
