.auth-container {
  max-width: 640px;
  margin: 0 auto;
  
}

button.pill-button {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.logo-home-button-wrapper {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.input-item {
  margin-bottom: 24px;
}

.input-item label {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

.input-item input {
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.input-item input::placeholder {
  color: #9ca3af;
  font-size: 16px;
  line-height: 24px;
}

.input-item input:focus {
  outline-color: var(--blue);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-item input.error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}


.password-toggle-button {
  position: absolute;
  right: 24px;
}

.social-login-container {
  background-color: #e6f2ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 23px;
  margin: 24px 0;
}

.social-login-container h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-login-buttons-container {
  display: flex;
  gap: 16px;
}

.auth-switch {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.auth-switch a {
  color: #3182f6;
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* 반응형 디자인을 위한 미디어 쿼리 추가 */
/* Tablet */
@media (max-width: 1199px) and (min-width: 768px) {
  .auth-container {
    padding: 0 20px; /* auth 컨테이너 패딩 추가 */
  }
}

/* Mobile */
@media (max-width: 767px) and (min-width: 375px) {
  .auth-container {
    padding: 0 15px; /* auth 컨테이너 패딩 추가 */
  }
}
