.buttonLayout {
  position: relative;
}

.commentBtn {
  background-color: #9ca3af;
  border: none;
  padding: 12px 23px;
  color: #ffff;
  border-radius: 8px;
  margin-top: 16px;
  width: 74px;
  height: 42px;
  float: right;
}

.commentSubmitBtn {
  background-color: #3692ff;
  border: none;
  padding: 12px 23px;
  color: #ffff;
  border-radius: 8px;
  margin-top: 16px;
  width: 74px;
  height: 42px;
  float: right;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  right: 0%;
}

.articleBtn {
  background-color: #9ca3af;
  border: none;
  padding: 12px 23px;
  color: #ffff;
  border-radius: 8px;
  width: 74px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  right: 0%;
  margin-top: -69px;
}

.articleSubmitBtn {
  background-color: #3692ff;
  border: none;
  padding: 12px 23px;
  color: #ffff;
  border-radius: 8px;
  width: 74px;
  height: 42px;
  cursor: pointer;
  position: absolute;
  right: 0%;
  margin-top: -69px;
}
