.footer {
  background-color: #111827;
  height: 160px;
  margin-top: auto;
  padding-top: 32.5px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 400px 0;
}

.footer_copyright {
  font-weight: 400;
  line-height: 19.09px;
  color: #9ca3af;
}

.footer_information {
  font-weight: 400;
  line-height: 19.09px;
  color: #e5e7eb;
  display: flex;
  gap: 30px;
}

.footer_sns_container {
  display: flex;
  width: fit-content;
  gap: 12px;
}
