.footer {
  background: #111827;
  width: 100%;
  height: auto;
  height: 160px;
}

.footerList {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  gap: 10px;
}

.codeitLogo {
  margin-top: 32px;
}

.textList {
  color: #e5e7eb;
  margin-top: 32px;
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 400;
}

.snsLogo {
  margin-top: 32px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.codeitLogoMobile {
  display: none;
}

@media screen and (max-width: 1199px) {
  .footerList {
    margin: 0 24px;
  }
}

@media screen and (max-width: 743px) {
  .footerList {
    margin: 0 16px;
  }
  .codeitLogo {
    display: none;
  }

  .codeitLogoMobile {
    display: block;
    margin: 16px;
  }
}
