* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --grey-900: #111827;
  --grey-800: #1f2937;
  --grey-500: #9ca3af;
  --grey-600: #4b5563;
  --grey-400: #6b7280;
  --grey-50: #f9fafb;

  --blue: #3692ff;
}
