html,
body {
  max-width: 100vw;
  min-height: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0 au;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
