@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --font-family: Pretendard;
  --brand-blue: #3692ff;
  --main-white: #ffffff;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

html {
  font-size: 16px;
}

body {
  overflow-y: scroll;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
  overflow-x: hidden;
  width: 100%;
}
