.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#hero {
  background-image: url("../images/home/hero-image.png");
}

#features {
  padding-bottom: 138px;
}

#bottom-banner {
  background-image: url("../images/home/bottom-banner-image.png");
}

#login-link-button {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
  margin-left: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 20px; 
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #000; 
  font-size: 16px;
}

.banner .pill-button {
  margin-top: 32px;
  
}

.feature {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.feature:nth-child(2) {
  text-align: right;
}

.feature-content {
  flex: 1;
}

.feature-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.feature-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
}

/* 반응형 디자인을 위한 미디어 쿼리 추가 */
/* Tablet */
@media (max-width: 1199px) and (min-width: 768px) {
  .banner {
    height: 400px;
    background-position: center bottom; /* 배너 높이 및 배경 위치 변경 */
  }
  
  .feature {
    flex-direction: column;
    text-align: center;
    padding: 60px 0; /* 피처 레이아웃 및 패딩 변경 */
  }
}

/* Mobile */
@media (max-width: 767px) and (min-width: 375px) {
  .banner {
    height: 300px;
    background-position: center bottom;
    background-size: cover; /* 배너 높이 및 배경 크기 변경 */
  }
  
  .feature {
    flex-direction: column;
    text-align: center;
    padding: 40px 0; /* 피처 레이아웃 및 패딩 변경 */
  }
  
  .feature img {
    width: calc(100% - 32px); /* 이미지 크기 변경: 좌우 여백 32px 제외 */
  }
}


