.marketContainer {
  padding-top: 74px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.marketContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.marketTitleText {
  font-size: 20px;
  font-weight: 700;
}

.marketTitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
}
.sellItem {
  display: flex;
}
.sellItemBtn {
  background-color: rgba(54, 146, 255, 1);
  width: 133px;
  height: 42px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: white;
  border: 0px;
  margin-right: 12px;
}

.marketTitle p {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.marketList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 160px;
}

.marketItem {
  width: calc(25% - 20px);
  background-color: #fff;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.marketImg {
  width: 282px;
  height: 282px;
}

.marketImg img {
  width: 282px;
  height: 282px;
}

.marketInfo {
  padding: 15px;
}

.marketName {
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
}
.marketPrice {
  font-size: 16px;
  font-weight: 700;
  color: #1f2937;
}

.marketInfo p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #1f2937;
  white-space: nowrap;
}

.marketInfo p:last-child {
  font-size: 1rem;
  color: #888;
}

.sellItemInput {
  position: relative;
  width: 325px;
  height: 42px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 44px;
  border: 0;
  background-color: rgba(243, 244, 246, 1);
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.sellItemInput::placeholder {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(156, 163, 175, 1);
}
.sellItemImg {
  position: relative;
  left: -54%;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownButton {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border-color: rgba(229, 231, 235, 1);
}

.dropdownButton::after {
  content: "▼";
  margin-left: 10px;
}

.dropdownContent {
  position: absolute;
  border-radius: 12px;
  top: 50px;
  background-color: white;
  z-index: 1;
  width: 120px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  border-color: rgba(229, 231, 235, 1);
}

.dropdownContent .dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownContent .dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownContent .dropdownItem:focus {
  background-color: #f1f1f1;
  outline: none;
}
