.nav {
  border-bottom: 1px solid #dfdfdf;
}

.navMenu {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 9px;
  margin-bottom: 9px;
  align-items: center;
  text-align: center;
}

.link {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 22px;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

.selectBoard {
  color: #3692ff;
}

.none {
  color: #4b5563;
}

.logoMobile {
  display: none;
}

@media screen and (max-width: 1199px) {
  .navMenu {
    margin: 10px 24px;
  }

  .main {
    margin-top: 10px;
  }
}

@media screen and (max-width: 743px) {
  .navMenu {
    margin: 15px;
    margin-top: 9px;
    margin-bottom: 9px;
    align-items: center;
  }

  .logo {
    display: none;
  }
  .logoMobile {
    display: block;
  }

  .menu {
    font-size: 16px;
    font-weight: 700;
  }

  .freeboard {
    margin-left: 15px;
  }

  .fleamarket {
    margin-left: 8px;
  }
}
