.postDetailContainer {
  padding: 40px 16px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.postTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
  position: relative;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.kebabIcon {
  margin-left: auto;
}

.postInfo {
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E7EB;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.profileIcon {
  margin-right: 20px;
  vertical-align: middle;
}

.postAuthor {
  font-size: 14px;
  color: #4B5563;
  margin-right: 20px;
}

.postDate {
  font-size: 14px;
  color: #9CA3AF;
  margin-right: 30px; /* 날짜와 line.svg 사이 간격 */
}

.author {
  margin-right: 15px;
}

.date {
  margin-right: 25px;
}

.lineIcon {
  margin-right: 25px; /* line.svg와 하트 사이 간격 */
}

.heartIcon {
  margin-right: 10px;
}

.postLikes {
  font-size: 16px;
  color: #6B7280;
}

.postContent {
  font-size: 18px;
  font-weight: 400;
  color: #1F2937;
  margin-top: 40px;
}

.commentFormContainer {
  margin-top: 35px;
  margin-bottom: 30px;
}

/* 댓글 영역 추가 */
.commentsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px; /* 댓글 간격 설정 */
  margin-bottom: 30px; /* 댓글 목록 아래 여백 */
}

.commentItem {
  background-color: #f9fafb;
  padding: 16px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; /* 댓글 높이 100px로 설정 */
  transition: transform 0.3s ease;
}

.commentTitle {
  font-size: 16px;
  font-weight: 400;
  color: #1f2937;
  margin: 0;
}

.commentDetails {
  display: flex;
  align-items: center;
}

.author {
  font-size: 14px;
  font-weight: 400;
  color: #4b5563;
  margin-right: 15px;
}

.date {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}

.commentKebab {
  display: flex;
  align-items: center;
}

.replyIcon {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px; /* reply.svg 아래에 10px 간격 */
}

.noCommentsText {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #9CA3AF;
  line-height: 26px;
}

/* 미디어 쿼리 유지 */
@media (min-width: 744px) and (max-width: 1199px) {
  .postDetailContainer {
    padding: 0 16px;
    width: 100%;
    max-width: 696px;
    margin: auto;
  }
}

@media (max-width: 743px) {
  .postDetailContainer {
    padding: 0 16px;
    width: 100%;
    margin: auto;
  }

  .postInfo {
    flex-direction: column;
    gap: 8px;
  }

  .commentItem {
    height: 80px;
  }
}

