.favorite_product_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 378px;
  gap: 6px;
}

.favorite_product_item > img {
  height: 282px;
}

.product_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 221px;
  height: 317px;
  gap: 6px;
}

.normal {
  box-sizing: border-box;
  width: 100%;
  height: 221px;
  margin-bottom: 10px;
  border-radius: 16px;
}

.name {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #1f2937;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}

.favorite_container {
  display: flex;
  gap: 4px;
}

.favorite_count {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.favorite_icon {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 1200px) {
  .favorite_product_item {
    width: 343px;
    height: 434px;
  }

  .favorite_product_item > img {
    height: 343px;
  }

  .best_Products {
    margin: auto;
    gap: 0 16px;
    overflow: hidden;
    height: 443px;
  }
  .Products {
    margin: auto;
    gap: 0 16px;
    width: 700px;
  }
}

@media screen and (max-width: 773px) {
  .product_item {
    width: 168px;
    height: 264px;
  }

  .favorite_product_item > img {
    height: 343px;
  }

  .Products {
    height: 560px;
    gap: 0 8px;
    width: 344px;
  }

  .normal {
    height: 168px;
  }
}
