.add_product_form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-top: 24px;
}

.form_submit_box {
  display: flex;
  justify-content: space-between;
}

.submit_btn {
  width: 74px;
  height: 42px;
  padding: 12px 23px 12px 23px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.09px;
  color: #ffffff;
}

.disabled_btn {
  background-color: #9ca3af;
}

.input_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_file_box {
  display: flex;
  gap: 24px;
}

.input_file_box_add_file {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 282px;
  height: 282px;
  background-color: #f3f4f6;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
}

.file_input_item_box {
  position: relative;
}

.file_item_x_icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
}

.file_input_item {
  border-radius: 12px;
  width: 282px;
  height: 282px;
}

.input {
  font-size: 16px;
  background-color: #f3f4f6;
  box-sizing: border-box;
  padding: 16px 24px;
  border-radius: 12px;
}

.input_file {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.description {
  height: 282px;
  resize: none;
}

.err_border {
  border: 1px solid red;
}

.chips_box {
  margin-top: 12px;
  margin-bottom: 219px;
  display: flex;
  gap: 12px;
}

.chip {
  box-sizing: border-box;
  display: flex;
  height: 36px;
  padding: 6px 12px 6px 16px;
  border-radius: 26px;
  background-color: #f3f4f6;
  gap: 8px;
  align-items: center;
}

.chip > button {
  height: 24px;
}

.x_icon {
  background-color: #f3f4f6;
  width: 22px;
  height: 24px;
}
