.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 1200px;
}

.mainText {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 700;
}

.noResultsHeading {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  line-height: 60px;
  font-weight: 500;
}

.noResultsMessage {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  line-height: 60px;
  margin-top: -20px;
}

.noResultsKeyword {
  font-weight: 700;
  margin-right: 10px;
}

.input {
  width: 100%;
}
