.search_container {
  margin-top: 40px;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.first_block {
  justify-content: space-between;
  display: flex;
}

.search_query_container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  text-align: center;
  position: relative;
}

.input_and_icon {
  position: relative;
}

.ic_search {
  box-sizing: border-box;
  position: absolute;
  left: 16px;
  top: 9px;
  width: 24px;
  height: 24px;
}

.keyword {
  box-sizing: border-box;
  width: 325px;
  height: 42px;
  padding: 9px 20px 9px 44px;
  border-radius: 12px;
  background-color: #f3f4f6;
}

.add_product_btn {
  width: 133px;
  height: 42px;
  /* padding: 12px 23px 12px 23px; */
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #f3f4f6;
}

.search_order_container {
  position: relative;
}

.mobile_search {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}
.order_drop_btn {
  text-align: left;
  width: 130px;
  height: 42px;
  left: 1070px;
  padding: 12px 20px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.ic_arrow_down {
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 9px;
  right: 20px;
}

.dropbox_list {
  z-index: 1;
  position: absolute;
  flex-direction: column;
  width: 130px;
  height: 84px;
  top: 50px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.dropbox_list > button {
  box-sizing: border-box;
  width: 130px;
  height: 42px;
  padding: 9px 0 7px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background-color: #ffffff;
}

.firstdrop {
  border-radius: 12px 12px 0 0;
  border: 1px solid #e5e7eb;
}

.lastdrop {
  border-radius: 0 0 12px 12px;
  border: 1px solid #e5e7eb;
}

@media screen and (max-width: 774px) {
  .search_container {
    height: 92px;
    flex-direction: column;
  }

  .order_drop_btn {
    width: 42px;
  }

  .ic_arrow_down {
    position: absolute;
    right: 9px;
  }

  .dropbox_list {
    right: 0;
  }
}
