.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
}
.signupForm {
  width: 640px;
  height: 842px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoImg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 396px;
  height: 132px;
}
.simpleLogin {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  background-color: #e6f2ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  color: #1f2937;
}

.loginIcon {
  display: flex;

  gap: 16px;
}

.formfooter {
  font-size: 14px;
  font-weight: 500;
  color: #1f2937;
  margin-top: 24px;
}
.formfooter a {
  color: #3692ff;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}
