@import '/src/assets/styles/style.css';

.appNav {
  margin: 40px auto 0;
}

.itemsNav {
  margin: 110px auto 0;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.navContainer2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.navText {
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 1199px) {
  .navContainer {
    max-width: 710px;
    gap: 31px;
  }
}

@media (max-width: 743px) {
  .navContainer {
    display: block;
  }
  .navContainer2 {
    display: flex;
    max-width: 352px;
    margin: 0 auto;
  }

  .navContainer3 {
    display: flex;
    justify-content: space-between;
    max-width: 355px;
    margin: 8px auto 0;
  }

  .itemsNav {
    margin-top: 86px;
  }
}
