.best {
  grid-row: 1;
  grid-column: 2;
}

.bestProduct {
  width: 282px;
  height: 282px;
  border-radius: 16px;
}

.sell {
  grid-row: 2;
  grid-column: 2;
  margin-top: 106px;
}

.sellProduct {
  width: 221px;
  height: 221px;
  border-radius: 16px;
}

@media (max-width: 1199px) {
  .bestProduct {
    width: 343px;
    height: 343px;
    border-radius: 19px;
  }
}

@media (max-width: 743px) {
  .bestProduct {
    width: 100%;
    height: auto;
    border-radius: 19px;
  }

  .sellProduct {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .sell {
    margin-top: 132px;
  }
}
