.bestPostTitle {
  color: var(--gray-900);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.searchSectionHug {
  display: flex;
  gap: 16px;
}

.buttonSectionHug {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  color: var(--gary-800);
  font-size: 20px;
  font-weight: 700;
}

.bestPostContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.likesHug {
  display: flex;
  color: var(--gray-500);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  gap: 4px;
}

.authorImageHug {
  display: flex;
  gap: 8px;
  align-items: center;
}

.BottomHug {
  display: flex;
  justify-content: space-between;
}

.bestPostDate {
  color: var(--gray-400);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.BestCardHeadImageHug {
  display: flex;
  flex-direction: row;
}

.communityContainer {
  padding-top: 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.postCardContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  margin-bottom: 48px;
  text-decoration: none;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 48px;
}

.spinner {
  border: 4px solid rgba(114, 114, 114, 0.1);
  border-left-color: var(--blue-100);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.selectHeader {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.optionList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.optionItem {
  padding: 10px;
  cursor: pointer;
}

.optionItem:hover {
  background-color: #f0f0f0;
}

.hiddenSelect {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
