.top-bar-btn-ellipsis {
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../../../public/icons/ic_kebab.svg);
}

.middle-bar-owner-data-set {
  gap: 0.8rem;
}

.divider {
  width: 3.2rem;
  height: 4rem;
}

.content {
  margin-top: 2.4rem;
  max-height: 100rem;
  white-space: pre-wrap;
  font-size: 1.8rem;
  line-height: 1.44444em;
  color: var(--gray800-color);
}

/* ===== Tablet - width : 744px ~ 1199px ===== */
@media (min-width: 744px) and (max-width: 1199px) {
  .middle-bar-owner-data-set {
    gap: 0.8rem;
  }

  .content {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.625em;
  }
}

/* ===== Mobile-width : 375px ~ 743px ====== */
@media (min-width: 375px) and (max-width: 743px) {
  .middle-bar-owner-data-set {
    gap: 0.2rem;
  }

  .divider {
    width: 0.1rem;
    height: 4rem;
  }

  .content {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.625em;
  }
}
