.comment-maker-frame {
  margin-top: 3.2rem;
}

.comment-list-frame {
  margin-top: 4rem;
}

.btn-to-list {
  width: 24rem;
  height: 4.8rem;
  margin: 0 auto;
  margin-top: 6.4rem;
  margin-bottom: 32.5rem;
}
