.Header {
  display: flex;
  border-bottom: 1px solid #dfdfdf;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  z-index: 999;
  white-space: nowrap;
}

.HeaderMenu {
  display: flex;
  align-items: center;
  gap: 39px;
  margin-left: 47px;
  font-size: 18px;
  font-weight: 700;
}
.HeaderBtn {
  width: 88px;
  height: 42px;
  border-radius: 8px;
  background-color: #3692ff;
  border: none;
  padding: 12px 23px 12px 23px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-right: 200px;
  margin-left: auto;
}
.HeaderImgContainer {
  position: relative;
  width: 153px;
  height: 51px;
  margin-left: 200px;
  cursor: pointer;
}
.BestItemTitle {
  position: absolute;
  left: 44px;
}
.Active {
  color: #3692ff;
  font-size: 18px;
  font-weight: 700;
  text-decoration-line: none;
}
.NotActive {
  text-decoration-line: none;
  color: #4b5563;
  font-size: 18px;
  font-weight: 700;
}
